<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="__CSS__/detail/home.css" rel="stylesheet" type="text/css">
    <title>帖子详情</title>
</head>
<body data-id="{$topicId}">

    <!--页面开始-->
    <div class="wrapper">
        <div class="content">

            <!--用户信息-->
            <div class="user-info">
                <div class="user-img">
                    <img src="__IMG__/forum/detail/ico.jpg">
                </div>
                <div class="user-txt">
                    <p class="name">小野妹子爱哲学</p>
                    <p class="type">
                        <span>06-17 17:06</span>
                        <span>新生入口/学生专栏</span>
                    </p>
                </div>
            </div>
            <!--用户信息结束-->

            <!--帖子信息-->
            <div class="info-post">
                <p class="post-txt"><span class="topic-name">#你帅你先说#</span>最常见的实现中，JIT编译器是不会把编译结果保存下来、等下次运行的时候直接拿来用的。每次重新JIT编译是最直观最容易实现的做法。
                    当然，也存在JIT编译器可以可选地把编译结果保存下来。例如说IBM J9的dynamic AOT功能。
                    dynamic AOT涉及的一些挑战：不但实现可能会比直接JIT编译直接用要复杂一些，而且生成的代码的速度通常会比直接JIT编译生成出来的要慢。
                    实际的JavaScript引擎里的JIT编译器里实现也会做类似的事情的：检测函数体有没有可能捕获其binding信息，
                    如果不可能的话就最大限度优化局部变量（例如说把它们放寄存器里之类），如果有可能被捕获则乖乖的放在某种Context / Scope / Binding对象里。
                    我知道有这样的实现，所以觉得在Babel里做这个事情应该也能做到。</p>
            </div>
            <ul class="post-img">
                <li class="img"><img src="__IMG__/forum/detail/ico.jpg"></li>
                <li class="img"><img src="__IMG__/forum/detail/ico.jpg"></li>
                <li class="img"><img src="__IMG__/forum/detail/ico.jpg"></li>
                <li class="img"><img src="__IMG__/forum/detail/ico.jpg"></li>
                <li class="img"><img src="__IMG__/forum/detail/ico.jpg"></li>
                <div class="clear"></div>
            </ul>


            <div class="location-box">
                <div id="location-img"></div>
                <span class="location">阿拉善地区</span>
            </div>

            <ul class="footer">
                <li class="like-people"></li>
                <li class="like-num"></li>
                <li class="like-btn"></li>
            </ul>

            <div class="discuss">
                <div class="teacher">
                    <div class="user-left">
                        <div class="user-img">
                        </div>
                        <div class="user-txt">
                            <p class="name">小野妹子爱哲学</p>
                            <p class="type">
                                <span>06-17 17:06</span>
                            </p>
                        </div>
                    </div>
                    <div class="user-right"></div>
                </div>
                <div class="student">
                    <div class="user-left">
                        <div class="user-img">
                        </div>
                        <div class="user-txt">
                            <p class="name">小野妹子爱哲学</p>
                            <p class="type">
                                <span>06-17 17:06</span>
                            </p>
                        </div>
                    </div>
                    <div class="user-right"></div>
                </div>
            </div>

        </div>
    </div>

    <!--下载条-->
    <div id="downloadCon">
            <img src="http://pic.hisihi.com/2016-06-13/1465791333937842.png" class="allDownImg" />
            <a href="http://www.hisihi.com/download.php" class="btnElement sshow">立即下载</a>
        </div>

</body>
<script>
    window.hisihiUrlObj={
        link_url:'http://{$Think.server.HTTP_HOST}/api.php',
        img_url:'__IMG__',
        js: "__JS__",
        api_url:'__API_URL__'
    };
</script>
<!--<script src="__JS__/zepto.js"></script>-->
<!--<script src="__JS__/app.min.js"></script>-->
<!--<script type="text/javascript" src="__JS__/forum/detail/detail_2_9_7.js"></script>-->
</html>