<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link href="__CSS__/topicshare/home.css" rel="stylesheet" type="text/css">
    <title>嘿设汇话题</title>
</head>
<body>
    <div class="wrapper">
        <div class="scroller">
            <div class="pull-down">
                <span class="icon normal"></span>
                <span class="t-label">下拉刷新</span>
            </div>
            <div class="content-main">
                <header class="banner-box">
            <div class="img-box">
                <img src="http://pic.hisihi.com/2016-04-05/5703669815157.png">
            </div>
            <div class="desc-box">
                <div class="vertical">
                    <div class="topic-basic-info">
                        <p class="topic-name">
                            <span>#</span>
                            <span id="topic-real-name">今天你吃西班牙馅饼了么</span>
                            <span>#</span>
                        </p>
                        <p class="topic-post-num">
                        <span>帖子数</span>
                        <span>200</span>
                    </p>
                    </div>
                    <div class="banner-desc">
                        <p>中原网讯（记者 黄永东）记者昨日从农业路高架与中州大道互通立交施工方了解到，互通立交8条匝道已完成主体结构施工</p>
                    </div>
                </div>
            </div>
        </header>
                <div class="content-box">
                    <div class="nodata"><p>暂无帖子</p></div>
                    <ul>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                        <li>123133</li>
                    </ul>
                </div>
            </div>
            <div class="pull-up">
                <span class="pullUpIcon icon normal"></span>
                <span class="pullUpLabel">上拉加载更多</span>
            </div>
        </div>
    </div>
    <!--下载条-->
    <div id="downloadCon">
        <img src="http://pic.hisihi.com/2016-06-13/1465791333937842.png" class="allDownImg" />
        <a href="http://www.hisihi.com/download.php" class="btnElement">立即下载</a>
    </div>
</body>
<script>
    window.hisihiUrlObj={
        js:'__JS__',
        img:'__IMG__'
    };
</script>
<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/forum/topic-config"></script>
</html>