a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
}
@media (min-width: 240px) and (max-width: 640px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 641px) and (max-width: 980px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 981px) and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
body {
  background: #EBEBEB;
  padding: 0;
  margin: 0;
}
.nav-header {
  background: #2f2f2f;
  padding: 20px 10px 0;
}
.nav-header .nav-logo {
  width: 110px;
}
.nav-header .nav-list-box {
  margin-top: 60px;
}
.nav-body {
  background: #fff;
  box-shadow: 0 0 3px #acacac;
  margin-bottom: 10px;
}
.box-body {
  min-height: 550px;
}
.nav-list {
  margin-left: 10px;
}
.nav-list > li {
  display: inline-block;
  margin-right: 20px;
  line-height: 40px;
}
.nav-list > li.active .nav-list-item {
  color: #F5A623;
  border-bottom: 3px solid #F5A623;
}
.nav-list .nav-list-item {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.nav-list .nav-list-item:hover {
  color: #F5A623;
  /*border-bottom: 3px solid #F5A623;*/
}
.nav-item {
  margin-left: 10px;
}
.nav-item > li {
  display: inline-block;
  margin-right: 20px;
  line-height: 60px;
}
.nav-item > li > a {
  color: #999999;
  display: block;
  font-size: 16px;
}
.nav-item > li > a:hover {
  color: #333333;
}
.nav-item > li.active > a {
  color: #333333;
  font-weight: 600;
}
.list-picture {
  overflow: hidden;
  padding: 0;
  padding-top: 10px;
}
.list-picture > li {
  margin-bottom: 20px;
  list-style-type: none;
  float: left;
  margin: 0 10px 20px ;
}
.list-picture .list-item-txt {
  position: absolute;
  margin: 0 20px;
  width: 240px;
  text-align: left;
  top: 42%;
  left: 0;
  color: #fff;
  font-size: 16px;
  z-index: 20;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-picture .list-icon-box {
  position: absolute;
  background: #000;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-picture .list-item-icon {
  position: absolute;
  background: url(../images/download_new.png);
  background-repeat: no-repeat;
  opacity: 0;
  top: 40%;
  left: 45%;
  width: 42px;
  height: 38px;
  z-index: 15;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-picture .list-item {
  background: #ffffff;
  position: relative;
  display: block;
  width: 280px;
  height: 210px;
}
.list-picture .list-item img {
  width: 100%;
  min-height: 100%;
}
.list-picture .list-item:hover {
  box-shadow: 0 1px 10px #555;
}
.list-picture .list-item:hover .list-item-txt {
  top: 87%;
  margin: 0 10px;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-picture .list-item:hover .list-icon-box {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-picture .list-item:hover .list-item-icon {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav-pag {
  overflow: hidden;
  line-height: 40px;
  margin-bottom: 20px;
  padding-right: 10px;
}
.pagination {
  float: right;
}
.pagination > li {
  display: inline-block;
}
.pagination > li > a {
  color: #666;
  font-size: 14px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}
.pagination > li > a:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.pagination .active a {
  background: #F5A623;
  color: #fff;
}
.pagination .active a:hover {
  background: #F5A623;
}
.top-title {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #999;
  display: block;
  text-align: center;
  line-height: 180px;
  font-size: 24px;
}
.top-title.title-psd {
  background: #3391FF;
  color: #fff;
}
.footer {
  background: #2F2F2F;
  color: #999;
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #ddd;
}
.footer p {
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.pagination li{
  margin: 0 2px;
}
.list-picture .list-item{overflow: hidden;}