<!DOCTYPE html>
<html>
<head>
    <php>
        $oneplus_seo_meta = get_seo_meta($vars,$seo);
    </php>

    <title>嘿设汇</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="__CSS__/app.min.css">
    <style>
        img {
            max-width:100%;height:auto;
        }
        .moreRecommend, #loadingTip, #downloadCon{
            display: none;
        }
    </style>
    <link type="text/css" href="__CSS__/share-common/share-recommend.css" rel="stylesheet"/>
</head>

<body>
    <div class="app-page" data-page="home">
        <div id="test-agent" style="display:none">user-agent</div>
        <div class="app-content" style="-webkit-box-shadow: none;">
            <div class="app-section" style="margin: 10px 10px 10px 10px">
                <div>
                    <p>
                        {$top_content_info.content}
                    </p>
                </div>
            </div>
            <div class="moreRecommend" data-type="比赛">
            <div class="moreItem" ></div>
            <div class="moreItem"></div>
            <div class="moreItem"></div>
            <div class="moreItem"></div>
            <div class="moreItem"></div>
        </div>
            <div id="loadingTip" class="loadingResultTips">
                <div class="loadingImg active"></div>
                <a class="loadError btnElement" href="javascript:void(0)">加载失败，点击重新加载</a>
            </div>
        </div>
    </div>
    <!--下载条-->
    <div id="downloadCon">
        <img src="__IMG__/v2content/d.png" class="allDownImg" />
        <a href="http://www.hisihi.com/download.php" class="btnElement">立即下载</a>
    </div>
</body>
<script src="__JS__/zepto.js"></script>
<script src="__JS__/app.min.js"></script>
<script>
    App.controller('home', function (page) {
        $(page)
                .find('.app-button')
                .on('click', function () {
                    window.location.href = "http://www.hisihi.com/download.php";
                });
    });

    App.controller('page2', function (page) {
        // put stuff here
    });

    try {
        App.restore();
    } catch (err) {
        App.load('home');
    }

    $("a").removeAttr('href');

    var userAgent = window.location.href;
    if(userAgent.indexOf("hisihi-app") < 0) {
        //推荐阅读 以及下载条
        $(".moreRecommend, #loadingTip, #downloadCon").show();

        window.hisihiUrlObj={
            server_url:'http://{$Think.server.HTTP_HOST}/hisihi-cms/api.php?s=/',
            link_url:'http://{$Think.server.HTTP_HOST}/hisihi-cms/',
            img_url:'__IMG__',
            js:'__JS__/sharecommon'
        };
    }


    // 禁用链接
    /*var aLink=document.getElementsByTagName("a");
     for(var i=0; i<aLink.length; i++){
     aLink[i].href = "javascript:void(0);";
     aLink[i].setAttribute("disabled", "disabled");
     }*/

</script>
<script type="text/javascript" data-main="__JS__/sharecommon/config"  src="__JS__/sharecommon/require.js" ></script>
</html>
