<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="__CSS__/event/competitionwork/home.css" rel="stylesheet" type="text/css">
    <title>作品详情</title>
</head>
<body>
<div class="wrapper">
    <!--标题-->
    <p class="box title">给我一个理由忘记或许只是不想忘记</p>
    <p class="box author">wuzhidexiaoxiaomin</p>
    <!--作品信息-->
    <div class="box content">
        第一次听A-LIN的歌是因为朋友的关系，连续几个小时，她的QQ音乐都是《我能体谅》。
        我不知道是不是有很多人有和我一样的习惯，把喜欢的歌反复的听，听到心已经麻木，听到这首歌已经可以承担当下的一种情绪甚至一种回忆了。而这首歌往往都抒发了和我们内心同样的情绪，或许是给自己一种安慰，或许只是歌中的人和自己经历着同样的故事，那么当你伤心难过的时候，你才不会觉得孤单，因为你知道，在世界的某一个角落，有人和你感同身受，你并不是一个人。
        我能体谅究竟是怎样的一种心情？看着自己爱的人远走，依然怀着一份感恩的心去目送他远走。有多少人能做到？
        我的朋友喜欢了一个男生三年，其中这个男生和她的朋友在一起过，和比她小的学妹在一起过，在这个过程中，她一直没有放弃过，一直在等待，和他经历过相同的喜欢，所以我自然也明白那种感受，这种单恋的事，在我看来旁人说再多也没有用，这种喜欢是义无反顾的，飞蛾扑火的喜欢，而这种喜欢更多的也是从年少的时候开始，当我们大了，我们的心就变的没那么清澈柔软呢，更难主动的去付出，甚至更难去接受别人的付出。所以我依旧羡慕她那份偏执，她那份单纯。换作是现在的我，我还能做到吗？
        而在爱的过程中，我想是得到的欲望占的更多，一味的体谅虚要多大的勇气，因为你爱他，所以你不得不体谅，因为你渴望有一天他累了，终于知道你是最好的，终于回到你身边了。就是这样的喜欢，多么的卑微渺小。
        当然这只是朋友的经历，还不足以让我真正爱上A-LIN。真正的爱上A-LIN，让我认识到他是天生的歌姬的是他在一次晚会上的演出---《歌姬魅影》，我想经常上网的人一定知道这首网络上疯传的视频，因为喜欢周杰伦的关系，当我再听到完全不同的声音演绎《说了再见》的时候，我的内心融化了，我不知道怎样的演唱是有技巧的是好的，但是我知道能把人唱到感动的，能把人心底最柔软的部分唱出来的人一定是最适合唱歌的，一定是我们想要的歌手。特别是当听到“口红待在桌角，而你我找不到”的时候，不知道怎么的，我的眼泪就流了下来，在这一刻我才知道我内心真正的想法，我才知道原来我内心真正的最深处的伤痛原来是我找不到他呢，我已经找不到我最想找的那个人，在听这首歌之前，我一直不能确定自己的想法，我不知道我究竟是否爱他，我强烈的压抑自己的情感，而就是这样一种被我一直压抑的情感在这一刻终于爆发了。而这一切只是因为A-LIN的歌声，她让我找到了自己内心最真实的想法。我想我必须对她说声谢谢。
        在失恋的日子我也会经常听A-LIN的歌，我觉得我这个人真的是挺悲催的，总是喜欢把自己陷入一种消极情绪里面，于是一遍遍的听《给我一个理由忘记》，我一直在找这个理由，可是每当歌曲唱到“最怕看到冬天你最爱穿的那件外套”时，我就又开始动摇了，或许真的是和歌里唱的一样，“有些爱越想抽离却越更清晰”。当然这些都只是当时的想法，到了今天我找到了我想找的人后，我才知道自己当时听那首歌的用意，原来最想忘记的反而都是最想记得的，给我一个理由忘记其实只是不想忘记。
    </div>
</div>
</body>
<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/events/competitionwork/config"></script>
</html>