<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

</head>
<body>
<div style="width: 1000px; height: 400px; margin: 0 auto; border: 1px solid #808080">
    <canvas id="drawLinCanvas" width="800" height="400"></canvas>
    <input type="button" value="普通线" id="normalLine" />
    <input type="button" value="不同颜色普通线" id="diffColorNormalLine" />
    <input type="button" value="渐变线" id="gradientLine" />
    <input type="button" value="图片线" id="patternLine" />
</div>
<script src="../js/libs/require.js" data-main="../js/custom/main"></script>
</body>
</html>