<!DOCTYPE html>
<html  style="overflow-x: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link type="text/css" href="__CSS__/hiworks/hiwork_web.css" rel="stylesheet">
    <title>嘿云作业</title>
</head>
<body>
    <!--加载等待-->
    <div id="loading-data">
        <img class="loding-img" src="http://pic.hisihi.com/2016-06-13/1465811180777234.png"/>
    </div>
    <!--操作结果-->
    <div class="result-tips"></div>
    <!--主要列表-->
    <div id="main-content">
        <div class="header">
            <div id="nav-tabs-bar" class="nav-tabs-bar">
                <div id="nav-bar" class="nav-bar">
                    <div class="nav-bar-title">
                        <div class="nav-bar-middle" id="category-title">
                            全部
                        </div>
                    </div>
                    <div class="nav-bar-left btn" id="back-to-page">
                        <span class="icon-keyboard_arrow_left font-icon"></span>
                    </div>
                    <div class="nav-bar-right btn">
                        <span class="icon-search font-icon"></span>
                    </div>
                </div>
                <div id="tabs-bar">
                    <ul></ul>
                    <div class="cover-scrollbar"></div>
                </div>
            </div>
            <div id="search-bar">
                <div class="search-box">
                    <div class="search-box-bg">
                        <span class="icon-search font-icon"></span>
                        <input type="text" placeholder="输入关键字快速查找" id="search-txt">
                    </div>
                </div>
                <div class="search-btns">
                    <div class="btn" id="do-search">
                        搜索
                    </div>
                    <div class="btn" id="quit-search">
                        取消
                    </div>
                </div>
            </div>
        </div>
        <div id="all-scroll-wrapper"></div>
        <div id="search-result-panel"></div>
    </div>
    <!--详情信息-->
    <div id="work-detail-panel">
        <div class="header">
            <div id="nav-detail-bar" class="nav-tabs-bar">
                <div id="detail-bar" class="nav-bar">
                    <div class="nav-bar-title">
                        <div class="nav-bar-middle" id="detail-title">
                            全部
                        </div>
                    </div>
                    <div class="nav-bar-left btn" id="back-to-list">
                        <span class="icon-keyboard_arrow_left font-icon"></span>
                    </div>
                    <div class="nav-bar-right btn">

                    </div>
                </div>

            </div>
        </div>
        <div id="detail-main">
            <div class="touchSlider">
                <ul id="slider4" >
                </ul>
            </div>
            <div id="currentPage">
                <ul>
                </ul>
            </div>
            <!--<div class="filter">-->
                <!--<img class="logoBg myLogo" src="__IMG__/orgbasicinfo/blur.jpg" alt="logo"/>-->
                <!--<div class="filterUp"></div>-->
            <!--</div>-->
        </div>
        <div class="detail-bottom-btns">
            <div>
                <div class="item">
                    <div class="btn">
                        <div class="color-block down"><span class="icon-download"></span></div>
                        <div class="label">下载</div>
                    </div>
                </div>
                <div class="item">
                    <div class="btn">
                        <div class="color-block link"><span class="icon-link"></span></div>
                        <div class="label">复制链接</div>
                    </div>
                </div>
                <div class="item">
                    <div class="btn">
                        <div class="color-block share"><span class="icon-open"></span></div>
                        <div class="label">分享</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--模态窗口-->
    <div class="model-box">
        <div class="model-box-item email-box">
            <div class="email-box-item">
                绑定邮箱
            </div>
            <div class="email-box-item">
                <input type="text" placeholder="邮箱地址" id="email">
            </div>
            <div class="email-box-item">
                <div class="btns-main">
                    <div id="cancle-bind">
                        <div class="btn">取消</div>
                    </div>
                    <div id="do-bind">确定</div>
                </div>
            </div>
        </div>
        <div class="model-box-item login-tips-box">
            <div class="login-header">
                请先登录再进行操作
            </div>
            <div class="btns-main">
                <div id="cancle-login">
                    <div class="btn">取消</div>
                </div>
                <div class="btn" id="do-login">去登录</div>
            </div>
        </div>
    </div>
    <section class="imgzoom_pack">
        <div class="imgzoom_x btn"><span class="icon-circle-cross"></span></div>
        <div class="imgzoom_img"><img class="img-target" src="" /></div>
    </section>
</body>
<script type="application/javascript">
    window.hisihiUrlObj={
        link_url:'http://{$Think.server.HTTP_HOST}/api.php?s=/',
        img_url:'__IMG__',
        js: "__JS__"
    };
    window.onload=function() {
        document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
    };
</script>
<script type="text/javascript" src="__JS__/hiworks/touchSlider-lib.js"></script>
<!--<script type="text/javascript" data-main="__JS__/hiworks/libs-v2"  src="__JS__/sharecommon/require.js" ></script>-->
<script type="text/javascript" data-main="__JS__/hiworks/config"  src="__JS__/sharecommon/require.js" ></script>
</html>