<!DOCTYPE html>
<html  style="overflow-x: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <!--<link type="text/css" href="__CSS__/hiworks/hiwork_share-2.9.3.min.css" rel="stylesheet">-->
    <link type="text/css" href="__CSS__/hiworks/hiwork-share.css" rel="stylesheet">
    <title></title>
</head>
<body data-id="{$hiwork_id}">
<!--加载等待-->
<div id="loading-data">
    <img class="loding-img" src="__IMG__/hiworks/1.png"/>
</div>

<!--详情信息-->
<div id="work-detail-panel">
    <div id="detail-main">
        <div class="touchSlider">
            <ul id="slider4" >
                <li >
                    <a href="javascript:void(0)">
                        <img src="__IMG__/hiworks/assets/2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="__IMG__/hiworks/assets/9.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="__IMG__/hiworks/assets/1.png" alt="">
                    </a>
                </li>
            </ul>

        </div>
        <div id="currentPage">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <div class="detail-bottom-btns share-page-btns">
        <div class="color-block down btn"><span class="icon-download"></span><span class="label">下载源文件</span></div>
    </div>
    <div class="detail-bottom-btns web-page-btns">
        <div>
            <div class="item">
                <div class="btn">
                    <div class="color-block down"><span class="icon-download"></span></div>
                    <div class="label">下载</div>
                </div>
            </div>
            <div class="item">
                <div class="btn">
                    <div class="color-block link"><span class="icon-link"></span></div>
                    <div class="label">复制链接</div>
                </div>
            </div>
            <div class="item">
                <div class="btn">
                    <div class="color-block share"><span class="icon-open"></span></div>
                    <div class="label">分享</div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--模态窗口-->
<div class="model-box">
    <div class="model-box-item email-box">
        <div class="email-box-item">
            绑定邮箱
        </div>
        <div class="email-box-item">
            <input type="text" placeholder="邮箱地址" id="email">
        </div>
        <div class="email-box-item">
            <div class="btns-main">
                <div id="cancle-bind">
                    <div class="btn">取消</div>
                </div>
                <div id="do-bind">确定</div>
            </div>
        </div>
    </div>
    <div class="model-box-item login-tips-box">
        <div class="login-header">
            请先登录再进行操作
        </div>
        <div class="btns-main">
            <div id="cancle-login">
                <div class="btn">取消</div>
            </div>
            <div class="btn" id="do-login">去登录</div>
        </div>
    </div>
</div>

<!--下载条-->
<div id="downloadCon">
    <img src="__IMG__/v2content/d.png" class="allDownImg" />
    <span href="javascript:void(0)" class="btnElement">立即下载</span>
</div>

<section class="imgzoom_pack">
    <div class="imgzoom_x btn"><span class="icon-circle-cross"></span></div>
    <div class="imgzoom_img"><img class="img-target" src="" /></div>
</section>

</body>
<script type="application/javascript">
    window.hisihiUrlObj={
        link_url:'http://{$Think.server.HTTP_HOST}/api.php?s=/',
        img_url:'__IMG__',
        js: "__JS__",
    };
    window.onload=function() {
        document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
    };
</script>
<script type="text/javascript" src="__JS__/hiworks/touchSlider-lib.js"></script>
<script type="text/javascript" data-main="__JS__/hiworks/shareconfig" src="__JS__/sharecommon/require.js" ></script>
<!--<script type="text/javascript" data-main="__JS__/hiworks/hiworks.share-2.9.3" src="__JS__/sharecommon/require.js"></script>-->
</html>