.size(@width: 100%,@height: 100%){
  width: @width;
  height: @height;
}

body{
  margin: 0;
  background: #eee;
}
a,a:hover,a:link,a:hover,a:active,a:visited{
  text-decoration: none;
}
a:focus {
  outline:none;
  -moz-outline:none;
}


