body {
  margin: 0;
  background: #FFFFFF;
  max-width: 100%;
  overflow-x: hidden;
}
* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
}
img {
  max-width: 100%;
}
.btn:active {
  transform: scale(0.8);
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.loading-img {
  background-image: url(../../images/topcontent/loading2.svg);
}
.icon-font-a.animate {
  animation: do-thumb-animate 1s ease-out;
  animation-fill-mode: forwards;
}
.icon-stars.animate {
  animation: do-thumb-animate 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes do-thumb-animate {
  40% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
.headlines-box {
  margin-bottom: 50px;
}
.headlines-box .headlines-body {
  margin: 0 10px;
}
.headlines-box .headlines-head {
  margin: 0 10px;
}
.bottom-voteCon {
  width: 90%;
  height: 35px;
  margin: 0px auto 23px auto;
}
.bottom-voteCon .vote-item {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0;
}
.bottom-voteCon .vote-item .icon-container {
  background-color: #F2F2F2;
  border: 1px solid #E4E4E4;
  border-radius: 30px;
  background-clip: padding-box;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.bottom-voteCon .vote-item .icon-container span {
  display: inline-block;
  line-height: 20px;
}
.bottom-voteCon .vote-item .icon-container span.icon-thumb {
  line-height: 15px;
  padding-top: 10px;
  color: #BDBDBD;
  font-size: 20px;
}
.bottom-voteCon .vote-item .icon-container span.num {
  font-size: 18px;
  color: #BDBDBD;
}
.bottom-voteCon .vote-item .icon-container span.active {
  color: #ff5a00;
}
.comment-list-box .list-header {
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #CCCCCC;
  padding-left: 18px;
  color: #ff5a00;
  font-size: 16px;
  line-height: 40px;
}
.comment-list-box .list-main li {
  position: relative;
  border-bottom: 1px solid #CCCCCC;
}
.comment-list-box .list-main li:last-child {
  border-bottom: none;
}
.comment-list-box .list-main li .list-main-left {
  position: absolute;
  padding: 14px 14px 14px 18px;
}
.comment-list-box .list-main li .list-main-left img {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-clip: padding-box;
}
.comment-list-box .list-main li .list-main-right {
  margin-left: 90px;
  padding: 14px 18px 14px 0;
}
.comment-list-box .list-main li .list-main-right > div:nth-child(1) {
  color: #313131 !important;
  font-size: 18px;
}
.comment-list-box .list-main li .list-main-right > div:nth-child(2) {
  margin-top: 5px;
  color: #808080 !important;
  font-size: 14px;
}
.comment-list-box .list-main li .list-main-right > div:nth-child(3) {
  margin-top: 5px;
  color: #212121 !important;
  font-size: 14px;
}
.comment-list-box .list-main li .up-comment-box {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.comment-list-box .list-main li .up-comment-box > span {
  font-size: 22px;
  color: #BDBDBD;
  display: inline-block;
}
.comment-list-box .list-main li .up-comment-box > span.active {
  color: #ff5a00;
}
.comment-list-box .list-main li .up-comment-box > span.num {
  font-size: 20px;
  padding-left: 5px;
}
.comment-list-box .no-comment-info {
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  color: #757373;
  display: none;
}
.comment-list-box .loading-more-tips {
  margin: 10px auto;
  text-align: center;
  display: none;
}
.comment-list-box .loading-more-tips .loadingMoreResultTipsMain {
  width: 8em;
  height: 2em;
  margin: 0 auto;
}
.comment-list-box .loading-more-tips .loadingMoreResultTipsMain i {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
}
.comment-list-box .loading-more-tips .loadingMoreResultTipsMain span {
  float: left;
  line-height: 2em;
  margin-left: 0.8em;
  color: #757373;
}
.comment-list-box .loading-more-tips .loadError {
  display: none;
  color: #757373;
  text-decoration: none;
}
.comment-list-box .loading-more-tips.active .loading-img {
  animation: aloading 0.8s steps(6, end) 0s infinite;
}
@keyframes aloading {
  to {
    transform: rotate(360deg);
  }
}
.bottom-comment {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #F2F2F2;
  border-top: 1px solid #ccc;
}
.bottom-comment .comment-left-box {
  margin-right: 120px;
  height: 100%;
}
.bottom-comment .comment-left-box #comment-input {
  font-size: 14px;
  width: 85%;
  height: 25px;
  margin: 8px auto 10px auto;
  border-radius: 25px;
  background-clip: padding-box;
  border: 1px solid #ccc;
  display: block;
  background-color: white;
  text-indent: 16px;
  outline: none;
  line-height: 25px;
  color: #8E8D8D;
}
.bottom-comment .comment-right-box {
  position: absolute;
  right: 0px;
  margin: 0;
  top: 0;
  width: 120px;
  height: 100%;
}
.bottom-comment .comment-right-box .comment-right-item {
  width: 34px;
  height: 100%;
  text-align: center;
  margin: 0 3px;
  float: left;
}
.bottom-comment .comment-right-box .comment-right-item .icon-font {
  color: #BDBDBD;
}
.bottom-comment .comment-right-box .comment-right-item .icon-font.icon-chat-3 {
  display: inline-block;
  font-size: 23px;
  line-height: 47px;
  transform: rotateY(180deg);
}
.bottom-comment .comment-right-box .comment-right-item .icon-font.icon-stars {
  font-size: 27px;
  line-height: 45px;
  display: inline-block;
}
.bottom-comment .comment-right-box .comment-right-item .icon-font.icon-stars.active {
  color: #ff5a00;
}
.bottom-comment .comment-right-box .comment-right-item .icon-font.icon-open {
  font-size: 21px;
  line-height: 48px;
}
.bottom-comment .comment-right-box .comment-right-item .icon-font.icon-star_replay {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../../images/topcontent/reply1.png);
  margin-top: 14px;
}
.bottom-comment .comment-right-box .comment-right-item.comment-bubble {
  position: relative;
}
.bottom-comment .comment-right-box .comment-right-item.comment-bubble .comment-red-bubble {
  display: none;
  position: absolute;
  left: 13px;
  top: 7px;
  height: 14px;
  background-color: #EF3A2A;
  border-radius: 10px;
  background-clip: padding-box;
  font-size: 11px;
  padding: 0 5px;
  color: #FEF9F9;
  font-family: "Consolas";
  z-index: 1;
}
.result-tips {
  position: fixed;
  width: 140px;
  height: 60px;
  min-height: 40px;
  background: rgba(51, 51, 51, 0.65);
  margin-left: -70px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  z-index: 555;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips p {
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}
.model-box {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.model-box .comment-box {
  position: absolute;
  top: 40%;
  margin-top: -95px;
  width: 100%;
  height: 190px;
  display: none;
}
.model-box .comment-box .write-comment-box {
  width: 88%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 9px;
  background-clip: padding-box;
}
.model-box .comment-box .write-comment-box .write-header {
  height: 43px;
  border-bottom: 1px solid #B1B1B1;
}
.model-box .comment-box .write-comment-box .write-header > div {
  font-size: 16px;
  text-align: center;
  line-height: 43px;
}
.model-box .comment-box .write-comment-box .write-header .header-middle-box {
  width: 100%;
  height: 100%;
  float: left;
}
.model-box .comment-box .write-comment-box .write-header .header-middle-box #middle-box {
  color: #000000;
  height: 100%;
  margin: auto 60px;
}
.model-box .comment-box .write-comment-box .write-header .no-middle {
  height: 100%;
  float: left;
  width: 60px;
}
.model-box .comment-box .write-comment-box .write-header .no-middle#left-box {
  color: #007AFF;
  margin-left: -100%;
}
.model-box .comment-box .write-comment-box .write-header .no-middle#right-box {
  color: #929292;
  margin-left: -60px;
}
.model-box .comment-box .write-comment-box .write-header .no-middle#right-box.abled {
  color: #000;
}
.model-box .comment-box .write-comment-box .write-main textarea {
  -webkit-user-select: text;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: text;
  display: block;
  width: 92%;
  height: 123px;
  margin: 12px auto;
  border: 1px solid #ccc;
  background-color: #F2F2F2;
  border-radius: 3px;
  background-clip: padding-box;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.model-box .login-tips-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -47px;
  margin-left: -140px;
  width: 280px;
  height: 94px;
  background-color: white;
  border-radius: 9px;
  background-clip: padding-box;
}
.model-box .login-tips-box * {
  font-size: 16px;
}
.model-box .login-tips-box .login-header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #000;
}
.model-box .login-tips-box .login-main {
  height: 43px;
}
.model-box .login-tips-box .login-main > div {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: #007AFF;
  text-align: center;
  line-height: 43px;
}
.model-box .login-tips-box .login-main > div:nth-child(1) {
  border-right: 1px solid #ccc;
}
.model-box .login-tips-box .login-main > div:nth-child(1) div {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 320px) {
  .model-box .comment-box {
    top: 50%;
    width: 100%;
    height: 145px;
  }
  .model-box .comment-box .write-comment-box {
    margin-top: 30px;
  }
  .model-box .comment-box .write-comment-box .write-main textarea {
    width: 95%;
    height: 90px;
    margin: 5px auto;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?iwxqpj');
  src: url('fonts/icomoon.eot?iwxqpj#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?iwxqpj') format('truetype'), url('fonts/icomoon.woff?iwxqpj') format('woff'), url('fonts/icomoon.svg?iwxqpj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-star:before {
  content: "\e838";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-chat-3:before {
  content: "\e901";
}
.icon-open:before {
  content: "\e128";
}
