@voteSideWidth:80px;
body{
  margin: 0 auto;
  background: #eee;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
a,a:hover,a:link,a:hover,a:active,a:visited{
  text-decoration: none;
}
a:focus {
  outline:none;
  -moz-outline:none;
}
img{
  max-width: 100%;
}

*{
  -webkit-user-select: none; /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling:touch;
}
.headlines-box{
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 #ddd;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
}
.headlines-top {
  border-bottom: 1px solid #eee;
  padding: 10px 10px 0;
  h2 {
    margin: 10px 0;
  }
}
.headlines-time{
  color: #bbb;
  font-size: 12px;
  line-height: 30px;
  margin: 5px 0 ;
}
.headlines-body {
  padding: 10px;
  img {
    width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }
  p {
    width: 100%;
    line-height: 25px;
    /*font-style: 14px;*/
    color: #333;
    margin: 0 0 5px 0;
  }
}
.headlines-fix{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4A4A4B;
  padding: 5px 10px;
}
.fix-img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
.fix-btn{
  padding: 7px 8px;
  background: #2ABA00;
  color: #fff;
  font-style: 16px;
  float: right;
  border-radius: 5px;
  margin-top: 7px;
}
.fix-body p{
  margin: 0;
}
.fix-body-title{
  color: #fff;
  line-height: 30px;
  margin-bottom: 5px;
  font-style: 16px;
}
.fix-body-txt{
  color: #AAA;
  font-size: 12px;
  line-height: 20px;
}
.fix-star{
  margin-left: 10px;
}
.fix-star img{
  width: 10px;
  height: 10px;
  margin-right: 2px;

}

/*投票*/
.bottomVoteCon {
  height: 80px;
  width: 100%;
  position: relative;


  .bottomVoteConBox {
    opacity: 0;
    height: 100%;
    > div {
      float: left;
    }
    .spriteBg{
      background: url('../../images/topcontent/sprite.png');
    }
    .middleBox {
      width: 100%;
      .middle {
        margin: 0 @voteSideWidth;
        height: 100%;
        .mainVoteBarCon {
          height: 23px;
          width: 100%;
          position: relative;
          overflow: hidden;
          * {
            font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
          }
          > div {
            float: left;
            height: 100%;
            color: white;
            line-height: 23px;
          }
          .up {
            /*width: 58%;*/
            background-color: #FF5A00;
            box-sizing: border-box;
            padding-left: 10px;
            overflow: hidden;
          }
          .down {
            /*width: 20%;*/
            background-color: #039BE5;
            text-align: right;
            box-sizing: border-box;
            padding-right: 10px;
            overflow: hidden;
          }
          .title {
            position: absolute;
            left: 50%;
            color: white;
          }
          .arrowCon {
            width: 25px;
            height: 23px;
            background-size: 228px 28px;
            background-position:-203px 0;
            #arrowColor {
              width: 100%;
              height: 100%;
            }
          }
        }

        .mainVoteBtnCon {
          margin-top: 12px;
          height: 27px;
          width: 100%;
          > div {
            float: left;
          }
          .totalVoteInfo {
            width: 100%;
            text-align: center;
            height: 100%;
          }

          .totalVoteInfoMiddle {
            height: 100%;
            box-sizing: border-box;
            line-height: 27px;
            margin: 0 44px;
            color: #808080;
          }
          .spriteBgBtn {
            display: inline-block;
            height: 27px;
            width: 50px;
            background-size: 223px 27px;
            &.upBtn {
              margin-left: -100%;
            }
            &.upBtnAble {
              background-position: -50px 0;
            }
            &.upBtnDisabled {
              background-position: -150px 0;
            }
            &.downBtn {
              margin-left: -50px;
            }
            &.downBtnAble {
              background-position: 0 0;
            }
            &.downBtnDisabled {
              background-position: -100px 0;
            }
          }
        }
      }
    }

    .upAndDownNum {
      overflow: hidden;
      padding-top: 1px;
      width: @voteSideWidth;
      height: 100%;
      text-align: center;
      &.left {
        color: #FF5A00;
        margin-left: -100%;
      }
      &.right {
        margin-left: -80px;
        color: #039BE5;
      }
    }
  }
 //#loadingTipForVote{
 //   position: absolute;
 //   top: -4px;
 //   left: 50%;
 //   margin-left: -97px;
 //   width: 195px;
 //   display: block !important;
 //   .loadingImg{
 //     float: left;
 //   }
 //   span{
 //     float: left;
 //     line-height: 32px;
 //     margin-left: 2px;
 //   }
 // }
}

/*************响应式处理****************/
@media screen and (max-width:320px){
  .bottomVoteConBox{
    .upAndDownNum {
      width: 60px !important;
      &.right{
        margin-left: -60px !important;
      }
    }
    .middle {
       margin: 0 60px !important;
      .totalVoteInfoMiddle {
        line-height: 17px !important;
        * {
          font-size: 12px;
        }
      }
      .spriteBgBtn {
        width: 40px !important;
        height: 21px !important;
        background-size:160px 21px !important;
        &.upBtnAble {
          background-position: -40px 0 !important;
        }
        &.upBtnDisabled {
          background-position: -120px 0 !important;
        }
        &.downBtn {
          margin-left: -40px !important;
        }
        &.downBtnDisabled {
          background-position: -80px 0 !important;
        }
      }
    }
  }


}
