body {
  margin: 0;
  background: #eee;
  overflow: hidden;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
img {
  max-width: 100%;
}
* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
.headlines-box {
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 #ddd;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
}
.headlines-top {
  border-bottom: 1px solid #eee;
  padding: 10px 10px 0;
}
.headlines-top h2 {
  margin: 10px 0;
}
.headlines-time {
  color: #bbb;
  font-size: 12px;
  line-height: 30px;
  margin: 5px 0 ;
}
.headlines-body {
  padding: 10px;
}
.headlines-body img {
  width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
}
.headlines-body p {
  width: 100%;
  line-height: 25px;
  /*font-style: 14px;*/
  color: #333;
  margin: 0 0 5px 0;
}
.headlines-fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4A4A4B;
  padding: 5px 10px;
}
.fix-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
.fix-btn {
  padding: 7px 8px;
  background: #2ABA00;
  color: #fff;
  font-style: 16px;
  float: right;
  border-radius: 5px;
  margin-top: 7px;
}
.fix-body p {
  margin: 0;
}
.fix-body-title {
  color: #fff;
  line-height: 30px;
  margin-bottom: 5px;
  font-style: 16px;
}
.fix-body-txt {
  color: #AAA;
  font-size: 12px;
  line-height: 20px;
}
.fix-star {
  margin-left: 10px;
}
.fix-star img {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
/*投票*/
.bottomVoteCon {
  height: 80px;
  width: 100%;
  position: relative;
}
.bottomVoteCon .bottomVoteConBox {
  opacity: 0;
  height: 100%;
}
.bottomVoteCon .bottomVoteConBox > div {
  float: left;
}
.bottomVoteCon .bottomVoteConBox .spriteBg {
  background: url('../../images/topcontent/sprite.png');
}
.bottomVoteCon .bottomVoteConBox .middleBox {
  width: 100%;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle {
  margin: 0 80px;
  height: 100%;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon {
  height: 23px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon * {
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon > div {
  float: left;
  height: 100%;
  color: white;
  line-height: 23px;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon .up {
  /*width: 58%;*/
  background-color: #FF5A00;
  box-sizing: border-box;
  padding-left: 10px;
  overflow: hidden;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon .down {
  /*width: 20%;*/
  background-color: #039BE5;
  text-align: right;
  box-sizing: border-box;
  padding-right: 10px;
  overflow: hidden;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon .title {
  position: absolute;
  left: 50%;
  color: white;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon .arrowCon {
  width: 25px;
  height: 23px;
  background-size: 228px 28px;
  background-position: -203px 0;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBarCon .arrowCon #arrowColor {
  width: 100%;
  height: 100%;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon {
  margin-top: 12px;
  height: 27px;
  width: 100%;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon > div {
  float: left;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .totalVoteInfo {
  width: 100%;
  text-align: center;
  height: 100%;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .totalVoteInfoMiddle {
  height: 100%;
  box-sizing: border-box;
  line-height: 27px;
  margin: 0 44px;
  color: #808080;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .totalVoteInfoMiddle * {
  font-size: 12px;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn {
  display: inline-block;
  height: 27px;
  width: 50px;
  background-size: 225px 27px;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn.upBtn {
  margin-left: -100%;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn.upBtnAble {
  background-position: -50px 0;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn.upBtnDisabled {
  background-position: -150px 0;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn.downBtn {
  margin-left: -50px;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn.downBtnAble {
  background-position: 0 0;
}
.bottomVoteCon .bottomVoteConBox .middleBox .middle .mainVoteBtnCon .spriteBgBtn.downBtnDisabled {
  background-position: -100px 0;
}
.bottomVoteCon .bottomVoteConBox .upAndDownNum {
  overflow: hidden;
  padding-top: 1px;
  width: 80px;
  height: 100%;
  text-align: center;
}
.bottomVoteCon .bottomVoteConBox .upAndDownNum.left {
  color: #FF5A00;
  margin-left: -100%;
}
.bottomVoteCon .bottomVoteConBox .upAndDownNum.right {
  margin-left: -80px;
  color: #039BE5;
}
/*************响应式处理****************/
@media screen and (max-width: 320px) {
  .bottomVoteConBox .upAndDownNum {
    width: 60px !important;
  }
  .bottomVoteConBox .upAndDownNum.right {
    margin-left: -60px !important;
  }
  .bottomVoteConBox .middle {
    margin: 0 60px !important;
  }
  .bottomVoteConBox .middle .totalVoteInfoMiddle {
    line-height: 17px !important;
  }
  .bottomVoteConBox .middle .totalVoteInfoMiddle * {
    font-size: 12px !important;
  }
  .bottomVoteConBox .middle .spriteBgBtn {
    width: 40px !important;
    height: 21px !important;
    background-size: 160px 21px !important;
  }
  .bottomVoteConBox .middle .spriteBgBtn.upBtnAble {
    background-position: -40px 0 !important;
  }
  .bottomVoteConBox .middle .spriteBgBtn.upBtnDisabled {
    background-position: -120px 0 !important;
  }
  .bottomVoteConBox .middle .spriteBgBtn.downBtn {
    margin-left: -40px !important;
  }
  .bottomVoteConBox .middle .spriteBgBtn.downBtnDisabled {
    background-position: -80px 0 !important;
  }
}
/*less公用的方法*/
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
.moreRecommend img {
  max-width: 100%;
}
.moreRecommend .spiteBg {
  background-image: url("../../images/v2content/sprite.png");
  background-size: 192px 128px;
}
.moreRecommend .spiteBgOrigin {
  background-image: url("../../images/v2content/sprite.png");
}
.moreRecommend .btnElement:active {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
}
.moreRecommend .moreItem {
  margin-bottom: 20px;
  padding: 0 20px 0 15px;
}
.moreRecommend .moreItem .basicHeaderWithArrow {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #cccccc;
}
.moreRecommend .moreItem .basicHeaderWithArrow .titleInfo {
  color: #ff5a00;
  font-size: 18px;
}
.moreRecommend .moreItem .basicHeaderWithArrow .basicHeaderRight {
  float: right;
  background-color: transparent;
}
.moreRecommend .moreItem .basicHeaderWithArrow .basicHeaderRight:active {
  background-color: transparent;
  outline: none;
  -moz-outline: none;
}
.moreRecommend .moreItem .basicHeaderWithArrow .basicHeaderRight .moreTip {
  font-size: 16px;
  float: right;
  color: #808080;
  margin-right: 5px;
}
.moreRecommend .moreItem .basicHeaderWithArrow .basicHeaderRight .arrow {
  float: right;
  width: 15px;
  height: 23px;
  display: inline-block;
  margin-top: 10px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  background-position: -328px 0;
}
.moreRecommend .moreItem .mainContentUl {
  margin: 0em;
  width: 100%;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem {
  width: 100%;
  height: 6em;
  position: relative;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem:nth-last-child(1) a {
  border-bottom: 0 solid #cccccc !important;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem .coverBorderContainer {
  position: absolute;
  height: 0.0625em;
  bottom: 0em;
  background-color: white;
  width: 0.75em;
  z-index: 100;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a {
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0.75em 0;
  border-bottom: 0.0625em solid #bdbdbd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a:active {
  background-color: #DCDCDC;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .left {
  width: 72px;
  height: 72px;
  position: absolute;
  background-position: -256px 0;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .left img {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .left .btnPlay {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  background-position: -256px -72px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right {
  padding-left: 5.25em;
  height: 100%;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightHeader {
  height: 3.25em;
  width: 100%;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightHeader p {
  color: #212121;
  line-height: 1.4em;
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  text-align: left;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom {
  height: 1.25em;
  width: 100%;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom * {
  color: #808080;
  font-size: 14px;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom div {
  display: inline-block;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom .rightBottomLeft {
  float: left;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom .rightBottomRight {
  float: right;
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom .rightBottomRight i {
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-right: 0.15em;
  background-position: -172px -64px;
  margin-top: 4px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
}
.moreRecommend .moreItem .mainContentUl .newsLiItem a .right .rightBottom .rightBottomRight .viewTimesIcon {
  float: left;
}
.moreRecommend .moreItem .mainContentUl .shortKeyLiItem {
  float: left;
  width: 65px;
  height: 65px;
  padding: 10px 10px 0 0;
}
.moreRecommend .moreItem .mainContentUl .shortKeyLiItem a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: 195px 130px;
}
.loadingResultTips {
  height: 35px;
  display: none;
  text-align: center;
}
.loadingResultTips .loadingImg {
  background-image: url("../../images/loading2.svg");
  margin: 0 auto;
  height: 2em;
  width: 2em;
  display: none;
}
.loadingResultTips .loadingImg.active {
  -webkit-animation: aloading 0.8s steps(6, end) 0s infinite;
  -moz-animation: aloading 0.8s steps(6, end) 0s infinite;
  animation: aloading 0.8s steps(6, end) 0s infinite;
  display: block !important;
}
.loadingResultTips .loadError {
  display: none;
  color: #757373;
  text-decoration: none !important;
}
@-webkit-keyframes aloading {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes aloading {
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes aloading {
  to {
    transform: rotate(360deg);
  }
}
#downloadCon {
  width: 100%;
  height: atuo;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  background-color: #9E9A98;
  opacity: 0;
}
#downloadCon .allDownImg {
  max-width: 100%;
  margin-bottom: 0;
}
#downloadCon a {
  position: absolute;
  right: 12px;
  display: inline-block;
  width: 21%;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 14px;
}
/*响应式样式*/
@media screen and (min-width: 750px) {
  body {
    width: 750px;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  .rightHeader p {
    font-size: 14px !important;
    text-align: center;
  }
  .rightBottom * {
    font-size: 12px !important;
  }
  .rightBottom .rightBottomRight i {
    margin-top: 3px !important;
    -webkit-transform: -webkit-scale(1) !important;
    -moz-transform: -moz-scale(1) !important;
  }
}
