<!DOCTYPE html>
<html>
<head>
    <php>
        $oneplus_seo_meta = get_seo_meta($vars,$seo);
    </php>

    <if condition="$oneplus_seo_meta['title']">
        <title>{$oneplus_seo_meta['title']}</title>
        <else/>
        <title>{:C('WEB_SITE_TITLE')}</title>
    </if>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="__CSS__/app.min.css">
    <style>
        .player {
            position: relative;
            width: 100%;
            background-image: url("__IMG__/bg.png");
        }
        .related-pic img {
            width:45%;
            height: 96%;
        }
        .app-bottombar {
            z-index: 3000;
            position: fixed;
            bottom: 0;
            height: 60px;
            width: 100%;
            background: url("__IMG__/bg.png");
        }
        .bottomspace {
            height: 55px;
        }
        .bottom-icon {
            float: left;
            margin: 5px 10px 5px 10px;
        }
        .bottom-title {
            float: left;
            font-size: 18px;
            color: #fff;
            margin-top: 10px;
        }
        .bottom-content {
            position: absolute;
            color: #aaa;
            font-size: 12px;
            margin-top: 4px;
        }
        .bottom-star {
            float: left;
            margin-top: 10px;
            margin-left: 5px;
        }

        .bottom-right {
            float: right;
            margin: 12px 10px;
            width: 80px;
            height: 35px;
            font-size: 16px;
            color: #fff;
            line-height: 35px;
            border-radius: 5px;
            background-color: #2aba00;
            text-align: center;
            z-index: 3000;
        }
        .course-org{
            float:left;
            width: 100%;
            margin-top: 8px;
        }
        .org-title{
            display: inline-block;
            padding-top: 5px;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
        }
        .org-info{
            float: left;
            color: #4a4a4a;
            font-size: 12px;
            line-height: 13px;
            font-weight: normal;
            margin-top: 3px;
        }
    </style>
</head>

<body>
<div class="app-page" data-page="home">
    <div class="app-content" style="-webkit-box-shadow: none;">
        <div class="player" style="height: 120px;">
            <div style="position: relative;width: 100%;">
                <span class="course-org" style="margin-top: 30px;">
                    <span style="float: left;">
                        <img  style="width: 60px;height: 60px;vertical-align:text-top;margin-left: 10px;" src="{$organization['logo']}"/>
                    </span>
                    <span class="org-title" style="color: white;margin-left: 20px;">{$organization['name']}
                            <volist name="organization['authenticationInfo']" id="auth">
                                <eq name="auth['default_display']" value="1">
                                    &nbsp;&nbsp;<img  style="width: 15px;vertical-align:text-bottom;" src="{$auth['tag_pic_url']}"/>
                                </eq>
                            </volist>
                            <br>
                            <br>
                            <span class="org-info" style="color: white;">
                                {$organization['view_count']}查看 <span style="color: #bfcece">|</span> {$organization['teachersCount']}老师 <span style="color: #bfcece">|</span> {$organization['followCount']}粉丝
                            </span>
                    </span>
                </span>
            </div>
        </div>
        <div style="position: relative;height: 40px;background-color: red;color: white;">
            <p>
                <div style=" width: 50%;float: left;text-align: center;padding-top: 10px;">嘿设汇认证</div>
                <div style=" width: 50%;float: left;text-align: center;padding-top: 10px;">诚信机构认证</div>
            </p>
        </div>
        <div class="app-section" style="margin: 10px;height: 80px;padding: 0px">
            <volist name="toppost" id="post">
                <div style="width: 100%;height: 50%;margin: 0;">
                    <div style="float: left;margin: 8px 0 8px 10px;border: 1px solid #ff0000;border-radius: 3px;font-size: 10px;padding: 3px 3px 3px 3px;color: red;">{$post['tag']}</div>
                    <div style="float: left;margin: 8px 0 8px 10px;">{$post['title']}</div>
                </div>
            </volist>
        </div>
        <div style="position: relative;height: 40px;background-color: red;color: white;">
            <p style="height: 100%;text-align: center;padding-top: 10px;">剩余报名担保名额{$enroll['available_count']}人，马上报名</p>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;height: 60px;padding: 15px">
            <span style="float: left;">
                <img style="width: 60px;height: 60px;" src="__IMG__/pic_type_libao.png">
            </span>
            <div style="height: 100%;width: 75%;margin-left: 90px;margin-top: 0px;">
                <ul style="color: #f00;">
                    <volist name="enroll['data']" id="enroll_item">
                        <li style="list-style-type: disc;">
                            <span style="color:black;">{$enroll_item['student_name']} 同学 于 {$enroll_item['create_time']} 成功报名</span>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;padding: 15px">
            <p style="height: 30px;border-bottom: 1px solid grey;border-radius: 0;">基本信息</p>
            <div></div>
            <span style="margin-top: 10px;width: 100%;padding-top: 10px;">
                {$organization['introduce']}
            </span>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;padding: 15px">
            <p style="height: 30px;border-bottom: 1px solid grey;border-radius: 0;">优势</p>
            <div></div>
            <span style="margin-top: 10px;width: 100%;padding-top: 10px;">
                <ul style="list-style-type: none;">
                    <volist name="organization['advantage']" id="advantage_item">
                        <li style="display: inline-block;">
                            <span style="display: table;background-color:#FFDECC;margin: 5px;padding: 5px;border-radius: 5px;">{$advantage_item}</span>
                        </li>
                    </volist>
                </ul>
            </span>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;height: 160px;padding: 15px">
            <p style="height: 30px;border-bottom: 1px solid grey;border-radius: 0;">机构视频</p>
            <span>
                <img style="height: 130px;width: 100%;" src="{$org_video['video_img']}">
            </span>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;height: 160px;padding: 15px">
            <p style="height: 30px;border-bottom: 1px solid grey;border-radius: 0;">师资力量</p>
            <span>
                <ul style="list-style-type: none;">
                    <volist name="teacher" id="teacher_item">
                        <li style="display: inline-block;width:50%;">
                            <span style="display: inline-block;padding: 10px 0 10px 0;">
                                <span style="float: left;">
                                    <img  style="width: 48px;height: 48px;vertical-align:text-top;border-radius: 50px;" src="{$teacher_item['info']['avatar128']}"/>
                                </span>
                                <span class="org-title">{$teacher_item['info']['nickname']}
                                    <br>
                                    <span class="org-info">
                                            {$organization['name']}
                                    </span>
                                </span>
                            </span>
                        </li>
                    </volist>
                </ul>
            </span>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;height: 140px;padding: 15px">
            <span style="display: inline-block;float: left;width: 100%;text-align: center;height: 40px;border-bottom: 1px solid grey;border-radius: 0;">
                <span style="float: left;">综合评分：{$fractionalStatistics['comprehensiveScore']}分</span>
                <span><div id="comprehensive_rate" style="display: inline-block;float: left;height: 30px;width: 150px;"></div></span>
                <span style="float: right;">共{$comment['totalCount']}评论</span>
            </span>
            <span style="display: inline-block;float: left;margin: 0;width: 100%;text-align: center;height: 80px;margin-top: 20px;">
                <volist name="fractionalStatistics['data']" id="statistic_item">
                    <span style="float: left;width: 30%;margin:0 5px 0 5px;">
                        <span>{$statistic_item['value']}</span><br>
                        <span>
                            <div class="cate_rate" rate="{$statistic_item['score']}" style="display: inline-block;float: left;height: 30px;width: 100%;"></div>
                        </span><br>
                        <span>平均{$statistic_item['score']}分</span>
                    </span>
                </volist>
            </span>
        </div>
        <div class="app-section" style="margin: 10px 10px 10px 10px;padding: 15px">
            <volist name="comment['data']" id="comment_item">
                    <span style="display:inline-block;width:100%;border-bottom: 1px solid grey;border-radius: 0;padding-bottom: 10px;">
                        <span style="float: left;">
                            <img  style="width: 48px;border-radius: 50px;height: 48px;vertical-align:text-top;" src="{$comment_item['userInfo']['avatar128']}"/>
                        </span>
                        <span class="org-title">
                            <span>{$comment_item['userInfo']['nickname']}</span>
                            <br>
                            <span>{$comment_item['comment']}</span>
                            <br>
                            <span style="color:grey;">发表于{$comment_item['create_time']}</span>
                        </span>
                        <span style="float: right;">
                            <div class="comment_rate" rate="{$comment_item['comprehensive_score']}" style="display: inline-block;float: right;height: 30px;width: 100px;"></div>
                        </span>
                    </span>
            </volist>
        </div>
        <div class="bottomspace"></div>
    </div>
    <div class="app-bottombar">
        <div>
            <div>
            <span class="bottom-icon">
                <img style="width: 50px;" src="__IMG__/icon.png" />
            </span>
            <span class="bottom-title">
                <p>嘿设汇</p>
                <p class="bottom-content">设计师必备 百万设计师都在用</p>
            </span>
            <span class="bottom-star">
                <img style="width: 10px;margin-left: -1px" src="__IMG__/star.png" />
                <img style="width: 10px;margin-left: -1px;" src="__IMG__/star.png" />
                <img style="width: 10px;margin-left: -1px;" src="__IMG__/star.png" />
                <img style="width: 10px;margin-left: -1px;" src="__IMG__/star.png" />
                <img style="width: 10px;margin-left: -1px;" src="__IMG__/star.png" />
            </span>
            </div>
            <div class="app-button bottom-right">
                <p>立即下载</p>
            </div>
        </div>
    </div>
</div>

<div class="app-page" data-page="page2">
    <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Page 2</div>
    </div>
    <div class="app-content">
        Page 2 is lonely
    </div>
</div>

<script src="__JS__/zepto.js"></script>
<script src="__JS__/app.min.js"></script>
<script src="__JS__/jRate.min.js"></script>
<script>
    App.controller('home', function (page) {
        // put stuff here
        //rawText      : '点击“确定”下载<br>【嘿设汇App】<br>体验更多功能',
        $(page)
                .find('.app-button')
                .on('click', function () {
                    window.location.href = "http://www.hisihi.com/download.php";
                    /*App.dialog({
                     title        : '嘿设汇',
                     rawText      : '<img style="width: 50px;" src="__IMG__/icon.png" /><br>火速下载',
                     okButton     : '确定',
                     cancelButton : '取消'
                     }, function (tryAgain) {
                     if (tryAgain) {

                     }
                     });*/
                });

    });

    App.controller('page2', function (page) {
        // put stuff here
    });

    try {
        App.restore();
    } catch (err) {
        App.load('home');
    }

    var userAgent = window.location.href;
    if(userAgent.indexOf("hisihi-app") > 0) {
        $(".app-bottombar").hide();
        $(".bottomspace").hide();
    }

    $(function(){
        $("#comprehensive_rate").jRate({
            startColor: "#FF5A00",
            endColor: "#FF5A00",
            strokeColor: '#FF5A00',
            rating:{$fractionalStatistics['comprehensiveScore']},
            readOnly: true
        });

        $(".cate_rate").each(function(){
            var $this = $(this);
            var rate = $this.attr('rate');
            var rate_color = "#FF5A00";
            if(rate < 3){
                rate_color = "#23A438";
            }
            if(rate < 4 && rate >= 3){
                rate_color = "#FDBE0D";
            }
            $this.jRate({
                shape:'RECTANGLE',
                count:1,
                height:'100%',
                width:'100%',
                strokeColor: 'white',
                backgroundColor: "#E3E3E3",
                startColor: rate_color,
                endColor: rate_color,
                rating:rate,
                readOnly: true
            });
        });

        $(".comment_rate").each(function(){
            var $this = $(this);
            var rate = $this.attr('rate');
            $this.jRate({
                startColor: "#FF5A00",
                endColor: "#FF5A00",
                strokeColor: '#FF5A00',
                rating:rate,
                readOnly: true
            });
        });
    });
</script>
</body>
</html>
