<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="嘿设汇——机构基本信息" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="Description" content="嘿设汇——机构基本信息">
    <meta name="Keywords" content="嘿设汇——机构基本信息">
    <link type="text/css" href="__CSS__/orgbasicinfo.css" rel="stylesheet"/>
    <title>嘿设汇——机构基本信息</title>
</head>
<body>
    <div id="wrapper">
        <!--基本信息-->
        <div class="mainItem logoAndCertInfo">
            <div class="head mainContent">
                <div class="filter">
                    <img class="logoBg myLogo" src="__IMG__/orgbasicinfo/bg.png" alt="logo"/>
                    <div class="filterUp"></div>
                </div>
                <div class="mainInfo">
                    <div class="left">
                        <img class="myLogo" src="__IMG__/orgbasicinfo/bg.png" />
                    </div>
                    <div class="right">
                        <div id="orgName">神马培训机构</div>
                        <div class="peopleInfo">
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="viewedVal">4.9万</div>
                                <div class="filedInfo">查看人数</div>
                            </div>
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="teacherdVal">49</div>
                                <div class="filedInfo">老师</div>
                            </div>
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="fansVal">4219</div>
                                <div class="filedInfo">粉丝</div>
                            </div>
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="groupsVal">476</div>
                                <div class="filedInfo">群主</div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bottom">
                <div class="cerInfoItem">
                    <span>
                        <i class="heiCerIcon certed spiteBg"></i>
                        <span class="cerName">嘿设汇认证</span>
                        <div style="clear: both;"></div>
                    </span>
                </div>
                <div class="cerInfoItem">
                    <span>
                        <i class="honestCerIcon unCerted spiteBg"></i>
                        <span class="cerName">诚信机构认证</span>
                        <div style="clear: both;"></div>
                    </span>
                </div>
            </div>
        </div>
        <!--头条信息-->
        <div class="mainItem mainItemNormal mainItemTopNews">
            <ul class="topNewsCon mainContent">
                <li>
                    <div class="topNewLogo">头条</div>
                    <div class="title">
                        <a href="#">W3School 提供的内容仅用于培训。我们不保证内容的正确性。通过使用本站内容随之而来的风险与本站无关。W3School 简体中文版的所有内容仅供测试，</a>
                    </div>
                </li>
                <li>
                    <div class="topNewLogo">头条</div>
                    <div class="title">
                        <a>自打2014年起，中国二手车行业就已经热闹非凡。投资人热钱漫天飞舞，车商们吵骂不绝于耳，互联网巨头们忙着跑马圈地。两年间</a>
                    </div>
                </li>
                <li>
                    <div class="topNewLogo">头条</div>
                    <div class="title">
                        <a>我对二手车感兴趣，是因为旅居欧洲的七年间，亲身感受到二手车对海外普通消费者的日常生活是多么不可或缺，二手车经济在欧洲市场的发展是多么稳健而繁荣。，</a>
                    </div>
                </li>
                <li>
                    <div class="topNewLogo">头条</div>
                    <div class="title">
                        <a>顷刻间，还不容你看清楚、搞明白O2O到底是什么，企业转型狂潮已经呼啸而来，</a>
                    </div>
                </li>
            </ul>
        </div>

        <!--报名的同学-->
        <div class="mainItem mainItemNormal mainItemSignUp">
            <div class="header">
                <p>
                    <span>剩余报名担保名额</span>
                    <span>65</span>
                    <span>人，马上报名</span>
                </p>
            </div>
            <div class="mainContent">
                <div class="signUpIcon spiteBg"></div>
                <ul class="signUpCon">
                    <li>
                    <span class="dot">&middot;</span>
                    <span>李志</span>
                    <span>&nbsp;&nbsp;同学于</span>
                    <span>&nbsp;&nbsp;2015-11-02</span>
                    <span>&nbsp;&nbsp;成功报名</span>
                </li>
                    <li>
                        <span class="dot">&middot;</span>
                        <span>万晓利</span>
                        <span>&nbsp;&nbsp;同学于</span>
                        <span>&nbsp;&nbsp;2015-11-02</span>
                        <span>&nbsp;&nbsp;成功报名</span>
                    </li>
                    <li>
                        <span class="dot">&middot;</span>
                        <span>万晓利他妈</span>
                        <span>&nbsp;&nbsp;同学于</span>
                        <span>&nbsp;&nbsp;2015-11-02</span>
                        <span>&nbsp;&nbsp;成功报名</span>
                    </li>
                </ul>
            </div>
        </div>

        <!--基本信息-->
        <div class="mainItem mainItemNormal mainItemBasicInfo">
            <div class="basicHeader"><span>基本信息</span></div>
            <div class="mainContentItem introduce">
                <p>我深深的爱着你，你却爱着一个傻逼，傻逼他不爱你，你比傻逼还傻逼，这他妈的什么道理，我跑着去找万晓利，不巧他在织毛衣，笑着说：hi，李逼
                wo……，万晓利啊万晓利，你他妈的也会织毛衣wo……wo……万晓利啊万晓利我能不能做你的小傻逼出门遇见陈鲈鱼她骑着一头小毛驴毛驴穿着小毛衣她和毛驴谁才是傻逼wo……wo……陈鲈鱼啊陈鲈鱼
                我能不能做你的小毛驴
                </p>
            </div>
            <div class="mainContentItem advanceTags">
                <div class="itemHeader">优势</div>
                <ul class="itemContentDetail">
                    <li>上市公司</li>
                    <li>指定讲师</li>
                    <li>防毒防爆</li>
                    <li>武汉工作环境最好的互联基地</li>
                </ul>
            </div>
            <div class="mainContentItem videoCon">
                <div class="itemHeader">机构视频</div>
                <div id="videoPreviewBox">
                    <img src="__IMG__/orgbasicinfo/videopreview.png"/>
                    <i class="spiteBgOrigin"></i>
                </div>
            </div>

        </div>

        <!--师资力量-->
        <div class="mainItem mainItemNormal mainItemTeacherPower">
            <div class="basicHeaderWithArrow">
                <span>师资力量</span>
                <i class="spiteBgOrigin"></i>
            </div>
        </div>

        <div class="mainItem mainItemNormal mainItemLocation">
            <div class="basicHeaderWithArrow">
                <span>地址</span>
                <i></i>
            </div>
        </div>
    </div>
</body>
<script>
    window.urlObject= {
        js: "__JS__"+'/orgbasicinfo',
        css: "__CSS__",
        image: "__IMG__",
        ctl:'__URL__',
        apiUrl:'__API__',
    };
</script>
<script type="text/javascript" data-main="__JS__/orgbasicinfo/main"  src="__JS__/orgbasicinfo/require.js" ></script>
</html>