<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="嘿设汇——机构基本信息" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="Description" content="嘿设汇——机构基本信息">
    <meta name="Keywords" content="嘿设汇——机构基本信息">
    <link type="text/css" href="__CSS__/orgbasicinfo.css" rel="stylesheet"/>
    <title>嘿设汇——机构基本信息</title>
</head>
<body>
    <div id="wrapper">
        <div class="mainItem logoAndCertInfo">
            <div class="head mainContent">
                <img src="#"/>
                <div class="mainInfo">
                    <div class="left">
                        <img src="#"/>
                    </div>
                    <div class="right">
                        <h3 id="orgName">神马培训机构</h3>
                        <div class="peopleInfo">
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="viewedVal">4.9万</div>
                                <div class="filedInfo">查看人数</div>
                            </div>
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="teacherdVal">4.9万</div>
                                <div class="filedInfo">老师</div>
                            </div>
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="fansVal">4.9万</div>
                                <div class="filedInfo">粉丝</div>
                            </div>
                            <div class="peopleInfoItem">
                                <div class="valInfo" id="groupsVal">4.9万</div>
                                <div class="filedInfo">群主</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bottom">
                <div class="cerInfoItem">
                    <i class="heiCer"></i>
                    <div class="cerName">嘿设汇认证</div>
                </div>
                <div class="cerInfoItem">
                    <i class="honestCer"></i>
                    <div class="cerName">诚信机构认证</div>
                </div>
            </div>
        </div>
        <div class="mainItem"></div>
        <div class="mainItem"></div>
        <div class="mainItem"></div>
        <div class="mainItem"></div>
        <div class="mainItem"></div>
    </div>
</body>
</html>