<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="嘿设汇——机构基本信息" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="Description" content="嘿设汇——机构基本信息">
    <meta name="Keywords" content="嘿设汇——机构基本信息">
    <link type="text/css" href="__CSS__/orgbasicinfo.css" rel="stylesheet"/>
    <title>嘿设汇——机构基本信息</title>
</head>
<body>
    <div id="loadingTip" class="loadingResultTips">
        <div class="loadingImg active"></div>
        <a class="loadError" id="basicInfoLoadEorror" href="javascript:void(0)">加载失败，点击重新加载</a>
    </div>
    <div id="wrapper" data-oid="{$organization_id}">
        <div class="mainItem logoAndCertInfo"></div>

        <!--头条信息-->
        <div class="mainItem mainItemNormal mainItemTopNews">
            <div class="loadErrorCon">
                <a class="loadError" href="javascript:void(0)"></a>
            </div>
            <ul class="topNewsCon mainContent">
                <li><div class="nonData">暂无头条信息</div>></li>
            </ul>
        </div>

        <!--报名的同学-->
        <div class="mainItem mainItemNormal mainItemSignUp">
            <div class="loadErrorCon">
                <a class="loadError" href="javascript:void(0)"></a>
            </div>
            <div class="header">
                <p>
                    <span>剩余报名担保名额</span>
                    <span id="leftSingUpNum">65</span>
                    <span>人，马上报名</span>
                </p>
            </div>
            <div class="mainContent">
                <div class="signUpIcon spiteBg"></div>
                <ul class="signUpCon">
                    <li><div class="nonData">暂无人员报名</div></li>
                </ul>
            </div>
        </div>

        <!--基本信息-->
        <div class="mainItem mainItemNormal mainItemBasicInfo">
            <div class="basicHeader"><span>基本信息</span></div>
            <div class="mainContentItem introduce">
                <div class="nonData">暂无基本信息</div>
            </div>
            <div class="mainContentItem advanceTags">
                <div class="itemHeader">优势</div>
                <ul class="itemContentDetail">
                    <li>暂无优势标签</li>
                </ul>
            </div>
            <div class="mainContentItem videoCon">
                <div class="itemHeader">机构视频</div>
                <div id="videoPreviewBox">
                    <img id="videoPreview" src="__IMG__/orgbasicinfo/videopreview.png"/>
                    <i class="spiteBgOrigin"></i>
                </div>
            </div>

        </div>

        <!--师资力量-->
        <div class="mainItem mainItemNormal mainItemTeacherPower" data-loaded="false" data-loading="false">
            <div class="basicHeaderWithArrow">
                <span>师资力量</span>
                <i class="spiteBgOrigin arrow"></i>
            </div>
            <div class="loadErrorCon">
                <a class="loadError" href="javascript:void(0)"></a>
            </div>
            <ul class="teacherPowerDetail">
                <div class="nonData">暂无老师</div>
                <div style="clear: both;"></div>
            </ul>
        </div>

        <!--地理位置-->
        <div class="mainItem mainItemNormal mainItemLocation">
            <div class="basicHeaderWithArrow">
                <span>地址</span>
                <i class="spiteBgOrigin arrow"></i>
            </div>
            <div class="locationDetail">
                <p id="myLocation"></p>
                <div class="locationMap">
                    <img src=""/>
                </div>
            </div>
        </div>

        <!--综合评价-->
        <div class="mainItem mainItemNormal mainItemCompresAsse" data-loaded="false" data-loading="false">
            <div class="loadErrorCon">
                <a class="loadError" href="javascript:void(0)"></a>
            </div>
            <div class="basicHeader">
                <span class="leftItem">
                    <span>综合评价：</span>
                    <span id="myAssessment">4.5</span>
                </span>
                <span class="leftItem starsCon" id="starsConForCompress">
                    <div style="clear: both;"></div>
                </span>
                <span class="rightItem">
                    <span>共</span><span id="commentNum">51</span><span>评论</span>
                </span>
            </div>
            <ul class="assessmentDetail">
                <li id="priceColorBlock">
                    <div class="title">描述相符</div>
                    <div class="colorBlock">
                        <i class="fillIn"></i>
                        <i class="unFillIn"></i>
                    </div>
                    <div class="bottomInfo">
                        <span>平均</span>
                        <span class="score">5</span>
                        <span>分</span>
                    </div>
                </li>
                <li id="gradeColorBlock">
                    <div class="title">教学态度</div>
                    <div class="colorBlock">
                        <i class="fillIn"></i>
                        <i class="unFillIn"></i>
                    </div>
                    <div class="bottomInfo">
                        <span>平均</span>
                        <span class="score">5</span>
                        <span>分</span>
                    </div>
                </li>
                <li id="teacherPowerColorBlock">
                    <div class="title">授课质量</div>
                    <div class="colorBlock">
                        <i class="fillIn"></i>
                        <i class="unFillIn"></i>
                    </div>
                    <div class="bottomInfo">
                        <span>平均</span>
                        <span class="score">5</span>
                        <span>分</span>
                    </div>
                </li>
                <div style="clear: both;"></div>
            </ul>
            <div class="studentCommentCon">
                <div class="loadErrorCon">
                    <a class="loadError" href="javascript:void(0)"></a>
                </div>
                <div class="basicHeaderWithArrow">
                    <span>学员评价</span>
                    <i class="spiteBgOrigin arrow"></i>
                </div>
                <div class="inputComment">
                    <input type="text" placeholder="有什么感想快来说说吧…" disabled="disabled" id="myComment"/>
                </div>
                <ul class="studentCommentDetail">
                    <li><div class="nonData">暂无评论</div></li>
                    <!--<li>-->
                        <!--<div class="imgCon">-->
                            <!--<img src="http://pic.hisihi.com/2015-12-29/1451318640734258.png@170-79-223-223a"/>-->
                        <!--</div>-->
                        <!--<div class="commentCon">-->
                            <!--<div class="commentHead">-->
                                <!--<span class="commentNickname">张学友</span>-->
                                <!--<span class="rightItem starsCon">-->
                                    <!--<i class="allStar spiteBgOrigin"></i>-->
                                    <!--<i class="allStar spiteBgOrigin"></i>-->
                                    <!--<i class="allStar spiteBgOrigin"></i>-->
                                    <!--<i class="halfStar spiteBgOrigin"></i>-->
                                    <!--<i class="emptyStar spiteBgOrigin"></i>-->
                                    <!--<div style="clear: both;"></div>-->
                                <!--</span>-->
                            <!--</div>-->
                            <!--<div class="content">这个培训机构各种坑爹，大家千万不要去！！！这个培训机构各种坑爹，大家千万不要去</div>-->
                            <!--<div class="publicTime">发表于30年前</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="imgCon">-->
                            <!--<img src="http://hisihi-avator.oss-cn-qingdao.aliyuncs.com/2015-03-26/551369fe8358c-05505543.jpg"/>-->
                        <!--</div>-->
                        <!--<div class="commentCon">-->
                            <!--<div class="commentHead">-->
                                <!--<span class="commentNickname">陈粒</span>-->
                                <!--<span class="rightItem starsCon">-->
                                    <!--<i class="allStar spiteBgOrigin"></i>-->
                                    <!--<i class="allStar spiteBgOrigin"></i>-->
                                    <!--<i class="allStar spiteBgOrigin"></i>-->
                                    <!--<i class="halfStar spiteBgOrigin"></i>-->
                                    <!--<i class="emptyStar spiteBgOrigin"></i>-->
                                    <!--<div style="clear: both;"></div>-->
                                <!--</span>-->
                            <!--</div>-->
                            <!--<div class="content">拥有坑人绝对的完美一双手，不流汗也不发抖，交叉在微笑的背后，暗藏危险的轮廓</div>-->
                            <!--<div class="publicTime">发表于35年前</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>


    </div>
    <!--下载条-->
    <div id="downloadCon">
        <img src="__IMG__/orgbasicinfo/2.png" class="allDownImg" />
        <a href="http://www.hisihi.com/download.php">立即下载</a>
    </div>
</body>
<script>
    window.urlObject= {
        js: "__JS__"+'/orgbasicinfo',
        css: "__CSS__",
        image: "__IMG__",
        ctl:'__URL__',
//        apiBasicUrl:'http://{$Think.server.HTTP_HOST}/hisihi-cms/',
        apiBasicUrl:'http://{$Think.server.HTTP_HOST}/',
//        apiUrl:'http://{$Think.server.HTTP_HOST}/hisihi-cms/api.php?s=/Organization/',
        apiUrl:'http://{$Think.server.HTTP_HOST}/api.php?s=/Organization/',
    };
    window.onload=function() {
        document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
    };
</script>
<script type="text/javascript" data-main="__JS__/orgbasicinfo/main"  src="__JS__/orgbasicinfo/require.js" ></script>
</html>