<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="嘿设汇——机构基本信息" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="Description" content="嘿设汇——机构基本信息">
    <meta name="Keywords" content="嘿设汇——机构基本信息">
    <link type="text/css" href="__CSS__/orgbasicinfo/orgbasicinfov2.9.5.css" rel="stylesheet"/>
    <link type="text/css" href="__CSS__/orgbasicinfo/video.min.css" rel="stylesheet"/>
    <link href="__CSS__/photoswipe/default-skin/photoswipeunion.min.css" rel="stylesheet" type="text/css">
    <script src="__JS__/orgbasicinfo/2.9.5/video.min.js" type="application/javascript"></script>
    <title>{$organization_name}</title>
</head>
<body>

    <div id="wrapper" data-oid="{$organization_id}">
        <!--基本信息-->
        <div class="logo-box">
            <div class="filter">
                <img id="filter-logo" src="http://hisihi-other.oss-cn-qingdao.aliyuncs.com/hotkeys/hisihiOrgLogo.png" alt="logo">
            </div>
            <div class="logo-main-info">
                <div class="logo-main-box">
                    <img id="logo" src="http://hisihi-other.oss-cn-qingdao.aliyuncs.com/hotkeys/hisihiOrgLogo.png">
                    <img class="v-cert" src="__IMG__/orgbasicinfo/2.9.5/ic_v@3x.png">
                </div>
                <div class="name-main-box">
                    <img src="__IMG__/orgbasicinfo/2.9.5/ic_video@2x.png">
                    <div class="org-name-box">
                        <div class="org-name">嘿设汇培训机构</div>
                    </div>
                    <span class="cert-box"><img src="http://pic.hisihi.com/2015-12-03/565fb1c61bd54.png"></span>
                </div>
                <div class="user-number-box">
                    <span>
                        <img src="__IMG__/orgbasicinfo/2.9.5/ic_eye@3x.png">
                        <label>4.9w</label></span>
                    <span>
                       <img src="__IMG__/orgbasicinfo/2.9.5/ic_people@3x.png">
                        <label>4.9w</label>
                    </span>
                </div>
            </div>
        </div>

        <!--机构动态-->
        <div class="main-item news-box">
            <div class="left-item">
                <!--<img src="__IMG__/orgbasicinfo/2.9.5/ic_dynamic@3x.png">-->
            </div>
            <div class="right-item">
                <div></div>
            </div>
        </div>

        <!--报名信息-->
        <div class="main-item sing-up-box">
            <div class="sing-up-main">
                <div class="left-item">
                    <label>报名领</label>
                    <i></i>
                    <label>:</label>
                </div>
                <div class="right-item">
                    <div class="sing-up-detail-box"></div>
                </div>
            </div>
            <div class="sing-up-guarantee">
                <div class="guarantee-left">
                    <div class="color-bar-box">
                        <div class="disabled color-item"></div>
                        <div class="available color-item"></div>
                        <div class="left-num-box">
                            <span>剩余30人</span>
                        </div>
                    </div>
                </div>
                <div class="guarantee-right">
                    <span>共100个担保名额</span>
                </div>
            </div>
        </div>

        <!--优惠券-->
        <div class="coupon-box">
            <ul>
                <li>
                    <div class="coupon-header">￥10000</div>
                    <div class="coupon-bottom">
                        <p>适用于：PS大法速成班，以及什么吧啦吧啦的之类，反正不知道吃什么好</p>
                    </div>
                </li>
            </ul>
        </div>

        <!--机构地址-->
        <div class="location main-content-item">
            <div class="basic-header">地址</div>
            <div class="my-location"></div>
        </div>

        <!--机构简介-->
        <div class="main-item basic-info-box">
            <div class="introduce main-content-item">
                <div class="basic-header">机构简介</div>
                <div class="my-introduce"></div>
            </div>

            <!--地理位置-->
            <!--<div class="location main-content-item">-->
                <!--<div class="basic-header">地址</div>-->
                <!--<div class="my-location"></div>-->
            <!--</div>-->

            <!--标签-->
            <div class="advance-tags main-content-item">
                <div class="basic-header">优势</div>
                <ul class="my-tags">
                    <li>暂无优势标签</li>
                </ul>
            </div>

            <!--相册-->
            <div class="pics-box main-content-item">
                <div class="basic-header">相册
                    <span class="pics-number num-tips">
                        <label>1视频</label>
                        <label>34照片</label>
                    </span>
                </div>
                <div class="pics-preview-box">
                    <ul></ul>
                </div>
            </div>

            <!--师资力量-->
            <div class="teachers-box main-content-item ">
                <div class="basic-header">
                    <span>师资力量</span>
                </div>
                <ul class="teachers-detail"></ul>
            </div>

        </div>

        <!--视频教程-->
        <div class="main-item t-video-box">
            <div class="basic-header">视频教程<span class="num-tips">(3)</span></div>
            <div class="video-preview-box">
                <ul></ul>
            </div>
        </div>

        <!--学生作品-->
        <div class="main-item works-box">
            <div class="basic-header">学生作品</div>
            <div class="works-preview-box">
                <ul></ul>
            </div>
        </div>

        <!--群组-->
        <div class="main-item groups-box">
            <div class="basic-header">群组</div>
            <div class="groups-detail-box">
            </div>
        </div>

        <!--综合评价-->
        <div class="main-item comments-box" data-loaded="false" data-loading="false">
            <div class="comment-box-stars">
                <div class="basic-header">
                    <span class="left-item">
                        <span>综合评价：</span>
                        <span id="myAssessment" class="red-word">4.5</span>
                        <span class="red-word">分</span>
                    </span>
                    <span class="left-item" id="starsConForCompress"></span>
                    <span class="right-item">
                        <span id="commentNum">51</span><span>份评论</span>
                    </span>
                </div>
                <ul class="assessmentDetail">
                <li id="priceColorBlock">
                    <div class="title">描述相符</div>
                    <div class="stars-block"></div>
                </li>
                <li id="gradeColorBlock">
                    <div class="title">教学态度</div>
                    <div class="stars-block"></div>
                </li>
                <li id="teacherPowerColorBlock">
                    <div class="title">授课质量</div>
                    <div class="stars-block"></div>
                </li>
            </ul>
            </div>

            <div class="comment-box-words">
                <div class="basic-header">
                    <span>学员评价</span>
                </div>
                <div class="input-box">快来说说你的学习感受吧~</div>
                <ul class="studentCommentDetail">
                    <div class="nodata"><p>暂无评价</p></div>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="collection">
            <a href="http://www.hisihi.com/download.php">
                <i></i>
                <span>收藏</span>
            </a>
        </div>
        <div class="contact">
            <a href="">
                <i></i>
                <span>咨询</span>
            </a>
        </div>
        <div class="sing-in">预约试听</div>
    </div>

    <div class="modal video-modal">
        <div class="video-main">
            <video id="video-player" class="video-js vjs-default-skin" controls
                   poster=""
                   preload="auto" width="1000" height="500"
                   data-setup='{}'>
                <source src="" type="application/x-mpegURL">
                <!--<source src="http://pic.hisihi.com/hisihi_home_video_new/output.m3u8" type="application/x-mpegURL">-->
            </video>
        </div>

    </div>
    <div class="modal pic-modal">
        <div class="pics-nav"><span>1/8</span><label>点击查看大图</label></div>
        <div class="pic-main">
            <div class="filter">
                <img id="filter-img" src="http://pic.hisihi.com/2016-05-19/1463642572351446.png@38-38-392-392a" alt="logo">
            </div>

            <div class="view-pics-box">
                <img src="http://pic.hisihi.com/2016-05-19/1463642572351446.png@38-38-392-392a">
            </div>
        </div>
        <section class="imgzoom_pack">
            <div class="imgzoom_x btn"><span class="icon-cancel"></span></div>
            <div class="imgzoom_img"><img class="img-target" src="" /></div>
        </section>
    </div>

    <div class="modal sing-in-modal">
        <div class="sing-in-box">
            <div class="sing-in-header"><label>预约试听</label><div class="close-sing-in">×</div></div>
                <div class="sing-in-item">
                    <input type="text" placeholder="输入手机号码" id="phone-num">
                </div>
                <div class="sing-in-item">
                    <input type="text" placeholder="输入姓名" id="user-name">
                </div>
                <p class="tips">课程顾问将在15分钟之内联系您</p>
                <div class="sing-in-btn">确定预约</div>
        </div>
    </div>

</body>
<script>
    window.hisihiUrlObj= {
        js: "__JS__/sharecommon",
        image: "__IMG__",
        ctl:'__URL__',
        apiUrl:'http://{$Think.server.HTTP_HOST}/api.php?s=/Organization/',
        apiUrlPy:'__API_URL__'
    };

    window.onload=function() {
        document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
    };
</script>
<!--<script type="text/javascript" data-main="__JS__/orgbasicinfo/2.9.5/config"  src="__JS__/orgbasicinfo/require.js" ></script>-->
<script type="text/javascript" data-main="__JS__/orgbasicinfo/2.9.5/orgbasicinfo-2.9.5"  src="__JS__/orgbasicinfo/require.js" ></script>
</html>