<!DOCTYPE html>
<html  style="overflow-x: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link type="text/css" href="__CSS__/teaching-course/homev3.0.2.css" rel="stylesheet">
    <title>课程主页</title>
</head>
<body data-oid="{$organization_id}">
    <div id="banner">
        <img src="" class="banner-img">
    </div>
    <div id="current-info">
        <div class="main-item basic-info"></div>
        <div class="main-item org-basic-info"></div>
        <!--预约有礼-->
        <div class="main-item appointment"></div>

        <!--抵扣券-->
        <div class="main-item deduction-basic-info">
            <div class="deduction-main-info">
                <div class="left-item">
                    <div class="val">
                        <span>抵扣券：</span>
                        <span>￥</span>
                        <span></span>
                        <span></span>
                    </div>
                    <span class="diff-tips"></span>
                </div>
                <div class="right-item">
                    <div class="btn">立即抢购</div>
                    <span>214天23:35:59</span>
                </div>
            </div>
            <div class="deduction-tip"></div>
            <div class="buy-note">
                <div class="head-txt">购买须知</div>
                <div class="buy-note-item">
                    <span>有效期</span>
                    <span>2016.12.31--2020.12.31</span>
                </div>
                <div class="buy-note-item">
                    <span>使用条件</span>
                    <p>新华社郑州９月２３日电（记者李丽静）记者２３日从河南省高级人民法院获悉，因拒不履行协助划拨被执行人存款义务，中国农业银行唐河县新春支行被法院罚款１０万元。</p>
                </div>
                <div class="buy-note-item">
                    <span>使用方法</span>
                    <p>法院执行干警持相关手续到银行，要求当班工作人员齐兴娜协助办理相关手续。齐称主管领导正在开会，不能办理相关业务，要求执行干警次日再来。在被明确告知内部规定不能对抗法律规定，且账户钱款一旦转移将造成国家损失无法挽回后，齐坚持拒绝联系相关领导，并转身离开工作岗位，对正在讲理释法的执行干警不再理睬，导致执行工作受阻。</p>
                </div>
            </div>
        </div>

        <div class="main-item lessons-detail"></div>
        <div class="main-item lessons-plan"></div>
        <div class="main-item lessons-sing-in"></div>
    </div>
    <div id="more-info">
        <div class="head-txt">
            <span>机构其他套餐</span>
        </div>
        <div class="main-item lessons-more">
            <ul></ul>
        </div>
    </div>
    <!--模态窗口-->
    <div class="model-box">
        <div class="model-box-item login-tips-box">
            <div class="login-header">
                请先登录再进行操作
            </div>
            <div class="btns-main">
                <div id="cancle-login">
                    <div class="btn">取消</div>
                </div>
                <div class="btn" id="do-login">去登录</div>
            </div>
        </div>
    </div>
    <!--预约试听-->
    <div class="modal sing-in-modal">
        <div class="sing-in-box">
            <div class="sing-in-header"><label>预约试听</label><div class="close-sing-in">×</div></div>
            <div class="sing-in-item">
                <input type="text" placeholder="输入手机号码" id="phone-num">
            </div>
            <div class="sing-in-item">
                <input type="text" placeholder="输入姓名" id="user-name">
            </div>
            <p class="tips">课程顾问将在15分钟之内联系您</p>
            <div class="sing-in-btn">确定预约</div>
        </div>
    </div>
</body>
<script type="application/javascript">
    window.hisihiUrlObj={
        link_url:'http://{$Think.server.HTTP_HOST}/',
        img_url:'__IMG__',
        js: "__JS__",
        api_url:'__API_URL__',
        statis_url:'__STATIS_URL__'
    };
    window.onload=function() {
        document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
    };
</script>
<script type="text/javascript" data-main="__JS__/teaching-course/3.0.2/config"  src="__JS__/sharecommon/require.js" ></script>
<!--<script type="text/javascript" data-main="__JS__/teaching-course/3.0.2/teachingcourse-3.0.2"  src="__JS__/sharecommon/require.js" ></script>-->
</html>