@color:#212121;
@g-color:#bdbdbd;
@width-p:90%;
.border-bottom(@c:#e6e6e6){
  border-bottom:1px solid @c;
}
body{
  margin: 0;
  background: #F2F2F2;
  max-width: 100%;
  // .abs-all-zero();
  overflow: auto;
}


.font-icon{
  display: inline-block;
}
.center-content {
  width: @width-p;
  margin: 0 auto;
}
.bg-sprite {
  background: url("../../images/teaching-course/sprite.png");
}

.bg-sprite-small{
  .bg-sprite;
  background-size: 180px 24px;
}
body {
  overflow-x: hidden;
}
.nodata{
  position: fixed;
  .size(108px,60px);
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -54px;
  display: none;
  p{
    font-size: 16px;
    color: #757070;
  }
}
.main-item{
  margin:15px auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding-bottom: 15px;
  .center-content {
    width: 90%;
    margin: 0 auto;
  }
  .head-txt{
    font-size: 18px;
    color: @color;
    @h:50px;
    .size(100%,@h);
    line-height: @h;
  }
  .border-bottom{
    .border-bottom();
  }

  /*基本信息*/
  &.basic-info{
    .center-content{
      height: 100%;
      #price{
        color: #ff6531;
        font-size: 20px;
      }
      .otherinfo{
        margin-top: 13px;
        li{
          display: inline-block;
          color: @g-color;
          margin-right: 13px;
          i{
            display: block;
            .size(24px,24px);
            float: left;
            margin-right: 5px;
            .bg-sprite;
            &.cer{
              background-position:-148px 0;
              width: 25px;
            }
            &.nums{
              background-position:-194px 0;
            }
            &.comment{
              background-position:-219px 0;
              .size(20px,20px);
            }
          }
          span{
            display: block;
            float: left;
            font-size: 16px;
          }
        }
      }
    }
  }

  &.org-basic-info{
    position: relative;
    @h:75px;
    @p:15px;
    .left{
      position: absolute;
      .size(@h+@p,@h);
      img{
        .border-radius(50%);
        .size(@h,@h);
        margin:@p @p @p 0;
      }

    }
    .right{
      margin-left:@h+@p;
      padding-top: @p+5px;
      padding-bottom: 8px;
      .org-name{
        color:RGB(33, 33, 33);
        .name{
          font-size: 22px;
          float: left;
          margin-right: 10px;
        }
        i{
          display: block;
          float: left;
          @w:24px;
          .size(@w,@w);
          .border-radius(2px);
          .bg-sprite-small;
          margin-top: 2px;
          margin-right: 7px;
          &:nth-child(3){
            background-position: -@w 0;
            margin-right: 0;
          }
        }
      }
      .nums-info{
        margin-top: 10px;
        li{
          display: inline-block;
          color: @g-color;
          margin-right: 3px;
        }
      }
    }
  }

  &.lessons-detail{
    .head-txt{
      .border-bottom();
    }
    ul{

      padding-bottom: 20px;
      margin-top: 5px;
      li{
        display: inline-block;
        background-color: #FF5A00;
        color: white;
        .border-radius(2px);
        height: 32px;
        line-height: 32px;
        margin-bottom: 10px;
        font-size: 14px;
        margin-right: 5px;
        padding:0 15px;
        letter-spacing: 1px;
      }
    }
    .content-txt{
      margin-top: 15px;
      p{
        color: @color;
        line-height: 25px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &.lessons-singin{
    .head-txt{
      .border-bottom();
    }
    ul{
      white-space:nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin: 15px auto;
      li{
        display:inline-block;
        margin-right: 12px;
        margin-bottom: 10px;
        img{
          @w:50px;
          .size(@w,@w);
          .border-radius(@w);
          box-shadow: 0 0 2px #000;
        }
      }
    }
  }

  &.lessons-more{
    margin-bottom: 0;
    padding-bottom:0 ;
    .head-txt{
      .border-bottom();
    }
    ul{
      margin-top: 15px;
      li{
        position: relative;
        .border-bottom();
        &.seperation {
          height: 15px;
          background-color: #F2F2F2;
          border: none;
          margin: 0;
        }
        >div {
          margin: 20px auto 20px auto;
          width: @width-p;
          box-sizing: border-box;
          @w: 120px;

          .left {
            .size(@w, auto);
            position: absolute;
            img {
              .size(@w, @w*0.62);
            }
          }
          .right {
            margin-left: @w+15px;
            .lesson-name {
              color: #333333;
              font-size: 16px;
            }
            .lesson-view-info {
              color: @g-color;
              font-size: 14px;
              margin: 8px 0;
              span {
                padding-right: 5px;
                display: inline-block;
                border-right: 1px solid @g-color;
                &:last-child {
                  border: none;
                }
              }
            }
            .teacher-info {
              color: @g-color;
              font-size: 14px;
              .left-item {
                display: inline-block;
                width: 60%;
                text-align: left;
              }
              .right-item {
                display: inline-block;
                width: 30%;
                text-align: right;
              }
            }
          }
          .singin-limit-nums {
            position: absolute;
            @h:24px;
            .size(62px, @h);
            top: 0;
            right: 0;
            text-align: center;
            color: white;
            line-height: @h;
            .bg-sprite-small;
            background-position: -49px 0;
            font-size: 12px;
          }
        }
      }
    }
  }

}



@media screen and (max-width:320px) {
  .main-item{
  /*基本信息*/
    &.basic-info {
      .center-content {
        .otherinfo {
          margin-top: 8px;
          li {
            margin-right: 4px;
            i{
              margin-right: 3px;
              margin-top: 2px;
              .bg-sprite-small;
              .size(18px,18px);
              &.cer{
                background-position:-112px 0;
                width: 18px;
              }
              &.nums{
                background-position:-146px 0;
                .size(18px,18px);
              }
              &.comment{
                .bg-sprite;
                background-position:-219px 0;
                .size(20px,20px);
              }
            }
          }
        }
      }
    }
    &.org-basic-info {
      position: relative;
      @h: 60px;
      @p: 8px;
      .left {
        position: absolute;
        .size(@h+@p, @h);
        img {
          .border-radius(50%);
          .size(@h, @h);
          margin: @p+5px @p @p 0;
        }

      }
      .right {
        margin-left: @h+@p;
        padding-top: @p+5px;
        .org-name {
          color: RGB(33, 33, 33);
          .name {
            font-size: 18px;
            float: left;
            margin-right: 10px;
          }
          i {

          }
        }
        .nums-info{
          margin-top: 0px;
          li{
            display: inline-block;
            color: @g-color;
            margin-right: 3px;
            margin-top: 5px;
            span{
              font-size: 14px;
            }
          }
        }
      }
    }
    &.lessons-more {
      ul {
        li {
          > div {
            @w: 98px;
            .left {
              img {
                .size(@w, @w*0.7);
              }
            }
            .right {
              margin-left: @w+10px;
              .lesson-view-info {
                margin: 8px auto;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
