@color:#212121;
//@g-color:#bdbdbd;
@g-color:#807E7E;
@width-p:90%;
.border-bottom(@c:#e6e6e6){
  border-bottom:1px solid @c;
}
body{
  margin: 0;
  background: #F2F2F2;
  max-width: 100%;
  overflow: auto;
}


.font-icon{
  display: inline-block;
}
.center-content {
  width: @width-p;
  margin: 0 auto;
}
.bg-sprite {
  background: url("../../images/teaching-course/sprite.png");
  background-size: 239px 32px;
}
.bg-sprite-middle {
  .bg-sprite;
  background-size: 191px 26px;
}

.bg-sprite-small{
  .bg-sprite;
  background-size: 180px 24px;
}

.bg-sprite-half{
  .bg-sprite;
  background-size: 120px 16px;
}
body {
  overflow-x: hidden;
}
.nodata{
  position: absolute;
  @w:65px;
  @h:30px;
  .size(2*@w,2*@h);
  top: 50%;
  left: 50%;
  margin-top: -@h;
  margin-left: -@w;
  display: none;
  p{
    font-size: 16px;
    color: #757070;
    text-align: center;
  }
}
#current-info{
  min-height: 400px;
  position: relative;
}
#more-info{
  min-height: 200px;
  position: relative;
}
.main-item{
  margin: 0 auto 15px auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding:10px 0;
  .center-content {
    width: 90%;
    margin: 0 auto;
  }
  .head-txt{
    font-size: 18px;
    color: @color;
    @h:50px;
    .size(100%,@h);
    line-height: @h;
  }
  .border-bottom{
    .border-bottom();
  }
  .price{
    color: #ff6531;
    font-size: 20px;
  }

  /*基本信息*/
  &.basic-info{
    .center-content{
      height: 100%;
      .otherinfo{
        margin-top: 13px;
        li{
          display: inline-block;
          color: @g-color;
          margin-right: 13px;
          @w:20px;
          line-height:@w;
          height: 32px;
          i{
            display: block;
            @w:20px;
            .size(@w,@w);
            float: left;
            margin-right: 5px;
            //.bg-sprite;
            .bg-sprite-middle;
            &.cer{
              background-position:-119px 0;
            }
            &.nums{
              background-position:-154px 0;
            }
            &.comment{
              background-position:-175px 0;
              .size(16px,17px);
            }
          }
          span{
            display: block;
            float: left;
            font-size: 14px;
          }
        }
      }
    }

  }

  &.org-basic-info{
    position: relative;
    @h:75px;
    @p:15px;
    .left{
      position: absolute;
      .size(@h+@p,@h);
      img{
        .border-radius(50%);
        .size(@h,@h);
        margin:@p @p @p 0;
      }

    }
    .right{
      margin-left:@h+@p;
      padding-top: @p+5px;
      padding-bottom: 25px;
      .org-name{
        color:RGB(33, 33, 33);
        .name{
          font-size: 20px;
          float: left;
          margin-right: 10px;
        }
        img{
          display: block;
          float: left;
          @w:24px;
          .size(@w,@w);
          .border-radius(2px);
          margin-top: 2px;
          margin-right: 7px;
        }
      }
      .nums-info{
        margin-top: 10px;
        li{
          display: inline-block;
          color: @g-color;
          margin-right: 10px;
          span{
            &:first-child{
              margin-right: 2px;
            }
          }
        }
      }
    }
  }

  &.lessons-detail{
    .head-txt{
      .border-bottom();
    }
    ul{

      padding-bottom: 20px;
      margin-top: 5px;
      li{
        display: inline-block;
        background-color: #FF5A00;
        color: white;
        .border-radius(2px);
        height: 32px;
        line-height: 32px;
        margin-bottom: 10px;
        font-size: 14px;
        margin-right: 5px;
        padding:0 15px;
        letter-spacing: 1px;
      }
    }
    .content-txt{
      margin-top: 15px;
      p{
        color: @color;
        line-height: 25px;
        margin: 0;
        padding-bottom: 15px;
      }
    }
  }

  &.lessons-singin{
    .head-txt{
      .border-bottom();
    }
    ul{
      white-space:nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin: 15px auto;
      li{
        display:inline-block;
        margin-right: 12px;
        margin-bottom: 10px;
        a {
          @w: 50px;
          display: block;
          .border-radius(@w);
          .size(@w+2px, @w+2px);
          text-align: center;
          img {
            .size(@w, @w);
            //box-shadow: 0 0 1px #000;
            .border-radius(@w);
            border: 1px solid @g-color;
          }
        }
      }
    }
  }

  &.lessons-more{
    margin-bottom: 0;
    padding-bottom:0 ;
    .head-txt{
      .border-bottom();
      i{
        .bg-sprite-small;
        background-position: -131px 0;
        display: inline-block;
        float: right;
        .size(15px,19px);
        margin-top: 15px;
      }
    }
    ul{
      margin-top: 15px;
      li{
        position: relative;
        .border-bottom();
        &.seperation {
          height: 15px;
          background-color: #F2F2F2;
          border: none;
          margin: 0;
        }

        &:last-child{
          height: 0;
        }
        a {
          display: block;
          height: 100%;
        }
        .main-content {
          @w: 110px;
          margin:0 auto;
          padding: 20px 0;
          width: @width-p;
          box-sizing: border-box;
          display: block;
          .left {
            .size(@w, auto);
            position: absolute;
            img {
              .size(@w, @w*0.68);
            }
          }
          .right {
            margin-left: @w+15px;
            .lesson-name {
              color: #333333;
              font-size: 16px;
            }
            .lesson-view-info {
              color: @g-color;
              font-size: 14px;
              margin: 8px 0 1px 0;
              span {
                padding-right: 3px;
                margin-right: 5px;
                display: inline-block;
                border-right: 1px solid @g-color;
                height: 13px;
                line-height: 13px;
                font-size: 14px;
                &:last-child {
                  border: none;
                }
              }
            }
            .teacher-info {
              color: @g-color;
              //font-size: 14px;
              .left-item {
                display: inline-block;
                width: 50%;
                text-align: left;
              }
              .right-item {
                display: inline-block;
                width: 48%;
                text-align: right;
              }
            }
          }
          .singin-limit-nums {
            position: absolute;
            @h: 16px;
            .size(42px, @h);
            top: 20px;
            right: 0;
            text-align: center;
            color: white;
            line-height: @h;
            font-size: 10px;
            padding-left: 2px;
            canvas{
              height: 35px;
              width: 85px;
            }
            span{
              display: block;
              position: absolute;
              top:0;
              left: 0;
              text-align: center;
              padding-left: 15px;
              line-height: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }

  &.coupon-basic-info{
    @left:63px;
    @right:70px;
    @tooth-w:5px;
    @color1:#F9A825;
    @color2:#ccc;
    height: 120px;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    *{
      color: white;
    }
    .bg-sprite-c{
      background: url("../../images/teaching-course/sprite3.png");
    }
    .bg-sprite-c-middle{
      .bg-sprite-c;
      background-size: 275px 73px;
    }
    .center-content {
      height: 100%;
      >div {
        height: 100%;
        float: left;
        background-color: white;
      }
    }
    .coupon-left{
      width: @left;
      margin-left: -100%;
      position: relative;
      i{
        @w:74px;
        @h:24px;
        display: block;
        .size(@w,@h);
        .middle-absolute(@w/2,@h/2);
        .bg-sprite-c-middle;
        background-position: 0 -49px;
      }
      img{
        max-width: 100%;
        display: block;
        margin: 38px auto;
      }
    }
    .coupon-right{
      width: @right;
      margin-left: -@right;
      >*{
        float: left;
      }
      .sawtooth-right-main{
        .size(@left+2,100%);
        background-color:@color1;





        /*戳*/
        .postmark{

          margin: 0 auto;
          .size(56px,44px);
          .bg-sprite-c;
          background-size:344px 91px;
          background-position: -289px 0;
        }

        /*去使用*/
        .to-used-btn{
          display: none;
          background-color: #FA4535;
          .border-radius(15px);
          color: white;
          .size(60px,25px);
          line-height: 25px;
          text-align: center;
          margin: 17px auto;
          font-size: 12px;
        }

        /*去领取*/
        .do-take-in {
          display: none;
          p {
            text-align: center;
            font-size: 16px;
            margin: 0;
            &:first-child {
              margin-top: 27px;
            }
            &:last-child {
              margin-top: 3px;
            }
          }
        }

        /*未领取*/
        &.un-take-in {
          .do-take-in{
            display: block;
          }
          .postmark{
            display: none;
          }
        }

        /*已经使用*/
        &.used{
          background-color: @color2;
          .postmark{
            background-position: -233px 0;
          }
        }

        &.unused{
          .to-used-btn{
            display: block;
          }
        }


      }
      i{
        display: block;
        .size(@tooth-w,100%);
        .bg-sprite-c;
        background-position: -182px 0;
        float: right;
        &.used{
          background-position: -367px 0;
        }
      }
    }
    .coupon-middle{
      width: 100%;
      .coupon-middle-all{
        height: 100%;
        margin: 0 @right 0 @left+8;
        @mw:8px;
        >div{
          height: 100%;
          float: left;
        }
        .coupon-box {
          width: 100%;
          .coupon-all-box{
            background-color: @color1;
            &.used{
              background-color: @color2;
            }
            height: 100%;
            margin: 0 @mw 0 @tooth-w;
            .coupon-main-top{
              height: 60%;
              padding-top: 7px;
              span{
                &:first-child{
                  font-size: 24px;
                }
                &:last-child{
                  font-size: 34px;
                }
              }
            }
            .coupon-main-bottom{
              font-size: 12px;
              padding-left: 5px;
            }
          }
        }
        .sawtooth-left{
          .size(@tooth-w,100%);
          .bg-sprite-c;
          background-position: 0 0;
          margin-left: -100%;
          &.used{
            background-position: -188px 0;
          }
        }
        .sawtooth-right{
          .size(@mw,100%);
          .bg-sprite-c;
          background-position: -90px 0;
          margin-left: -@mw;
          &.used{
            background-position: -277px 0;
          }
        }
      }
    }
  }

}

/*模态窗口*/
.model-box{
  background-color:rgba(0,0,0,.1);
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
  .btns-main{
    @hh:43px;
    height: @hh;
    >div{
      width: 50%;
      box-sizing: border-box;
      float: left;
      color: #007AFF;
      text-align: center;
      line-height:@hh;
      &:nth-child(1){
        border-right:1px solid #ccc;
        div{
          display: block;
          .size(100%,100%);
        }
      }
    }
  }
  .login-tips-box{
    position: absolute;
    top: 35%;
    left: 50%;
    @h:47px;
    @w:140px;
    margin-top: -@h;
    margin-left: -@w;
    .size(2*@w,2*@h);
    background-color: white;
    .border-radius(9px);
    *{
      font-size: 16px;
    }
    .login-header{
      height: 50px;
      border-bottom:1px solid #ccc;
      text-align: center;
      line-height: 50px;
      color: #000;
    }
  }

}



@media screen and (max-width:320px) {
  .main-item{
    /*基本信息*/
    &.basic-info {
      .center-content {
        .otherinfo {
          margin-top: 8px;
          li {
            margin-right: 4px;
            i{
              margin-right: 3px;
              margin-top: 2px;
              .bg-sprite-small;
              .size(18px,18px);
              &.cer{
                background-position:-112px 0;
                width: 18px;
              }
              &.nums{
                background-position:-146px 0;
                .size(18px,18px);
              }
              &.comment{
                .bg-sprite-middle;
                background-position:-175px 0;
                .size(16px,17px);
              }
            }
          }
        }
      }
    }
    &.org-basic-info {
      position: relative;
      @h: 60px;
      @p: 15px;
      .left {
        position: absolute;
        .size(@h+@p, @h);
        img {
          .border-radius(50%);
          .size(@h, @h);
          margin: @p+5px @p @p 0;
        }

      }
      .right {
        margin-left:@h+@p;
        .org-name {
          .name {
            font-size: 18px;
          }
          img{
            .size(20px,20px);
          }
        }
        .nums-info{
          margin-top: 0px;
          li{
            margin-right: 6px;
            margin-top: 5px;
            span{
              font-size: 14px;
            }
          }
        }
      }
    }
    &.lessons-more {

      ul {
        li {
          .main-content {
            @w: 85px;
            .left {
              img {
                .size(@w, @w*0.75);
              }
            }
            .right {
              margin-left: @w+10px;
              .lesson-name {
                font-size: 12px;
              }
              .lesson-view-info {
                margin: 3px auto 0px auto;
                span {
                  font-size: 12px;
                }
              }
              .teacher-info {
                .left-item {
                  span {
                    font-size: 12px;
                  }
                  .price{
                    font-size: 14px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.coupon-basic-info {
      .coupon-middle {
        .coupon-middle-all {
          margin-left: 67px;
          .coupon-box {
            .coupon-all-box {
              .coupon-main-top {
                height: 45px;
              }
              .coupon-main-bottom{
                span{
                  display: block;
                  font-size: 11px;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
