<extend name="Public/base" />
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>新增黄页信息</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="cid" id="cid" value=""/>
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <div class="form-item cf">
                        <label class="item-label">网站名称</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="website_name" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">网址(以http://开头)</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="url" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">黄页类别</label>
                        <div class="controls">
                            <notempty name="_type">
                                <select class="text input-large" name="class_id" style="height: 30px;width: 400px;">
                                    <volist name="_type" id="vo">
                                        <option value="{$vo.id}" >{$vo.category_name}</option>
                                    </volist>
                                </select>
                                <else/>
                                <div  class="text-center"> aOh! 暂时还没有内容!</div>
                            </notempty>
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">推荐到首页</label>
                        <input type="radio" value="1" name="status" checked/>否 &nbsp;&nbsp;
                        <input type="radio" value="2" name="status" />是
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">黄页标签</label>
                        <input type="radio" value="0" name="label" checked/>无 &nbsp;&nbsp;
                        <input type="radio" value="1" name="label" />最热Hot
                        <input type="radio" value="2" name="label" />最新New
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">黄页图标</label>
                        <div class="controls">
                            <input type="file" id="upload_company_picture">
                            <input type="hidden" name="pic_id" id="cover_id_company"/>
                            <div class="upload-img-box">
                                <notempty name="data[$field['name']]">
                                    <div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/></div>
                                </notempty>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //上传图片
                            /* 初始化上传插件 */
                            $("#upload_company_picture").uploadify({
                                "height"          : 30,
                                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                                "fileObjName"     : "download",
                                "buttonText"      : "上传图片",
                                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                "width"           : 120,
                                'removeTimeout'	  : 1,
                                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                                "onUploadSuccess" : uploadPictureCompany,
                            'onFallback' : function() {
                                alert('未检测到兼容版本的Flash.');
                            }
                            });
                            function uploadPictureCompany(file, data){
                                var data = $.parseJSON(data);
                                var src = '';
                                if(data.status){
                                    $("#cover_id_company").val(data.id);
                                    src = data.url ||  data.path
                                    $("#cover_id_company").parent().find('.upload-img-box').html(
                                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                    );
                                } else {
                                    updateAlert(data.info);
                                    setTimeout(function(){
                                        $('#top-alert').find('button').click();
                                        $(that).removeClass('disabled').prop('disabled',false);
                                    },1500);
                                }
                            }
                        </script>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">浏览量（手动修改，用于排序）</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="fake_view_count" value="">
                        </div>
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('yellow_pages/index')}');
</script>
<block name="script">


</block>