<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>机构证书管理</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <button class="btn ajax-post confirm" target-form="ids" url="{:U('Organization/certificate_pass',array('status'=>1))}">认证通过</button>
                <button class="btn ajax-post confirm" target-form="ids" url="{:U('Organization/certificate_refuse',array('status'=>-2))}">拒绝认证</button>
            </div>
        </div>
        <div class="search-form fr cf">
            <div class="sleft">
                <select name="status" id="status">
                    <option value="1" <if condition="I('status') eq 1">selected</if>>申请中</option>
                    <option value="2" <if condition="I('status') eq 2">selected</if>>已认证</option>
                    <option value="-2" <if condition="I('status') eq -2">selected</if>>已拒绝</option>
                </select>
            </div>
            <div class="sleft">
                <input type="text" name="name" class="search-input" value="{:I('name')}"
                       placeholder="请输入机构名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('certificate')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">机构ID</th>
                <th class="">机构名称</th>
                <th class="">创建时间</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.organization_id}</td>
                        <td>{$vo.name}</td>
                        <td><span>{$vo.create_time|time_format}</span></td>
                        <td><if condition="($vo.status eq 2) "> 已认证
                            <elseif condition="($vo.status eq 1)" />申请中
                            <elseif condition="($vo.status eq -2)" />已拒绝
                            <else /> 已删除
                            </if>
                        </td>
                        <td>
                            <a href="{:U('Organization/certificate_pass?id='.$vo['id'])}" class="ajax-get confirm">认证通过</a>
                            <a href="{:U('Organization/certificate_refuse?id='.$vo['id'])}" class="ajax-get confirm">拒绝认证</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            var status = $("#status").find('option:selected').val();
            if(query == ''){
                url += "status=" + status;
            }else{
                url += "&status=" + status;
            }
            window.location.href = url;
        });
        /* 状态搜索子菜单 */
        $(".search-form").find(".drop-down").hover(function(){
            $("#sub-sch-menu").removeClass("hidden");
        },function(){
            $("#sub-sch-menu").addClass("hidden");
        });
        $("#sub-sch-menu li").find("a").each(function(){
            $(this).click(function(){
                var text = $(this).text();
                $("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
                $("#sub-sch-menu").addClass("hidden");
            })
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('Organization/certificate')}");
    </script>
</block>