<extend name="Public/base" />
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>修改机构公用配置信息</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('tag_update')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="cid" id="id" value="{$info.id}"/>
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <div class="form-item cf">
                        <label class="item-label">配置类型</label>
                        <div class="controls">
                            <select id="s_type" name="type">
                                <option value="1" <if condition="$info.type eq 1">selected</if>>机构优势</option>
                                <option value="2" <if condition="$info.type eq 2">selected</if>>机构类型</option>
                                <option value="3" <if condition="$info.type eq 3">selected</if>>热门城市</option>
                                <option value="4" <if condition="$info.type eq 4">selected</if>>评分类型</option>
                                <option value="5" <if condition="$info.type eq 5">selected</if>>400热线</option>
                                <option value="6" <if condition="$info.type eq 6">selected</if>>一键找机构成功人数</option>
                                <option value="7" <if condition="$info.type eq 7">selected</if>>机构大全筛选类型</option>
                                <option value="8" <if condition="$info.type eq 8">selected</if>>机构专业</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">配置值</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="value" value="{$info.value}">
                        </div>
                    </div>
                    <div id="extra_pic" <if condition="$info.type neq 7">style="display: none"</if> class="form-item cf">
                        <label class="item-label">标签图片</label>
                        <div class="controls">
                            <input type="file" id="upload_company_picture">
                            <input type="hidden" name="picture" id="cover_id_company" value="{$info.extra}"/>
                            <div class="upload-img-box">
                                <notempty name="info['extra']">
                                    <div class="upload-pre-item"><img src="{$info['extra']}"/></div>
                                </notempty>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //上传图片
                            /* 初始化上传插件 */
                            $("#upload_company_picture").uploadify({
                                "height"          : 30,
                                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                                "fileObjName"     : "download",
                                "buttonText"      : "上传图片",
                                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                "width"           : 120,
                                'removeTimeout'	  : 1,
                                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                                "onUploadSuccess" : uploadPictureCompany,
                                'onFallback' : function() {
                                    alert('未检测到兼容版本的Flash.');
                                }
                            });
                            function uploadPictureCompany(file, data){
                                var data = $.parseJSON(data);
                                var src = '';
                                if(data.status){
                                    $("#cover_id_company").val(data.id);
                                    src = data.url ||  data.path
                                    $("#cover_id_company").parent().find('.upload-img-box').html(
                                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                    );
                                } else {
                                    updateAlert(data.info);
                                    setTimeout(function(){
                                        $('#top-alert').find('button').click();
                                        $(that).removeClass('disabled').prop('disabled',false);
                                    },1500);
                                }
                            }
                        </script>
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <script>
        //导航高亮
        highlight_subnav('{:U('Organization/tag')}');
        $(function(){
            $('#s_type').change(function(){
                var value = $('#s_type').val();
                if(value == '7' || value == '8'){
                    $('#extra_pic').show();
                }else {
                    $('#extra_pic').hide();
                }
            });
        });

    </script>
</block>

