<extend name="Public/base" />
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>新增机构学生作品信息</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('works_update')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="cid" id="id" value=""/>
                <input type="hidden" name="organization_id" id="organization_id" value="{$organization_id}"/>
                <input type="hidden" name="from_org" id="from_org" value="{$from_org|default=0}"/>
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <div class="form-item cf">
                        <label class="item-label">机构：{$organization_name}</label>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">图片描述</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="description" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">环境图片</label>
                        <div class="controls">
                            <input type="file" id="upload_company_picture">
                            <input type="hidden" name="picture" id="cover_id_company" value=""/>
                            <div class="upload-img-box">
                                <notempty name="info['pic_id']">
                                    <div class="upload-pre-item"><img src="{$info['pic_id']|get_cover='path'}"/></div>
                                </notempty>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //上传图片
                            /* 初始化上传插件 */
                            $("#upload_company_picture").uploadify({
                                "height"          : 30,
                                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                                "fileObjName"     : "download",
                                "buttonText"      : "上传图片",
                                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                "width"           : 120,
                                'removeTimeout'	  : 1,
                                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                                "onUploadSuccess" : uploadPictureCompany,
                                'onFallback' : function() {
                                    alert('未检测到兼容版本的Flash.');
                                }
                            });
                            function uploadPictureCompany(file, data){
                                var data = $.parseJSON(data);
                                var src = '';
                                if(data.status){
                                    $("#cover_id_company").val(data.id);
                                    src = data.url ||  data.path
                                    $("#cover_id_company").parent().find('.upload-img-box').html(
                                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                    );
                                } else {
                                    updateAlert(data.info);
                                    setTimeout(function(){
                                        $('#top-alert').find('button').click();
                                        $(that).removeClass('disabled').prop('disabled',false);
                                    },1500);
                                }
                            }
                        </script>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">作品作者</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="author_name" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">作者所在公司</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="author_company" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">作者头像</label>
                        <div class="controls">
                            <input type="file" id="upload_author_picture">
                            <input type="hidden" name="author_avatar" id="cover_id_author" value=""/>
                            <div class="upload-img-box">
                                <notempty name="info['pic_id']">
                                    <div class="upload-pre-item"><img src="{$info['pic_id']|get_cover='path'}"/></div>
                                </notempty>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //上传图片
                            /* 初始化上传插件 */
                            $("#upload_author_picture").uploadify({
                                "height"          : 30,
                                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                                "fileObjName"     : "download",
                                "buttonText"      : "上传图片",
                                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                "width"           : 120,
                                'removeTimeout'	  : 1,
                                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                                "onUploadSuccess" : uploadPictureCompany,
                                'onFallback' : function() {
                                    alert('未检测到兼容版本的Flash.');
                                }
                            });
                            function uploadPictureCompany(file, data){
                                var data = $.parseJSON(data);
                                var src = '';
                                if(data.status){
                                    $("#cover_id_author").val(data.id);
                                    src = data.url ||  data.path
                                    $("#cover_id_author").parent().find('.upload-img-box').html(
                                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                    );
                                } else {
                                    updateAlert(data.info);
                                    setTimeout(function(){
                                        $('#top-alert').find('button').click();
                                        $(that).removeClass('disabled').prop('disabled',false);
                                    },1500);
                                }
                            }
                        </script>
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('Organization/works')}');
</script>

