* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.result-tips {
  position: fixed;
  width: 200px;
  height: auto;
  min-height: 50px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -100px;
  margin-top: -35px;
  top: 40%;
  left: 50%;
  z-index: 1001;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips .result-tips p {
  color: white;
  font-size: 15px;
  text-align: center;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 555;
  text-align: center;
  display: none;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
.nodata {
  display: none;
  text-align: center;
}
.nodata p {
  font-size: 16px;
  color: #757070;
  text-align: center;
}
/*IScroll的样式*/
.scroller {
  position: relative;
}
.pull-down,
.pull-up {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
}
.pull-down .pull-tips-main,
.pull-up .pull-tips-main {
  width: 120px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 9px;
  opacity: 0;
}
.pull-down .pull-tips-main .loading,
.pull-up .pull-tips-main .loading {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: sloading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.pull-down .pull-tips-main .t-label,
.pull-up .pull-tips-main .t-label {
  float: left;
  line-height: 25px;
  margin-left: 10px;
}
.pull-down .pull-tips-main .icon,
.pull-up .pull-tips-main .icon {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  background: url('http://pic.hisihi.com/2016-06-13/1465811180777234.png') 0 0 no-repeat;
  background-size: 25px 25px;
}
.pull-down {
  top: -50px;
}
.pull-down.loading {
  position: relative;
  top: 0;
}
.pull-up {
  bottom: -40px;
}
.pull-up.loading {
  bottom: 0;
}
@-webkit-keyframes sloading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.sshow {
  animation: sshow 200ms ease-in-out;
  animation-fill-mode: forwards;
}
.shide {
  animation: shide 400ms ease-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes sshow {
  from {
    display: block;
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes shide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.blue {
  color: #039BE5;
}
.banner-box {
  position: relative;
  min-height: 150px;
}
.banner-box .img-box {
  width: 100%;
  text-align: center;
}
.banner-box .img-box img {
  max-width: 100%;
}
.banner-box .desc-box {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-box .desc-box .vertical {
  padding-top: 3%;
  padding-bottom: 4%;
}
.banner-box .desc-box .vertical > * {
  color: white;
}
.banner-box .desc-box .vertical .topic-basic-info p {
  text-align: center;
  margin: 7px auto;
}
.banner-box .desc-box .vertical .topic-basic-info p.topic-name {
  font-size: 16px;
  font-weight: bold;
}
.banner-box .desc-box .vertical .topic-basic-info p.topic-name #topic-real-name {
  display: inline-block;
  vertical-align: top;
}
.banner-box .desc-box .vertical .banner-desc {
  margin: 0 20px;
  color: white;
  line-height: 25px;
  font-size: 13px;
}
.content-box {
  background-color: #fff;
  margin-top: 8px;
  padding-bottom: 10px;
  border-top: 1px solid #ccc;
}
.content-box > ul > li {
  margin: 10px auto;
  border-bottom: 1px solid #ccc;
}
.content-box > ul > li .li-main {
  padding: 0 13px 0 10px;
}
.content-box > ul > li:last-child {
  border-bottom: none;
}
.content-box .user-info .left {
  float: left;
  position: relative;
}
.content-box .user-info .left .left-img {
  position: absolute;
  top: 4px;
}
.content-box .user-info .left .left-img img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-clip: padding-box;
}
.content-box .user-info .left .right-txt {
  margin-left: 70px;
}
.content-box .user-info .left .right-txt p {
  margin: 8px auto;
  max-width: 210px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content-box .user-info .left .right-txt p.name {
  color: #FF5A00;
  font-size: 16px;
}
.content-box .user-info .left .right-txt p.type {
  color: #808080;
  font-size: 13px;
}
.content-box .user-info .left .right-txt p.type span {
  margin-right: 5px;
}
.content-box .user-info .right {
  float: right;
  color: #039BE5;
  margin-top: 13px;
  font-size: 13px;
  max-width: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content-box .post-word {
  margin: 5px auto 0 auto;
  line-height: 24px;
  color: #212121;
}
.content-box .post-word > span {
  color: #039BE5;
}
.content-box .post-img-box {
  margin-bottom: 2%;
}
.content-box .post-img-box li {
  display: inline-block;
  float: left;
  overflow: hidden;
  margin-top: 2%;
  margin-bottom: 0;
}
.content-box .post-img-box li > img {
  max-width: 100%;
}
.content-box .post-img-box li.img-size1 {
  max-width: 60%;
}
.content-box .post-img-box li.img-size2 {
  max-width: 40%;
  margin-right: 10px;
  margin-top: 10px;
}
.content-box .post-img-box li.img-size2 img {
  width: 100%;
  height: 100%;
}
.content-box .post-img-box li.img-size3 {
  width: 30%;
}
.content-box .post-img-box li.img-size3:nth-child(3n-1) {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.content-box .post-img-box li.img-size3 img {
  width: 100%;
  height: 100%;
}
#downloadCon {
  position: fixed;
  bottom: 0;
  z-index: 9999;
}
#downloadCon img {
  max-width: 100%;
}
#downloadCon a {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
}
@media screen and (max-width: 320px) {
  .banner-box .desc-box .vertical .topic-basic-info p {
    margin: 4px auto;
  }
  .banner-box .desc-box .vertical .banner-desc {
    line-height: 18px;
  }
  .content-box .user-info .left .left-img img {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-clip: padding-box;
  }
  .content-box .user-info .left .right-txt {
    margin-left: 50px;
    max-width: 185px;
  }
  .content-box .user-info .left .right-txt p {
    margin: 5px auto;
    font-size: 12px;
  }
  .content-box .user-info .left .right-txt p.name {
    color: #FF5A00;
    font-size: 14px;
  }
  .content-box .user-info .left .right-txt p.type {
    font-size: 12px;
  }
  .content-box .user-info .right {
    font-size: 12px;
    max-width: 62px;
  }
}
@media screen and (min-width: 750px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
  #downloadCon {
    width: 700px;
    height: 110px;
    left: 50%;
    margin-left: -350px;
  }
}
