img  {
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
}
.head {
    margin: 14px;
}
.head-main-title {
    width: 100%;
    color: #212121;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}
.head-detail {
    color: #808080;
    font-size: 12px;
    padding-bottom: 14px;
}
.head-tag {
    width: 100%;
    position: relative;
}
.head-title {
    width: 20%;
    color: #212121;
}
ul {
    width: 80%;
}
.head-title-tag {
    margin-right: 10px;
    font-size: 14px;
    color: #FF5A00;
    border: 1px solid #FF5A00;
    border-radius: 4px;
    line-height: 22px;
}

