<div class="box">

	<div class="box-header">
		<div class="min-title">填写基本信息</div>
	</div>
	<!-- /.box-header -->

	<div class="box-body basicinfo-body">

		<form class="form-horizontal basicinfoWrapper">

			<div class="form-group">
				<div class="label-img col-label ">
					<img src="http://pic.yupoo.com/sayhelloto/DuglltE4/small.jpg" alt="" class="">
				</div>
				<div class="col-2">
					<div class="label-box">
						<p class="title">选择新头像</p>
						<p class="txt">你可以选择 <span class="blod"> png/jpg </span> 图片作为头像</p>
					</div>
				</div>
				<div class="col-2 t_r">
					<a href="javaScript: void(0);" id="UploadImg" class="btn brand-info m_15">点击上传</a>
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<label for="" class="label-txt col-label">名称</label>
				<div class="col-2">
					<input  class="form-control" placeholder="名称" value="" name="name" id="name" >
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<label for="" class="label-txt col-label">签名</label>
				<div class="col-2">
					<input  class="form-control" placeholder="签名" value="" name="Signature" id="Signature" >
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<label for="" class="label-txt col-label">简介</label>
				<div class="col-1">
					<textarea class="form-control" rows="5" name="summary"></textarea>
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<label for="" class="label-txt col-label">优势</label>
				<div class="col-2">
					<input  class="form-control" name="AddTags">
					<div class="box-tag tag-open">
					</div>
				</div>
				<div class="col-2 recommend-box">
					<div class="checkbox">
						<input type="checkbox" checked ='checked'/> 显示推荐标签
					</div>
					<a href="javaScript: void(0);" class="btn brand-info" id="addtags">添加标签</a>
					<div class="box-tag">
						<a href="javaScript: void(0);" class="label label-default">经验丰富</a>
						<a href="javaScript: void(0);" class="label label-default">抗高压</a>
						<a href="javaScript: void(0);" class="label label-default">刚猛执行力</a>
						<a href="javaScript: void(0);" class="label label-default">经验丰富</a>
						<a href="javaScript: void(0);" class="label label-default">经验丰富</a>
						<a href="javaScript: void(0);" class="label label-default">经验丰富</a>
					</div>
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<label for="" class="label-txt col-label">地址</label>
				<div class="col-2">
					<input  class="form-control" placeholder="地址" value="" name="Address" id="Address" >
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<label for="" class="label-txt col-label">联系方式</label>
				<div class="col-2">
					<input  class="form-control" placeholder="联系方式" value="" name="Contact" id="Contact" >
				</div>
			</div>
			<!-- /.form-group -->

			<div class="form-group">
				<div class="col-2 m_110">
					<a href="#" class="btn btn-grey"  id="SubmitBtn">保存</a>
				</div>
			</div>
			<!-- /.form-group -->

		</form>
		<!-- /.form-horizontal -->

	</div>
	<!-- /.box-body basicinfo-body -->

</div>
<!-- /.box -->

<div class="modal fade" id="ImgModal">

	<div class="modal-container">

		<div class="modal-header">
			<h4 class="min-title">上传头像<a href="javaScript: void(0);" class="close icon-close">&#215;</a></h4>
		</div>
		<!-- /.modal-header -->

		<div class="modal-body">
			
			<!-- <table width="500" cellspacing="0" cellpadding="0">
			    <tr>
			        <td width="72" id="fileType">
			        </td>
			        <td width="242">
			            <input type="file" name="myFile" id="myFile" />
			        </td>
			        <td width="184" id="fileSize" class="fileSize">
			        </td>
			    </tr>
			</table> -->

			

			<div class="jcrop-box">
				<img src="http://pic.yupoo.com/sayhelloto/DuglltE4/small.jpg" id="element_id" alt="[Jcrop Example]" />
			</div>

		</div>
		<!-- /.modal-body -->

		<div class="modal-foot">
			<a href="#" class="btn btn-grey close">取消</a>
			<a href="#" class="btn brand-info">确定</a>
		</div>
		<!-- /.modal-foot -->

	</div>
	<!-- /.modal-container -->

</div>
<!-- /.modal -->