<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        window.urlObject= {
            js: "__JS__",
            css: "__CSS__",
            image: "__IMG__",
            ctl:'__URL__',
            apiUrl:'__API__'
        }
    </script>
    <script type="text/javascript" src="__JS__/libs/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__JS__/libs/jquery.form.js"></script>
    <script type="text/javascript" src="__JS__/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="__JS__/custom/home.js"></script>

</head>
<body>
<form method = "post" id="loginForm">
    姓名：<input type="text" name="mobile"/>
    密码：<input type="password" name="password"/>
    提交：<input type="button" name="submit" id="login" value="提交"/>
</form>
</body>
</html>