<div class="lessondetailinfo" id="lessonDetailInfoWrapper" data-cid="{$id}">

	<div class="box mb_30">

		<div class="box-header">

			<div class="container">

				<ul class="list-line">
					<li><a href="__URL__/Index/video">视频教程</a></li>
					<li><a href="__URL__/Index/addnewlesson/id/{$id}">课程信息</a></li>
					<li class="active">上传视频</li>
				</ul>
				<!-- /.list-line -->

				<a href="#" class="btn brand-info up-video">上传视频</a>
			</div>
			<!-- /.container -->

		</div>
		<!-- /.box-header -->

		<div class="box-body">

			<div class="container">
				<h2 class="viod-title" id="lessonDetailTitle"></h2>
				<div class="box-table">
					<table class="table table-info">
						<thead>
							<tr>
								<th width="60px">排序</th>
								<th width="300px">视频</th>
								<th>添加时间</th>
								<th>热度</th>
							</tr>
						</thead>
						<tbody id="allLessonVideoCon"></tbody>
					</table>
				</div>
				<!-- /.box-table -->
				
			</div>
			<!-- /.container -->

		</div>
		<!-- /.box-body -->

	</div>
	<!-- /.box -->

	<div class="box">

		<div class="box-header">
			<div class="min-title">课程信息<a href="#" class="editor-btn">编辑</a></div>
		</div>
		<!-- /.box-header -->

		<div class="box-body">

			<div class="editor-box">

				<ul class="list list-editor">
					<li>
						<span class="item-label">标题: </span>
						<p id="lessonDetailTitleBox">大圣归来手绘板原稿</p>
					</li>
					<li>
						<span class="item-label">简介: </span>
						<p id="lessonDetailContentBox">本课程是手绘板手绘原画基础课程，为大家讲解以大圣归来的原画稿为例重点讲解了手绘过程中该如何描绘出暗部、亮部的层次感以及环境光等。</p>
					</li>
					<li>
						<span class="item-label">分类: </span>
						<p id="lessonDetailCategoryBox">Photoshop</p>
					</li>
					<li>
						<span class="item-label">讲师: </span>
						<p id="teacherBox">SB</p>
					</li>
					<li>
						<span class="item-label">权限: </span>
						<p id="authType">公开</p>
					</li>
				</ul>
				<!-- /.list list-editor -->

			</div>
			<!-- /.editor-box -->
			
		</div>
		<!-- /.box-body -->

	</div>
	<!-- /.box -->

</div>

