<a href="#" class="btn btn-grey">brn-grey</a>
<a href="#" class="btn brand-info">brand-info</a>
<a href="#" class="label label-default">经验丰富</a>
<div>
	<span class="label label-primary">经验丰富<a href="#">×</a></span>
	<span class="label label-primary">经验丰富<a href="#">×</a></span>
	<span class="label label-primary">经验丰富<a href="#">×</a></span>
	<span class="label label-primary">经验丰富<a href="#">×</a></span>
	<span class="label label-primary">经验丰富<a href="#">×</a></span>
	<span class="label label-primary">经验丰富<a href="#">×</a></span>
</div>
