<div class="box studentWorksWrapper normalPageWrapper">
    <div class="box-header normal-page-header">
        <span class="teacherTitle header-title">学生作品</span>
        <!--<input type="button" id="addStudentWorks" class="btn brand-info headerAddBtn" value="上传作品"/>-->
        <form id="userPhotoForm">
            <input type="file" id="uploadStudentWorks" class="btn brand-info" value="上传头像">
        </form>
        <span class="editStudentWorks edit-data-item" onselectstart="return false;">编辑</span>
    </div>
    <div class="box-body">
        <ul id="studentWorksMainCon" class="list list-data-ul studentAndTeachCondition"><div style="clear:both;"></div></ul>
        <div class=""></div>
    </div>

</div>
