<div class="box teachconditionWrapper normalPageWrapper">
    <div class="box-header normal-page-header">
        <span class="teacherTitle header-title">教学环境</span>
        <div class="studentWorksAndConditionForm">
            <input type="file" id="uploadTeachCondition" name="file_upload" class="btn brand-info" value="上传头像">
        </div>
        <div class="studentWorksAndConditionForm uploadProcess" id="uploadProConForCondition"></div>
        <span class="editStudentWorks edit-data-item" onselectstart="return false;">编辑</span>
    </div>
    <div class="box-body">
        <ul id="teacheConditionMainCon" class="list list-data-ul studentAndTeachCondition"><div style="clear:both;"></div></ul>
        <div class=""></div>
    </div>

</div>