<div class="box teachconditionWrapper normalPageWrapper">
    <div class="box-header normal-page-header">
        <span class="teacherTitle header-title">教学环境</span>
        <input type="button" id="addStudentWorks" class="btn brand-info headerAddBtn" value="上传图片"/>
        <span class="editStudentWorks edit-data-item" onselectstart="return false;">编辑</span>
    </div>
    <div class="box-body">
        <ul id="teacheConditionMainCon" class="list list-data-ul studentAndTeachCondition"></ul>
        <div class=""></div>
    </div>

</div>