/*less公用的方法*/
body {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
body * {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
body ul {
  padding: 0;
  margin: 0;
}
body ul li {
  list-style: none;
}
body input[type="text"]:focus {
  border: 1px solid #BBAEAE !important;
  outline: 0;
}
.loadError {
  display: none;
  text-decoration: none;
  color: #777;
}
.loadingResultTips {
  z-index: -1;
  text-align: center;
  color: #9C9A9D;
  position: absolute;
  height: 4em;
  width: 12em;
}
.loadingResultTips .loadingImg {
  margin: 0 auto;
  height: 2em;
  width: 2em;
  background-image: url("../images/loading2.svg");
  opacity: 0;
}
.loadingResultTips .loadingImg.active {
  opacity: 1;
  animation: aloading 0.8s steps(6, end) 0s infinite;
}
@keyframes aloading {
  to {
    transform: rotate(360deg);
  }
}
#wrapper {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #EBEBEB;
  font-size: 100%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: auto;
}
#wrapper img {
  max-width: 100%;
}
#wrapper .spiteBg {
  background-image: url("../images/orgbasicinfo/orginfo.png");
  background-size: 105px 70px;
}
#wrapper .spiteBgOrigin {
  background-image: url("../images/orgbasicinfo/orginfo.png");
}
#wrapper .loadErrorCon {
  display: none;
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
#wrapper .mainItem {
  min-height: 60px;
  opacity: 0;
}
#wrapper .mainItem .basicHeader {
  margin-left: 15px;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #d6d6d6;
}
#wrapper .mainItem .basicHeader span {
  color: #212121;
  font-size: 16px;
}
#wrapper .mainItem .nonData {
  text-align: center;
  height: 45px;
  line-height: 45px;
}
#wrapper .mainItem .basicHeaderWithArrow {
  margin-left: 15px;
  height: 44px;
  line-height: 44px;
}
#wrapper .mainItem .basicHeaderWithArrow span {
  color: #212121;
  font-size: 16px;
}
#wrapper .mainItem .basicHeaderWithArrow .arrow {
  float: right;
  width: 15px;
  height: 23px;
  display: inline-block;
  background-position: -190px -50px;
  margin-right: 20px;
  margin-top: 10px;
  transform: scale(0.7);
}
#wrapper .mainItem .itemHeader {
  height: 44px;
  line-height: 44px;
}
#wrapper .mainItem .itemHeader span {
  margin-left: 15px;
  color: #212121;
  font-size: 16px;
}
#wrapper .mainItem.mainItemNormal {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}
#wrapper .mainItem.logoAndCertInfo {
  height: 208px;
  border-bottom: 0 solid #d6d6d6;
}
#wrapper .mainItem.logoAndCertInfo * {
  color: #fff;
}
#wrapper .mainItem.logoAndCertInfo .head {
  position: relative;
  width: auto;
  height: 160px;
}
#wrapper .mainItem.logoAndCertInfo .head .filter * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#wrapper .mainItem.logoAndCertInfo .head .filter img {
  -webkit-filter: blur(10px);
  /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  z-index: 1;
}
#wrapper .mainItem.logoAndCertInfo .head .filter .filterUp {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 35px 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .left {
  position: absolute;
  width: 84px;
  height: 84px;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .left > img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 2%;
  max-width: 84px !important;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .right {
  margin-left: 112px;
  height: 100%;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .right #orgName {
  font-size: 22px;
  padding: 5px 0 12px 0;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .right .peopleInfo {
  width: 100%;
  height: auto;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .right .peopleInfo .peopleInfoItem {
  float: left;
  width: 25%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  border-right: 1px solid #fff;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .right .peopleInfo .peopleInfoItem * {
  font-size: 14px;
}
#wrapper .mainItem.logoAndCertInfo .head .mainInfo .right .peopleInfo .peopleInfoItem:nth-child(4) {
  border-right-width: 0;
}
#wrapper .mainItem.logoAndCertInfo .bottom {
  background-color: #ff5a00;
  height: 48px;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem {
  overflow-wrap: normal;
  box-sizing: border-box;
  width: 50%;
  height: 48px;
  float: left;
  padding-top: 12px;
  text-align: center;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ff5a00;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span * {
  float: left;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span > i {
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span > i.heiCerIcon.certed {
  background-position: 0 -46px;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span > i.heiCerIcon.unCerted {
  background-position: -81px 0;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span > i.honestCerIcon.certed {
  background-position: -48px -46px;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerInfoItem > span > i.honestCerIcon.unCerted {
  background-position: -24px -46px;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerName.certed {
  color: white;
}
#wrapper .mainItem.logoAndCertInfo .bottom .cerName.unCerted {
  color: #BDBDBD;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon {
  margin: 0;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon li {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  position: relative;
  padding: 10px 0;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon li:last-child {
  border-bottom: 0 solid #d6d6d6 !important;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon li > * {
  float: left;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon li .topNewLogo {
  margin: 0 8px 0 15px;
  position: absolute;
  display: inline-block;
  width: 54px;
  height: 28px;
  box-sizing: border-box;
  color: #ff5a00;
  border: 1px solid #ff5a00;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon li .title {
  margin-left: 75px;
  margin-right: 15px;
  height: 20px;
  line-height: 20px;
  padding-top: 5px;
}
#wrapper .mainItem.mainItemTopNews .topNewsCon li .title a {
  width: 100%;
  height: 100%;
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}
#wrapper .mainItem.mainItemSignUp {
  min-height: 130px;
  width: 100%;
  height: auto;
}
#wrapper .mainItem.mainItemSignUp .header {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fa4535;
}
#wrapper .mainItem.mainItemSignUp .header > * {
  color: #fff;
}
#wrapper .mainItem.mainItemSignUp .header p {
  line-height: 44px;
  margin: 0;
}
#wrapper .mainItem.mainItemSignUp .mainContent {
  position: relative;
  padding-top: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
#wrapper .mainItem.mainItemSignUp .mainContent .signUpIcon {
  width: 52px;
  height: 46px;
  box-sizing: border-box;
  margin: 15px;
  margin-top: 8px;
  position: absolute;
}
#wrapper .mainItem.mainItemSignUp .mainContent .signUpCon {
  border-left: 1px solid #ccc;
  margin-left: 82px;
  padding-left: 8px;
  min-height: 65px;
}
#wrapper .mainItem.mainItemSignUp .mainContent .signUpCon li {
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrapper .mainItem.mainItemSignUp .mainContent .signUpCon li span {
  font-size: 14px;
}
#wrapper .mainItem.mainItemSignUp .mainContent .signUpCon li span.dot {
  font-size: 4px !important;
  color: #ff5a00;
  font-weight: bolder;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem {
  padding: 0px 15px;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.introduce {
  padding: 12px 15px;
  border-bottom: 1px solid #d6d6d6;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.introduce p {
  margin: 0;
  color: #212121;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: arial, helvetica, sans-serif;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.advanceTags {
  border-bottom: 1px solid #d6d6d6;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.advanceTags .itemContentDetail li {
  display: inline-block;
  background-color: #FFDECC;
  padding: 8px;
  height: 15px;
  line-height: 100%;
  margin: 0 12px 12px 0;
  border-radius: 3px;
  font-size: 14px;
  color: #212121;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.videoCon #videoPreviewBox {
  width: 100%;
  position: relative;
  text-align: center;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.videoCon #videoPreviewBox img {
  max-width: 100%;
}
#wrapper .mainItem.mainItemBasicInfo .mainContentItem.videoCon #videoPreviewBox i {
  position: absolute;
  width: 56px;
  height: 56px;
  display: inline-block;
  background-position: -106px 0;
}
#wrapper .mainItem.mainItemTeacherPower .teacherPowerDetail li {
  float: left;
  width: 50%;
  height: 75px;
  position: relative;
  padding: 10px 8px 10px 15px;
  border-bottom: 1px solid #d6d6d6;
  box-sizing: border-box;
}
#wrapper .mainItem.mainItemTeacherPower .teacherPowerDetail li .leftPic {
  position: absolute;
  width: 50px;
  height: 100%;
}
#wrapper .mainItem.mainItemTeacherPower .teacherPowerDetail li .leftPic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
#wrapper .mainItem.mainItemTeacherPower .teacherPowerDetail li .rightUserInfo {
  margin-left: 60px;
  height: 100%;
}
#wrapper .mainItem.mainItemTeacherPower .teacherPowerDetail li .rightUserInfo .name {
  font-size: 14px;
  color: #474747;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrapper .mainItem.mainItemTeacherPower .teacherPowerDetail li .rightUserInfo .desc {
  font-size: 12px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 35px;
}
#wrapper .mainItem.mainItemLocation #myLocation {
  font-size: 16px;
  color: #212121;
  padding: 15px;
  padding-top: 0;
  margin: 0;
}
#wrapper .mainItem.mainItemLocation .locationMap {
  width: 100%;
  text-align: center;
}
#wrapper .mainItem.mainItemCompresAsse .starsCon {
  line-height: 0;
}
#wrapper .mainItem.mainItemCompresAsse .starsCon i {
  display: inline-block;
  background-size: 129px 85px;
  width: 16px;
  height: 16px;
}
#wrapper .mainItem.mainItemCompresAsse .starsCon i.allStar {
  background-position: -114px -45px;
}
#wrapper .mainItem.mainItemCompresAsse .starsCon i.halfStar {
  background-position: -100px -29px;
}
#wrapper .mainItem.mainItemCompresAsse .starsCon i.emptyStar {
  background-position: -98px -45px;
}
#wrapper .mainItem.mainItemCompresAsse .basicHeader .leftItem {
  float: left;
}
#wrapper .mainItem.mainItemCompresAsse .basicHeader .leftItem.starsCon {
  padding: 14px 0 0 10px;
}
#wrapper .mainItem.mainItemCompresAsse .basicHeader .rightItem {
  float: right;
  margin-right: 20px;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail {
  padding: 15px;
  box-sizing: border-box;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li {
  width: 33.3%;
  float: left;
  padding-right: 21px;
  box-sizing: border-box;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li:last-child(0) {
  margin-right: 0;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .title {
  text-align: center;
  color: #212121;
  font-size: 14px;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .colorBlock {
  width: 100%;
  height: 12px;
  padding: 8px 0;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .colorBlock i {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .colorBlock i.unFillIn {
  background-color: #e3e3e3;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .colorBlock i.redFillIn {
  background-color: #ff5a00;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .colorBlock i.greenFillIn {
  background-color: #23a438;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .colorBlock i.yellowFillIn {
  background-color: #fdbe0d;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .bottomInfo {
  text-align: center;
}
#wrapper .mainItem.mainItemCompresAsse .assessmentDetail li .bottomInfo > span {
  color: #808080;
  font-size: 12px;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .inputComment {
  width: auto;
  height: 30px;
  padding: 5px 20px 5px 15px;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .inputComment #myComment {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-indent: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #E3E3E3;
  outline: none;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail {
  margin-top: 20px;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li {
  min-height: 40px;
  position: relative;
  padding: 0 0 12px 0;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li:last-child .commentCon {
  border-bottom: 0 solid #d6d6d6;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .imgCon {
  position: absolute;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  padding: 0 15px 0 20px;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .imgCon img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .commentCon {
  margin-left: 80px;
  border-bottom: 1px solid #d6d6d6;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .commentCon .commentHead .commentNickname {
  color: #212121;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .commentCon .commentHead .rightItem {
  float: right;
  margin-right: 20px;
  padding-top: 3px;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .commentCon .content {
  padding: 8px 20px 5px 0;
  font-size: 14px;
}
#wrapper .mainItem.mainItemCompresAsse .studentCommentCon .studentCommentDetail li .commentCon .publicTime {
  color: #C6C6C6;
  margin-bottom: 6px;
  font-size: 12px;
}
#downloadCon {
  width: 100%;
  height: atuo;
  position: absolute;
  bottom: 0;
  background-color: #9E9A98;
}
#downloadCon .allDownImg {
  max-width: 100%;
  margin-bottom: 0;
}
#downloadCon a {
  position: absolute;
  right: 12px;
  display: inline-block;
  width: 21%;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 14px;
}
/*响应式样式*/
@media screen and (min-width: 750px) {
  #wrapper,
  #downloadCon {
    width: 560px;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) and (max-height: 480px) {
  .logoAndCertInfo .mainInfo .left {
    width: 74px !important;
    height: 74px !important;
  }
  .logoAndCertInfo .mainInfo .right {
    margin-left: 84px !important;
  }
  .logoAndCertInfo .mainInfo .right .filedInfo {
    font-size: 12px !important;
  }
  .logoAndCertInfo .mainInfo .right #orgName {
    font-size: 18px !important;
    padding: 3px 0 10px 0 !important;
  }
}
