.addNewLessonWrapper{
  .addNewLessonHeader {
    span:nth-child(1) {
    color: @md-grey-900;
    }
    span:nth-child(2){
      margin-left: 0px;
    }


  }
  .lessonType{
     height: 35px;
   }
  .uploadCoverImgCon{
    height: 90px;
    width: 350px;
    border-radius: 4px;
    border: 2px dashed @md-grey-CCC;
    padding: 20px 0;
    p{
      text-align: center;
      color: @md-grey-900;
      line-height: 23px;
      span{
        color: @md-grey-333;
      }
    }
    #lessonCoverForm{
      width: 82px;
      margin: 10px auto;
      .selectPic {
        height: 40px;
        width: 100px;
      }
    }
  }
}