.basicinfo-body{
  padding: 40px 30px;
  form{
    width: 850px;
  }
  .form-group{
    margin-bottom: 40px;
    overflow: hidden;

    #organization_id{
      display:none;
    }

    .label-txt{
      text-align: center;
      font-weight: normal;
      line-height: 30px;
      color: @md-grey-300;
      .font-size(14);
    }
    .label-img{
      .size(80px);
      .border-radius(50%);
      overflow-y: hidden;
      img{
        width: 100%;
        height: auto;
      }
    }
    .label-box{
      margin-top: 15px;
      .title{
        font-size: 14px;
        color: @md-grey-666;
        line-height: 28px;
        margin-bottom: 5px;
      }
      .txt{
        font-size: 12px;
        color: @md-grey-900;
        line-height: 20px;
      }
    }
    .box-tag{
      margin: 10px 0;
      line-height: 35px;
      text-align: left;
      .box-add{
        padding: 0.3em;
        .icon-add{
          font-size: 18px;
        }
      }
      .myAdvantageItem{
        display: inline-block;
      }
      a{
        margin-left: 5px;
      }
    }
    .recommend-box{
      padding-left: 40px;
      width: 312px;
      text-align: right;
      .checkbox{
        float: left;
        line-height: 39px;
        text-align: left;
        font-size: 14px;
        color: @md-grey-78;
        input{
          width: 0;
          margin-right: 13px;
        }
        #showRecommendBox{
          margin-top: 13px;
          width: 15px;
          height:15px;
          float: left;
          cursor:pointer;
        }
        #showRecommendBoxLabel{
          float: left;
          cursor:pointer;
        }
      }
    }
    input{
      width: 326px;
    }
    textarea{
      width: 694px;
    }
    .basicFormInfoError{
      label{
        font-weight: normal;
        font-size: 12px;
        color:@brand-primary;
      }
    }
    #tagExitTips{
      display:none;
    }

  }
}

#submitBasicInfoBtn{
  height: 40px;
  width: 115px;
}

#ImgModal{
  .myModal-body-left{
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    #myPicture{
      height: 230px;
      width: 230px;
      .box-shadow(0 0 6px @md-grey-84;);
    }
  }
  .myModal-body-right{
    float: right;
    width: 50%;
    height: 100%;
  }
}