//color
@md-grey-FA:      #FAFAFA;
@md-grey-EA:      #EAEAEA;
@md-grey-E2:      #E2E3E3;
@md-grey-E3: 	  #E3E3E3;
@md-grey-EB:      #EBEBEB;
@md-grey-D2:      #D2D2D2;
@md-grey-202:     #20212A;
@md-grey-300:     #333;
@md-grey-333:     #333644;
@md-grey-666:     #666;
@md-grey-78:      #787878;
@md-grey-84:      #848484;
@md-grey-900:     #999;
@md-grey-CCC:     #ccc;
@white-color:     #fff;
@brand-primary:   #F5A623;
@brand-bule:      #6B9AD1;
@brand-info:      #F7BE5B;
@brand-grey:      #AAA;  

//img
@img-path:         "../images/"; 
 

*{
	padding: 0;
	margin: 0;
}
a{
	&:link,&:hover,&:active,&:visited{
		text-decoration: none;
	}
	&:focus {  
		outline:none;    
		-moz-outline:none;
	}
}
html,body{
	.size(100%); 
}

body{
	background: @md-grey-EB; 
	font-family: "Microsoft Yahei","Microsoft YaHei","黑体","宋体",sans-serif;
}

.wrapper{
	margin-left: 160px;
	height: 100%;
}

.frame-content{
	padding:84px 30px 30px;
	min-height: 600px;/*Fallback for browsers that don't support the calc() function*/
    min-height: -moz-calc(~"100% - 202px");
    min-height: -webkit-calc(~"100% - 202px");
    min-height: calc(~"100% - 202px");
}

.box{
	background: @white-color;
	box-shadow:  0 0 4px @md-grey-D2;
	.border-radius(4px);
	>.box-header{
		line-height: 60px;
		border-bottom: 1px solid @md-grey-E3;
		.min-title{
			.font-size(20);
			color: @md-grey-300;
			padding-left: 23px;
		}
	}
}


.foot{
	padding: 20px 0;
	>p{
		color: #a1a1a1;
		.font-size(12);
		line-height: 24px;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
}

//grid
.col-1,.col-2,.col-label{
	float: left;
	display: inherit;
	min-height: 1px;
	position: relative;
	margin: 0 10px;
}
.col-label{
	width: 80px;
}
.col-1{
	width: 720px;
}
.col-2{
	width: 352px;
}

//text-align
.t_l{
	text-align: left !important;
}
.t_c{
	text-align: center !important;
}
.t_r{
	text-align: right !important;
}
//blod
.blod{
	font-weight: bold !important;
	color: @md-grey-666;
}

//margin
.m_5{
	margin-top: 5px;
}
.m_10{
	margin-top: 10px;
}
.m_15{
	margin-top: 15px;
}
.m_20{
	margin-top: 20px;
}
.m_110{
	margin-left: 110px;
}

//error-txt
.error-txt{
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
}

//font-color
.text-danger{
	color: #a94442;
}
.text-success{
	color: #3c763d;
}