//color
@md-grey-FA:      #FAFAFA;
@md-grey-E2:      #E2E3E3;
@md-grey-EB:      #EBEBEB;
@md-grey-D2:      #D2D2D2;
@md-grey-202:     #20212A;
@md-grey-300:     #333;
@md-grey-333:     #333644;
@md-grey-666:     #666;
@md-grey-84:      #848484;
@md-grey-900:     #999;

@white-color:     #fff;
@brand-primary:   #F5A623;  

//img
@img-path:         "../images/";


*{
	padding: 0;
	margin: 0;
}
a{
	&:link,&:hover,&:active,&:visited{
		text-decoration: none;
	}
	&:focus {  
		outline:none;   
		-moz-outline:none;
	}
}
html,body{
	.size(100%); 
}

body{
	background: @md-grey-EB; 
}

.wrapper{
	margin-left: 200px;
}

.frame-content{
	padding: 40px;
	min-height: 730px;
}

.foot{
	padding: 20px 0;
	>p{
		color: #a1a1a1;
		font-size: 12px;
		line-height: 24px;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
}