
.studentAndTeachCondition {
  padding: 25px;
  li {
    width: 244px;
    height: 235px;

    .worksItemHeader {
      height: 183px;
      border-bottom: 1px solid @brand-primary;
      img {
        height: 183px;
        width: 100%;
      }
    }

    .worksItemBottom{
      width: 90%;
      margin: 8px;
      height: 44px;
      overflow:hidden;
      p{
        color: @md-grey-666;
        //display: none;
      }
      textarea{
        //padding-left: 10px;
        //width: 110%;
        width: 100%;
        border: none;
        resize:none;
        outline:none;
        background-color: #F3F6FF;
        display: none;
      }

    }
    .worksFooter{
       padding-top: 2px;
      .videoFooterLeft{
        width: 47%;
        float: left;
      }
      .videoFooterRight{
        width: 47%;
        float: right;
        text-align: right;
      }
      span{
        float: left;
        color: @md-grey-900;
        font-size: 12px;
        margin-left: 4px;
        line-height: 15px;
      }
    }
  }
}