<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li class="active"><a href="ae.html" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>新项目    Ctrl+Alt+N</P>
        <p>打开项目    Ctrl+O</P>
        <p>打开项目时只打开项目窗口    Shift</P>
        <p>打开上次打开的项目    Ctrl+Alt+Shift+P</P>
        <p>保存项目    Ctrl+S</P>
        <p>选择上一子项    ↑</P>
        <p>选择下一子项    ↓</P>
        <p>打开选择的素材项或合成图像    双击</P>
        <p>在AE素材窗口中打开影片      Alt+双击</P>
        <p>激活最近激活的合成图像      \</P>
        <p>增加选择的子项到最近激活的合成图像中    Ctrl+/</P>
        <p>显示所选的合成图像的设置     Ctrl+K</P>
        <p>增加所选的合成图像的渲染队列窗口     Ctrl+Shift+/</P>
        <p>引入一个素材文件     Ctrl+i</P>
        <p>引入多个素材文件     Ctrl+Alt+i</P>
        <p>替换选择层的源素材或合成图像     Alt+从项目窗口拖动素材项到合成图像</P>
        <p>替换素材文件     Ctrl+H</P>
        <p>设置解释素材选项     Ctrl+F</P>
        <p>扫描发生变化的素材     Ctrl+Alt+Shift+L</P>
        <p>重新调入素材    Ctrl+Alt+L</P>
        <p>新建文件夹     Ctrl+Alt+Shift+N</P>
        <p>记录素材解释方法      Ctrl+Alt+C</P>
        <p>应用素材解释方法      Ctrl+Alt+V</P>
        <p>设置代理文件     Ctrl+Alt+P</P>
        <p>退出     Ctrl+Q</P>
        <p>在打开的窗口中循环     Ctrl+Tab</P>
        <p>显示/隐藏标题安全区域和动作安全区域    '</P>
        <p>显示/隐藏网格     Ctrl+'</P>
        <p>显示/隐藏对称网格    Alt+'</P>
        <p>居中激活的窗口     Ctrl+Alt+\</P>
        <p>动态修改窗口     Alt+拖动属性控制</P>
        <p>暂停修改窗口     大写键</P>
        <p>在当前窗口的标签间循环     Shift+,或Shift+.</P>
        <p>在当前窗口的标签间循环并自动调整大小     Alt+Shift+,或Alt+Shift+.</P>
        <p>快照（多至4个）     Ctrl+F5,F6,F7,F8</P>
        <p>显示快照     F5,F6,F7,F8</P>
        <p>清除快照     Ctrl+Alt+F5,F6,F7,F8</P>
        <p>显示通道（RGBA)     Alt+1，2，3，4</P>
        <p>带颜色显示通道（RGBA)     Alt+Shift+1，2，3，4</P>
        <p>带颜色显示通道（RGBA)     Shift+单击通道图标</P>
        <p>带颜色显示遮罩通道     Shift+单击ALPHA通道图标</P>
        <p>拷贝     Ctrl+C</P>
        <p>复制     Ctrl+D</P>
        <p>剪切     Ctrl+X</P>
        <p>粘贴     Ctrl+V</P>
        <p>撤消     Ctrl+Z</P>
        <p>重做     Ctrl+Shift+Z</P>
        <p>选择全部     Ctrl+A</P>
        <p>取消全部选择     Ctrl+Shift+A或F2</P>
        <p>层、合成图像、文件夹、效果更名     Enter</P>
        <p>原应用程序中编辑子项（仅限素材窗口）    Ctrl+E</P>
        <p>缩放到帧视图     ；</P>
        <p>放大时间   =</P>
        <p>缩小时间   -</P>
        <p>定位点     A</P>
        <p>音频级别     L</P>
        <p>音频波形     LL</P>
        <p>效果     E</P>
        <p>遮罩羽化     F</P>
        <p>遮罩形状     M</P>
        <p>遮罩不透明度     TT</P>
        <p>不透明度    T</P>
        <p>位置    P</P>
        <p>旋转    R</P>
        <p>时间重映象     RR</P>
        <p>缩放     S</P>
        <p>显示所有动画值    U</P>
        <p>在对话框中设置层属性值（与P,S,R,F,M一起）      Ctrl+Shift+ 属性快捷键</P>
        <p>隐藏属性      Alt+Shift+单击属性名</P>
        <p>弹出属性滑杆      Alt+ 单击属性名</P>
        <p>增加/删除属性     Shift+单击属性名</P>
        <p>switches/modes转换      F4</P>
        <p>为所有选择的层改变设置      Alt+ 单击层开关</P>
        <p>不透明      Ctrl+Shift+O</P>
        <p>定位点      Ctrl+Shift+Alt+A</P>
        <p>设置当前时间标记为工作区开始     B</P>
        <p>设置当前时间标记为工作区结束     N</P>
        <p>设置工作区为选择的层     Ctrl+Alt+B</P>
        <p>未选择层时，设置工作区为合成图像长度     Ctrl+Alt+B</P>
        <p>设置关键帧速度     Ctrl+Shift+K</P>
        <p>设置关键帧插值法     Ctrl+Alt+K</P>
        <p>增加或删除关键帧（计时器开启时）或开启时间变化计时器     Alt+Shift+属性快捷键</P>
        <p>选择一个属性的所有关键帧     单击属性名</P>
        <p>增加一个效果的所有关键帧到当前关键帧选择     Ctrl+单击效果名</P>
        <p>逼近关键帧到指定时间      Shift+拖动关键帧</P>
        <p>向前移动关键帧一帧     Alt+右箭头</P>
        <p>向后移动关键帧一帧     Alt+左箭头</P>
        <p>向前移动关键帧十帧     Shift+Alt+右箭头</P>
        <p>向后移动关键帧十帧     Shift+Alt+左箭头</P>
        <p>选择所有可见的关键帧     Ctrl+Alt+A</P>
        <p>前一可见关键帧     J</P>
        <p>后一可见关键帧     K</P>
        <p>在线性插值法和自动Bezer插值法间转换     Ctrl+单击关键帧</P>
        <p>改变自动Bezer插值法为连续Bezer插值法     拖动关键帧句柄</P>
        <p>Hold关键帧转换       Ctrl+Alt+H或Ctrl+Alt+单击关键帧句柄</P>
        <p>连续Bezer插值法与Bezer插值法间转换      Ctrl+拖动关键帧句柄</P>
        <p>Easy easy    F9</P>
        <p>Easy easy入点    Alt+F9</P>
        <p>Easy easy出点    Ctrl+Alt+F9</P>
        <p>以指定方向移动层一个像素    箭头</P>
        <p>旋转层1度     +</P>
        <p>旋转层-1度     -</P>
        <p>放大层1%      Ctrl+ +</P>
        <p>缩小层1%      Ctrl+ -</P>
        <p>移动、旋转和缩放变化量为10     Shift+快捷键</P>
        <p>选择上一个效果    ↑</P>
        <p>选择下一个效果    ↓</P>
        <p>扩展/卷收效果控制     `</P>
        <p>清除层上的所有效果     Ctrl+ Shift+E</P>
        <p>增加效果控制的关键帧     Alt+单击效果属性名</P>
        <p>激活包含层的合成图像窗口     \</P>
        <p>应用上一个喜爱的效果     Ctrl+Alt+Shift+F</P>
        <p>应用上一个效果      Ctrl+Alt+Shift+E</P>
        <p>设置层时间标记     *</P>
        <p>清楚层时间标记     Ctrl+单击标记</P>
        <p>到前一个可见层时间标记或关键帧     Alt+J</P>
        <p>到下一个可见层时间标记或关键帧     Alt+K</P>
        <p>到合成图像时间标记        0---9</P>
        <p>在当前时间设置并编号一个合成图像时间标记      Shift+0---9</P>
        <p>制作影片    Ctrl+ M</P>
        <p>激活最近激活的合成图像     \</P>
        <p>增加激活的合成图像到渲染队列窗口     Ctrl+ Shift+/</P>
        <p>在队列中不带输出名复制子项     Ctrl+ D</P>
        <p>保存帧    Ctrl+Alt+S</P>
        <p>打开渲染对列窗口     Ctrl+Alt+O</P>
        <p>项目窗口    Ctrl+0</P>
        <p>项目流程视图     F11</P>
        <p>渲染队列窗口     Ctrl+Alt+0</P>
        <p>工具箱     Ctrl+1</P>
        <p>信息面板     Ctrl+2</P>
        <p>时间控制面板     Ctrl+3</P>
        <p>音频面板     Ctrl+4</P>
        <p>显示/隐藏所有面板    Tab</P>
        <p>General偏好设置      Ctrl+</P>
        <p>新合成图像     Ctrl+N</P>
        <p>关闭激活的标签/窗口     Ctrl+W</P>
        <p>关闭激活窗口（所有标签）     Ctrl+Shift+W</P>
        <p>关闭激活窗口（除项目窗口）   Ctrl+Alt+W</P>
        <p>到工作区开始    Home</P>
        <p>到工作区结束    Shift+End</P>
        <p>到前一可见关键帧    J</P>
        <p>到后一可见关键帧    K</P>
        <p>到前一可见层时间标记或关键帧    Alt+J</P>
        <p>到后一可见层时间标记或关键帧    Alt+K</P>
        <p>到合成图像时间标记    0---9</P>
        <p>滚动选择的层到时间布局窗口的顶部    X</P>
        <p>滚动当前时间标记到窗口中心    D</P>
        <p>到指定时间    Ctrl+G</P>
        <p>到开始处    Home或Ctrl+Alt+←</P>
        <p>到结束处    End或Ctrl+Alt+→</P>
        <p>前一帧     Page Down或←</P>
        <p>前十帧     Shift+Page Down或Ctrl+Shift+←</P>
        <p>后一帧     Page Up或→</P>
        <p>后十帧     Shift+Page Up或Ctrl+Shift+→</P>
        <p>到层的入点     i</P>
        <p>到层的出点     o</P>
        <p>逼近子项到关键帧、时间标记、入点和出点      Shift+ 拖动子项</P>
        <p>开始/停止播放    空格</P>
        <p>从当前时间点预视音频     .</P>
        <p>RAM预视    0</P>
        <p>每隔一帧的RAM预视     Shift+0</P>
        <p>保存RAM预视    Ctrl+0</P>
        <p>快速视频     Alt+拖动当前时间标记</P>
        <p>快速音频     Ctrl+拖动当前时间标记</P>
        <p>线框预视     Alt+0</P>
        <p>线框预视时用矩形替代alpha轮廓    Ctrl+Alt+0（数字键盘）</P>
        <p>线框预视时保留窗口内容    Shift+Alt+0（数字键盘）</P>
        <p>矩形预视时保留窗口内容    trl+Shift+Alt+0（数字键盘）</P>
        <p>放在最前面    Ctrl+Shift+ ]</P>
        <p>向前提一级    Shift+ ]</P>
        <p>向后放一级    Shift+ [</P>
        <p>放在最后面    Ctrl+Shift+ [</P>
        <p>选择下一层    Ctrl+下箭头</P>
        <p>选择上一层    Ctrl+上箭头</P>
        <p>通过层号选择层    1---9</P>
        <p>取消所有层选择    Ctrl+Shift+A</P>
        <p>锁定所选层    Ctrl+L</P>
        <p>释放所有层的选定    Ctrl+Shift+L</P>
        <p>分裂所选层    Ctrl+Shift+D</P>
        <p>激活合成图像窗口    \</P>
        <p>在层窗口中显示选择的层    Enter</P>
        <p>显示隐藏视频    Ctrl+Shift+Alt+V</P>
        <p>隐藏其它视频    Ctrl+Shift+V</P>
        <p>显示选择层的效果控制窗口    Ctrl+Shift+T或F3</P>
        <p>在合成图像窗口和时间布局窗口中转换    \</P>
        <p>打开源层    Alt++双击层</P>
        <p>在合成图像窗口中不拖动句柄缩放层    Ctrl+拖动层</P>
        <p>在合成图像窗口中逼近层到框架边和中心    Alt+Shift+拖动层</P>
        <p>逼近网格转换    Ctrl+Shit+''</P>
        <p>逼近参考线转换    Ctrl+Shift+；</P>
        <p>拉伸层适合合成图像窗口    Ctrl+Alt+F</P>
        <p>层的反向播放    Ctrl+Alt+R</P>
        <p>设置入点    [</P>
        <p>设置入点    ]</P>
        <p>剪辑层的入点    Alt+[</P>
        <p>剪辑层的出点    Alt+]</P>
        <p>所选层的时间重映象转换开关    Ctrl+Alt+T</P>
        <p>设置质量为最好    Ctrl+U</P>
        <p>设置质量为草稿    Ctrl+Shift+U</P>
        <p>设置质量为线框    Ctrl++Shift+U</P>
        <p>创建新的固态层    Ctrl+Y</P>
        <p>显示固态层设置    Ctrl+Shift+Y</P>
        <p>重组层    Ctrl+Shift+C</P>
        <p>通过时间延伸设置入点    Ctrl+Shift+，</P>
        <p>通过时间延伸设置出点    Ctrl+Alt+，</P>
        <p>约束旋转的增量为45度    Shift+拖动旋转工具</P>
        <p>约束沿X轴或Y 轴移动    Shift+拖动层</P>
        <p>复位旋转角度为0度    双击旋转工具</P>
        <p>复位缩放率为100%     双击缩放工具</P>
        <p>放大    .</P>
        <p>缩小    ，</P>
        <p>缩放至100%    /或双击缩放工具</P>
        <p>放大并变化窗口    Alt+.或Ctrl+ =</P>
        <p>缩小并变化窗口    Alt+，或Ctrl+ -</P>
        <p>缩放至100%并变化窗口    Alt+ /</P>
        <p>缩放窗口    Ctrl+\</P>
        <p>缩放窗口适应于监视器    Ctrl+Shift+\</P>
        <p>窗口居中    Shift+Alt+\</P>
        <p>缩放窗口适应于窗口    Ctrl+Alt+\</P>
        <p>图像放大，窗口不变    Ctrl+Alt+ =</P>
        <p>图像缩小，窗口不变    Ctrl+Alt+ -</P>
        <p>参考线    Ctrl+ ；</P>
        <p>参考线锁定    Ctrl+Alt+Shift+；</P>
        <p>标尺    Ctrl+ R</P>
        <p>背景颜色    Ctrl+Shift+B</P>
        <p>设置合成图像解析度为   full Ctrl+ J</P>
        <p>设置合成图像解析度为   Half Ctrl+ Shift+J</P>
        <p>设置合成图像解析度为   Quarter Ctrl+ Alt+Shift+J</P>
        <p>设置合成图像解析度为   Custom Ctrl+ Alt+J</P>
        <p>合成图像流程图视图    Alt+F11</P>
        <p>椭圆遮罩置为整个窗口    双击椭圆工具</P>
        <p>矩形遮罩置为整个窗口    双击矩形工具</P>
        <p>在自由变换模式下围绕中心点缩放    Ctrl+ 拖动</P>
        <p>选择遮罩上的所有点    Alt+单击遮罩</P>
        <p>自由变换遮罩    双击遮罩</P>
        <p>推出自由变换遮罩模式    Enter</P>
        <p>定义遮罩形状    Ctrl+ Shift+M</P>
        <p>定义遮罩羽化    Ctrl+ Shift+F</P>
        <p>设置遮罩反向    Ctrl+ Shift+I</P>
        <p>新遮罩    Ctrl+ Shift+N</P>
        <p>选择工具    V</P>
        <p>旋转工具    W</P>
        <p>矩形工具    C</P>
        <p>椭圆工具    Q</P>
        <p>笔工具    G</P>
        <p>后移动工具    Y</P>
        <p>手工具    H</P>
        <p>缩放工具 （使用Alt缩小）    Z</P>
        <p>从选择工具转换为笔工具    Ctrl</P>
        <p>从笔工具转换为选择工具    Ctrl</P>
        <p>在信息面板显示文件名    Ctrl+Alt+E</P>
    </div>
</div>
</body>
</html>