<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li class="active"><a href="cdr.html" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>运行应用程序的编辑器    Alt+F11</p>
        <p>启动帮助    Shift+F1</p>
        <p>回复到上一个动作    Ctrl+Z</p>
        <p>回复到上一个动作    Alt+BackSpace</p>
        <p>复制选取的物件并置于剪贴簿中    Ctrl+C</p>
        <p>复制选取的物件并置于剪贴簿中    Ctrl+INS</p>
        <p>将指定的属性从另一个物件复制至选取的物件   Ctrl+Shift+A</p>
        <p>剪下选取的物件并置于剪贴簿中    Ctrl+X</p>
        <p>剪下选取的物件并置于剪贴簿中    Shift+DEL</p>
        <p>删除选取的物件    DEL</p>
        <p>将剪贴簿的内容贴到图文件内    Ctrl+V</p>
        <p>将剪贴簿的内容贴到图文件内    Shift+INS</p>
        <p>再制选取的物件并以指定的距离偏移    Ctrl+D</p>
        <p>重复上一个动作    Ctrl+R</p>
        <p>回复到上一个复原的动作    Ctrl+Shift+Z</p>
        <p>大小泊坞窗口    Alt+F10</p>
        <p>缩放与镜像泊坞窗口    Alt+F9</p>
        <p>位置泊坞窗口    Alt+F7</p>
        <p>旋转泊坞窗口    Alt+F8</p>
        <p>包含指定线性度量线属性的功能    Alt+F2</p>
        <p>启动属性列并跳到第一个可加上标签的项目    Ctrl+ENTER</p>
        <p>打开符号泊坞窗口    Ctrl+F11</p>
        <p>垂直对齐选取物件的中心    C</p>
        <p>水平对齐选取物件的中心    E</p>
        <p>选取物件向上对齐    T</p>
        <p>选取物件向下对齐    B</p>
        <p>选取物件向右对齐    R</p>
        <p>选取物件向左对齐    L</p>
        <p>对齐选取物件的中心至页    P</p>
        <p>将物件贴齐格点 (切换式)    Ctrl+Y</p>
        <p>绘制对称式多边形   Y</p>
        <p>绘制一组矩形     D</p>
        <p>为物件新增填色    G</p>
        <p>将物件转换成网状填色物件    M</p>
        <p>绘制矩形    F6</p>
        <p>绘制螺旋纹    A</p>
        <p>绘制椭圆形及圆形   F7</p>
        <p>新增文字    F8</p>
        <p>擦拭一个图形的部份区域，或将一个物件分为两个封闭的路径    X</p>
        <p>在目前工具及“挑选”工具间切换    空格</p>
        <p>绘制曲线，并对笔触应用预设效果、笔刷、喷洒、书写式或压力感应效果    I</p>
        <p>选取最近使用的“曲线”工具    F5</p>
        <p>编辑物件的节点    F10</p>
        <p>将选取的物件放置到最后面    Shift+PageDown</p>
        <p>将选取的物件放置到最前面    Shift+PageUp</p>
        <p>将选取的物件在物件的堆叠顺序中向后移动一个位置    Ctrl+PageDown</p>
        <p>将选取的物件在物件的堆叠顺序中向前移动一个位置    Ctrl+PageUp</p>
        <p>选取整个图文件    Ctrl+A</p>
        <p>打散选取的物件    Ctrl+K</p>
        <p>解散选取物件或物件群组所组成的群组    Ctrl+U</p>
        <p>将选取的物件组成群组    Ctrl+G</p>
        <p>将选取的物件转换成曲线    Ctrl+Q</p>
        <p>将外框转换成物件    Ctrl+Shift+Q</p>
        <p>组合选取的物件    Ctrl+L</p>
        <p>拼字检查器    Ctrl+F12</p>
        <p>依据目前选取区域或工具显示物件或工具属性    Alt+ENTER</p>
        <p>标准填色应用至物件    Shift+F11</p>
        <p>渐层填色应用至物件    F11</p>
        <p>外框笔   F12</p>
        <p>外框色   Shift+F12</p>
        <p>以大幅微调的设定值将物件向上微调    Shift+↑</p>
        <p>将物件向上微调    ↑</p>
        <p>以大幅微调的设定值将物件向下大幅微调    Shift+↓</p>
        <p>将物件向下微调    ↓</p>
        <p>以大幅微调的设定值将物件向右微调    Shift+←</p>
        <p>将物件向右微调    ←</p>
        <p>以大幅微调的设定值将物件向左微调    Shift+→</p>
        <p>将物件向左微调    →</p>
        <p>储存作用中绘图    Ctrl+s</p>
        <p>打开现有的绘图文件    Ctrl+O</p>
        <p>打印作用中图文件    Ctrl+P</p>
        <p>另一种格式输出    Ctrl+E</p>
        <p>输入文字或物件    Ctrl+I</p>
        <p>建立新的绘图文件    Ctrl+N</p>
        <p>编辑文字   Ctrl+Shift+T</p>
        <p>将文字变更为垂直 (切换)    Ctrl+.</p>
        <p>变更文字为水平方向    Ctrl+,</p>
        <p>设定文字属性的格式    Ctrl+T</p>
        <p>新增/删除文字物件的项目符号 (切换式)    Ctrl+M</p>
        <p>将美工文字转换成段落文字，或将段落文字转换为美工文字    Ctrl+F8</p>
        <p>将文字对齐基准线    Alt+F12</p>
        <p>重绘绘图窗口    Ctrl+w</p>
        <p>在最后两个使用的检视品质间互相切换    Shift+F9</p>
        <p>全屏幕预览的方式显示图文件    F9</p>
        <p>执行显示比例动作然后返回前一个工具    F2</p>
        <p>检视管理员泊坞窗口    Ctrl+F2</p>
        <p>平移绘图    H</p>
        <p>缩小绘图的显示比例    F3</p>
        <p>显示绘图中的全部物件    F4</p>
        <p>仅放大显示选取物件的比例    Shift+F2</p>
        <p>显示整个可打印页面    Shift+F4</p>
        <p>将绘图向上平移    Alt+↑</p>
        <p>将绘图向下平移    Alt+↓</p>
        <p>将绘图向右平移    Alt+←</p>
        <p>将绘图向左平移    Alt+→</p>
        <p>滤镜泊坞窗口    Alt+F3</p>
        <p>设定 CorelDRAW 选项   Ctrl+J</p>
        <p>图形与文字样式泊坞窗口   Ctrl+F5</p>
        <p>上一页    PageUp</p>
        <p>下一页    PageDown</p>
        <p>字体大小缩减为前一个点数    Ctrl+ 2</p>
        <p>字体大小缩减为“字体大小列表”中的前一个设定    Ctrl+ 4</p>
        <p>字体大小增加为“字体大小列表”中的下一个设定    Ctrl+ 6</p>
        <p>字体大小增加为下一个点数    Ctrl+ 8</p>
        <p>文字不对齐    Ctrl+N</p>
        <p>文字为强迫上一行完全对齐    Ctrl+H</p>
        <p>新增/删除文字物件的首字放大 (切换式)    Ctrl+Shift+D</p>
        <p>文字完全对齐    Ctrl+J</p>
        <p>文字向右对齐    Ctrl+R</p>
        <p>文字向左对齐    Ctrl+L</p>
        <p>文字置中对齐    Ctrl+E</p>
        <p>变更文字的大小写    Shift+F3</p>
        <p>显示非打印字符    Ctrl+Shift+C</p>
        <p>将文字的脱字号(^)移至框架终点    Ctrl+END</p>
        <p>将文字的脱字号(^)移至框架起点    Ctrl+HOME</p>
        <p>将文字的脱字号(^)移至文字起点    Ctrl+PageUp</p>
        <p>将文字的脱字号(^)移到文字终点    Ctrl+PageDown</p>
        <p>将文字的脱字号(^)向上移一段    Ctrl+↑</p>
        <p>将文字的脱字号(^)向上移一个框架    PageUp</p>
        <p>将文字的脱字号(^)向上移一行    ↑</p>
        <p>将文字的脱字号(^)向下移一段    Ctrl+↓</p>
        <p>将文字的脱字号(^)向下移一个框架    PageDown</p>
        <p>将文字的脱字号(^)向下移一行    ↓</p>
        <p>删除文字脱字号(^)右方单字    Ctrl+DEL</p>
        <p>删除文字脱字号(^)右方字符    DEL</p>
        <p>选取文字脱字号(^)右方单字    Ctrl+Shift+←</p>
        <p>选取文字脱字号(^)右方字符    Shift+←</p>
        <p>选取文字脱字号(^)左方单字    Ctrl+Shift+→</p>
        <p>选取文字脱字号(^)左方字符    Shift+→</p>
        <p>选取上移一段的文字    Ctrl+Shift+↑</p>
        <p>选取上移一个框架的文字    Shift+PageUp</p>
        <p>选取上移一行的文字    Shift+↑</p>
        <p>选取下移一段的文字    Ctrl+Shift+↓</p>
        <p>选取下移一个框架的文字    Shift+PageDown</p>
        <p>选取下移一行的文字    Shift+↓</p>
        <p>选取至框架起点文字    Ctrl+Shift+HOME</p>
        <p>选取至框架终点文字    Ctrl+Shift+END</p>
        <p>选取至文字起点的文字   Ctrl+Shift+PageUp</p>
        <p>选取至文字终点的文字   Ctrl+Shift+PageDown</p>
        <p>选取至行首文字    Shift+HOME</p>
        <p>选取至行首文字    Shift+END</p>
        <p>将文字的脱字号(^)移至行首    HOME</p>
        <p>将文字的脱字号(^)移至行尾    END</p>
        <p>将文字的脱字号(^)向右移一个字    Ctrl+←</p>
        <p>将文字的脱字号(^)向右移一个字符    ←</p>
        <p>将文字的脱字号(^)向左移一个字    Ctrl+→</p>
        <p>将文字的脱字号(^)向左移一个字符    →</p>
        <p>“文字”选项页面    Ctrl+F10</p>
        <p>寻找图文件中指定的文字    Alt+F3</p>
        <p>显示图文件中所有样式的列表    Ctrl+Shift+S</p>
        <p>粗体    Ctrl+B</p>
        <p>文字有底线    Ctrl+U</p>
        <p>变更小写字母    Ctrl+Shift+K</p>
        <p>变更文字为斜体    Ctrl+I</p>
        <p>显示粗细变化    Ctrl+Shift+W</p>
        <p>显示字体列表    Ctrl+Shift+F</p>
        <p>显示HTML 字体大小列表    Ctrl+Shift+H</p>
        <p>将字体大小缩减为前一个点数    Ctrl+ 2</p>
        <p>将字体大小缩减为“字体大小列表”中的前一个设定    Ctrl+ 4</p>
        <p>将字体大小增加为“字体大小列表”中的下一个设定    Ctrl+ 6</p>
        <p>将字体大小增加为下一个点数    Ctrl+ 8</p>
        <p>显示字体大小列表    Ctrl+Shift+P</p>
    </div>
</div>
</body>
</html>