<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li class="active"><a href="dw.html" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>新建文档　  Ctrl+N</p>
        <p>打开一个 HTML文件　　Ctrl+O</p>
        <p>在框架中打开 　 　Ctrl+Shift+O</p>
        <p>关闭    Ctrl+W</p>
        <p>保存    Ctrl+S</p>
        <p>另存为　  Ctrl+Shift+S</p>
        <p>检查链接　　Shift + F8</p>
        <p>退出　　Ctrl+Q</p>
        <p>撤消　　Ctrl+Z</p>
        <p>重复　　Ctrl+Y 或 Ctrl+Shift+Z</p>
        <p>剪切    Ctrl+X 或Shift+Del</p>
        <p>拷贝    Ctrl+C 或Ctrl+Ins</p>
        <p>粘贴　　Ctrl+V 或Shift+Ins</p>
        <p>清除　　Delete</p>
        <p>全选　　Ctrl+A</p>
        <p>选择父标签　　　Ctrl+Shift+<</p>
        <p>选择子标签　　　Ctrl+Shift+></p>
        <p>查找和替换　　　Ctrl+F</p>
        <p>查找下一个　　　F3</p>
        <p>缩进代码 　　Ctrl+Shift+]</p>
        <p>左缩进代码　　 Ctrl+Shift+[</p>
        <p>平衡大括弧　　Ctrl+’</p>
        <p>启动外部编辑器　Ctrl+E</p>
        <p>参数选择　　Ctrl+U</p>
        <p>标准视图　　Ctrl+Shift+F6</p>
        <p>布局视图　　Ctrl+F6</p>
        <p>工具条　　　Ctrl+Shift+T</p>
        <p>可视化助理　Ctrl+Shift+I</p>
        <p>标尺　　　Ctrl+Alt+R</p>
        <p>显示网格　　Ctrl+Alt+G</p>
        <p>靠齐到网格　　Ctrl+Alt+Shift+G</p>
        <p>头内容　　　Ctrl+Shift+W</p>
        <p>页面属性　　Ctrl+Shift+J</p>
        <p>切换到设计视图　　　Ctrl+Tab</p>
        <p>打开快速标签编辑器　　Ctrl+T</p>
        <p>选择父标签　　Ctrl+Shift+<</p>
        <p>平衡大括弧　　Ctrl+’</p>
        <p>全选　　　Ctrl+A</p>
        <p>拷贝　　　Ctrl+C</p>
        <p>查找和替换　　　Ctrl+F</p>
        <p>查找下一个　　 F3</p>
        <p>替换　　　Ctrl+H</p>
        <p>粘贴　　　Ctrl+V</p>
        <p>剪切　　　Ctrl+X</p>
        <p>重复　　　Ctrl+Y</p>
        <p>撤消　　　Ctrl+Z</p>
        <p>切换断点　　　Ctrl+Alt+B</p>
        <p>向上选择一行　　Shift+Up</p>
        <p>向下选择一行　　Shift+Down</p>
        <p>选择左边字符　　Shift+Left</p>
        <p>选择右边字符　　Shift+Right</p>
        <p>向上翻页　　Page Up</p>
        <p>向下翻页　　Page Down</p>
        <p>向上选择一页　　Shift+Page Up</p>
        <p>向下选择一页　　Shift+Page Down</p>
        <p>选择左边单词　　Ctrl+Shift+Left</p>
        <p>选择右边单词　　Ctrl+Shift+Right</p>
        <p>移到行首　　　Home</p>
        <p>移到行尾　　　End</p>
        <p>移动到代码顶部　　　Ctrl+Home</p>
        <p>移动到代码尾部　　　Ctrl+End</p>
        <p>向上选择到代码顶部　　Ctrl+Shift+Home</p>
        <p>向下选择到代码顶部　　Ctrl+Shift+End</p>
        <p>创建新段落　　　nter</p>
        <p>插入换行     hift+Enter</p>
        <p>插入不换行空格　　　Ctrl+Shift+Spacebar</p>
        <p>拷贝文本或对象到页面其他位置 　　Ctrl+拖动选取项目到新位置</p>
        <p>选取一个单词　　　双击</p>
        <p>将选定项目添加到库　　Ctrl+Shift+B</p>
        <p>在设计视图和代码编辑器之间切换　　 Ctrl+Tab</p>
        <p>打开和关闭[属性]检查器    Ctrl+Shift+J</p>
        <p>检查拼写 　　　Shift+F7</p>
        <p>缩进　　　Ctrl+]</p>
        <p>左缩进　　　Ctrl+[</p>
        <p>格式>无　　　Ctrl+0 (零)</p>
        <p>段落格式　　　Ctrl+Shift+P</p>
        <p>应用标题1到6到段落　　　Ctrl+1 到 6</p>
        <p>对齐>左对齐　　　Ctrl+Shift+Alt+L</p>
        <p>对齐>居中　　　Ctrl+Shift+Alt+C</p>
        <p>对齐>右对齐　　　Ctrl+Shift+Alt+R</p>
        <p>加粗选定文本　　Ctrl+B</p>
        <p>倾斜选定文本　　Ctrl+I</p>
        <p>编辑样式表　　Ctrl+Shift+E</p>
        <p>查找　　　Ctrl+F</p>
        <p>查找下一个/再查找　　 F3</p>
        <p>替换　　　Ctrl+H</p>
        <p>选择表格（光标在表格中） Ctrl+A</p>
        <p>移动到下一单元格　　Tab</p>
        <p>移动到上一单元格　　Shift+Tab</p>
        <p>插入行（在当前行之前）　Ctrl+M</p>
        <p>在表格末插入一行 在最后一个单元格　　Tab</p>
        <p>删除当前行　　Ctrl+Shift+M</p>
        <p>插入列　　　Ctrl+Shift+A</p>
        <p>删除列　　  Ctrl+Shift+ - (连字符)</p>
        <p>合并单元格　　Ctrl+Alt+M</p>
        <p>拆分单元格　　Ctrl+Alt+S</p>
        <p>更新表格布局（在“快速表格编辑”模式中强制重绘）　　Ctrl+Spacebar</p>
        <p>选择框架　　　框架中Alt+点击</p>
        <p>选择下一框架或框架页　　Alt+→</p>
        <p>选择上一框架或框架页　　Alt+←</p>
        <p>选择父框架　　　Alt+↑</p>
        <p>选择子框架或框架页　　Alt+↓</p>
        <p>添加新框架到框架页　　Alt+从框架边界拖动</p>
        <p>使用推模式添加新框架到框架页　　Alt+Ctrl+从框架边界拖动</p>
        <p>选择层　　Ctrl+Shift+点击</p>
        <p>选择并移动层　　Shift+Ctrl+拖动</p>
        <p>从选择中添加或删除层　　Shift+点击层</p>
        <p>以象素为单位移动所选层　↑</p>
        <p>按靠齐增量移动所选层　　Shift+方向键</p>
        <p>以象素为单位调整层大小　Ctrl+方向键</p>
        <p>以靠齐增量为单位调整层大小　　Ctrl+Shift+方向键</p>
        <p>将所选层与最后所选层的顶部/底部/左边/右边对齐　　Ctrl+↑/↓/←/→</p>
        <p>统一所选层宽度　　Ctrl+Shift+[</p>
        <p>统一所选层高度　　Ctrl+Shift+]</p>
        <p>创建层时切换嵌套设置　　Ctrl+拖动</p>
        <p>切换网格显示　　　Ctrl+Shift+Alt+G</p>
        <p>靠齐到网格　　　Ctrl+Alt+G</p>
        <p>添加对象到时间轴　　　Ctrl+Alt+Shift+T</p>
        <p>添加关键帧　　　Shift+F9</p>
        <p>删除关键帧　　　Delete</p>
        <p>改变图象源文件属性　　Double+点击图象</p>
        <p>在外部编辑器中编辑图象　  Ctrl+双击图象</p>
        <p>创建超链接（选定文本）　  Ctrl+L</p>
        <p>删除超链接 　　Ctrl+Shift+L</p>
        <p>打开链接文档　　Ctrl+双击链接</p>
        <p>检查选定链接　　Shift+F8</p>
        <p>检查整个站点中的链接　　Ctrl+F8</p>
        <p>在主浏览器中预览　　　F12</p>
        <p>在次要浏览器中预览　　 Ctrl+F12</p>
        <p>在主浏览器中调试　　　Alt+F12</p>
        <p>在次要浏览器中调试　　　Ctrl+Alt+F12</p>
        <p>创建新文件　　　　Ctrl+Shift+N</p>
        <p>创建新文件夹　　　　Ctrl+Shift+Alt+N</p>
        <p>打开选定　　　　Ctrl+Shift+Alt+O</p>
        <p>从远程FTP站点下载选定文件或文件夹　　Ctrl+Shift+D</p>
        <p>将选定文件或文件夹上载到远程FTP站点　　Ctrl+Shift+U</p>
        <p>取出      Ctrl+Shift+Alt+D</p>
        <p>存回　　　Ctrl+Shift+Alt+U</p>
        <p>查看站点地图　　　Alt+F8</p>
        <p>刷新远端站点　　　Alt+F5</p>
        <p>查看站点文件　　　F8</p>
        <p>刷新本地栏　　Shift+F5</p>
        <p>设为根　　Ctrl+Shift+R</p>
        <p>链接到现存文件　　Ctrl+Shift+K</p>
        <p>改变链接　　　Ctrl+L</p>
        <p>删除链接　　　Delete</p>
        <p>显示/隐藏链接　　Ctrl+Shift+Y</p>
        <p>显示页面标题　　 Ctrl+Shift+T</p>
        <p>重命名文件　　　F2</p>
        <p>放大站点地图　　　Ctrl+ + (plus)</p>
        <p>缩小站点地图　　　Ctrl+ - (hyphen)</p>
        <p>播放插件　　　Ctrl+Alt+P</p>
        <p>停止插件　　　Ctrl+Alt+X</p>
        <p>播放所有插件　　Ctrl+Shift+Alt+P</p>
        <p>停止所有插件　　Ctrl+Shift+Alt+X</p>
        <p>创建新的可编辑区域　　Ctrl+Alt+V</p>
        <p>任何对象（图象，Shockwave影片等）图象　　Ctrl+Alt+I</p>
        <p>表格　　　Ctrl+Alt+T</p>
        <p>Flash影片　　　　Ctrl+Alt+F</p>
        <p>Shockwave和Director影片　　Ctrl+Alt+D</p>
        <p>命名锚记　　　Ctrl+Alt+A</p>
        <p>打开[历史纪录]面板　　Shift F10</p>
        <p>开始/停止录制命令 　　Ctrl+Shift+X</p>
        <p>播放录制好的命令　　Ctrl+P</p>
        <p>对象　　　　Ctrl+F2</p>
        <p>属性　　　　Ctrl+F3</p>
        <p>站点文件　　　F5</p>
        <p>站点地图 Ctrl+F5</p>
        <p>资源　　　　F11</p>
        <p>CSS样式 　　　　Shift+F11</p>
        <p>HTML样式　　　Ctrl+F11</p>
        <p>行为　　　Shift+F3</p>
        <p>历史纪录　　　Shift+F10</p>
        <p>时间轴　　　Shift+F9</p>
        <p>代码检查器　　　F10</p>
        <p>框架　　　Shift+F2</p>
        <p>层　　　F2</p>
        <p>参考　 　Ctrl+Shift+F1</p>
        <p>显示/隐藏浮动面板 　F4</p>
        <p>最小化所有窗口　　　Shift+F4</p>
        <p>最大化所有窗口　　　Alt+Shift+F4</p>
        <p>使用Dreamweaver[帮助主题] 　　F1</p>
        <p>参考 　　　 Shift+F1</p>
        <p>Dreamweaver支持中心　　 Ctrl+F1</p>
    </div>
</div>
</body>
</html>