<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li class="active"><a href="flash.html" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>箭头工具    V</p>
        <p>部分选取工具    A</p>
        <p>线条工具    N</p>
        <p>套索工具    L</p>
        <p>钢笔工具    P</p>
        <p>文本工具    T</p>
        <p>椭圆工具    O</p>
        <p>矩形工具    R</p>
        <p>铅笔工具    Y</p>
        <p>画笔工具    B</p>
        <p>任意变形工具    Q</p>
        <p>填充变形工具    F</p>
        <p>墨水瓶工具    S</p>
        <p>颜料桶工具    K</p>
        <p>滴管工具    I</p>
        <p>橡皮擦工具    E</p>
        <p>手形工具    H</p>
        <p>缩放工具    Z,M</p>
        <p>新建FLASH文件    Ctrl+N</p>
        <p>打开FLA文件     Ctrl+O</p>
        <p>作为库打开    Ctrl+Shift+O</p>
        <p>关闭    Ctrl+W</p>
        <p>保存    Ctrl+S</p>
        <p>另存为    Ctrl+Shift+S</p>
        <p>新建元件    Ctrl+F8</p>
        <p>元件转换为散件    Ctrl+B</p>
        <p>导入    Ctrl  + R</p>
        <p>导出影片    Ctrl  + Shift  + Alt  + S</p>
        <p>发布设置    Ctrl  + Shift  + F12</p>
        <p>发布预览    Ctrl  + F12</p>
        <p>发布    Shift  + F12</p>
        <p>打印    Ctrl  + P</p>
        <p>退出   FLASH Ctrl  + Q</p>
        <p>撤消命令    Ctrl  + Z</p>
        <p>剪切到剪贴板    Ctrl  + X</p>
        <p>拷贝到剪贴板    Ctrl  + C</p>
        <p>粘贴剪贴板内容    Ctrl  + V</p>
        <p>粘贴到当前位置    Ctrl  + Shift  + V</p>
        <p>清除    退格</p>
        <p>复制所选内容    Ctrl  + D</p>
        <p>全部选取    Ctrl  + A</p>
        <p>取消全选    Ctrl  + Shift  + A</p>
        <p>剪切帧    Ctrl  + Alt  + X</p>
        <p>拷贝帧    Ctrl  + Alt  + C</p>
        <p>粘贴帧    Ctrl  + Alt  + V</p>
        <p>清除贴    Alt  + 退格</p>
        <p>选择所有帧    Ctrl  + Alt  + A</p>
        <p>新建空白帧    F5</p>
        <p>新建关键帧    F6</p>
        <p>删除帧    Shift  + F5</p>
        <p>删除关键帧    Shift  + F6</p>
        <p>转换为关键帧    F6</p>
        <p>转换为空白关键帧    F7</p>
        <p>编辑元件    Ctrl  + E</p>
        <p>首选参数    Ctrl  + U</p>
        <p>转到第一个    HOME</p>
        <p>转到前一个    PGUP</p>
        <p>转到下一个    PGDN</p>
        <p>转到最后一个    END</p>
        <p>放大视图    Ctrl  + +</p>
        <p>缩小视图    Ctrl  + -</p>
        <p>100%显示   Ctrl  + 1</p>
        <p>缩放到帧大小    Ctrl  + 2</p>
        <p>全部显示    Ctrl  + 3</p>
        <p>按轮廓显示    Ctrl  + Shift  + Alt  + O</p>
        <p>高速显示    Ctrl  + Shift  + Alt  + F</p>
        <p>消除锯齿显示    Ctrl  + Shift  + Alt  + A</p>
        <p>消除文字锯齿    Ctrl  + Shift  + Alt  + T</p>
        <p>显示隐藏时间轴    Ctrl  + Alt  + T</p>
        <p>显示隐藏工作区以外部分    Ctrl  + Shift  + W</p>
        <p>显示隐藏标尺    Ctrl  + Shift  + Alt  + R</p>
    </div>
</div>
</body>
</html>