<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li  class="active"><a href="id.html" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>选择工具    V</p>
        <p>直接选择工具    A</p>
        <p>位置工具    Shift+A</p>
        <p>钢笔工具   P</p>
        <p>添加锚点工具    =</p>
        <p>删除锚点工具    —</p>
        <p>转换方向点工具    Shift+C</p>
        <p>文字工具    T</p>
        <p>路径文字工具    Shift+T</p>
        <p>铅笔工具    N</p>
        <p>直线工具    \</p>
        <p>矩形框架工具    F</p>
        <p>矩形工具    M</p>
        <p>椭圆工具    L</p>
        <p>剪刀工具    C</p>
        <p>旋转工具    R</p>
        <p>缩放工具    S</p>
        <p>切变工具    O</p>
        <p>渐变色板工具    G</p>
        <p>渐变羽化工具    Shift+G</p>
        <p>自由变换工具    E</p>
        <p>抓手工具    H</p>
        <p>缩放工具    Z</p>
        <p>恢复默认填色和描边按钮颜色    D</p>
        <p>切换填色和描边按钮颜色    X</p>
        <p>切换屏幕的显示模式    W</p>
        <p>显示/隐藏各调板的快捷键：  15</p>
        <p>“页面”调板    F12</p>
        <p>“图层”调板    F7</p>
        <p>“色板”调板    F5</p>
        <p>“描边”调板    F10</p>
        <p>“效果”调板    Shift+Ctrl+F10</p>
        <p>“颜色”调板    F6</p>
        <p>“对象样式”调板    Ctrl+F7</p>
        <p>“链接”调板    Shift+Ctrl+D</p>
        <p>“对齐”调板    Shift+F7</p>
        <p>“段落”调板    Alt+Ctrl+T</p>
        <p>“字符”调板    Ctrl+T</p>
        <p>“表”调板    Shift+F9</p>
        <p>“段落样式”调板    F11</p>
        <p>“字符样式”调板    Shift+F11</p>
        <p>控制面板    Alt+Ctrl+6</p>
        <p>页面放大、缩小、翻页等快捷键：  16</p>
        <p>放大    Ctrl+=</p>
        <p>缩小    Ctrl+-</p>
        <p>100%显示    Ctrl+1</p>
        <p>使页面适合窗口    Ctrl+0</p>
        <p>完整粘贴板    Alt+Shift+Ctrl+0</p>
        <p>使跨页适合窗口    Alt+Ctrl+0</p>
        <p>200%显示    Ctrl+2</p>
        <p>400%显示    Ctrl+4</p>
        <p>翻页操作    Page UP Page Down</p>
        <p>标尺    Ctrl+R</p>
        <p>标尺参考线分栏线    Ctrl+;</p>
        <p>锁定标尺参考线    Ctrl+Alt+;</p>
        <p>框架边缘    Ctrl+H</p>
        <p>文本串接    Ctrl+Alt+Y</p>
        <p>“转到页面”   Ctrl+J</p>
        <p>文档网格    Ctrl+'</p>
        <p>翻页、添加页面等的快捷键：   8</p>
        <p>跳至文档首页    Shift+Ctrl+Page UP</p>
        <p>跳至文档末页    Shift+Ctrl+Page Down</p>
        <p>至上一跨页    Alt+Page UP</p>
        <p>至下一跨页    Alt+Page Down</p>
        <p>转至上一页    Shift+Page UP</p>
        <p>转至下一页    Shift+Page Down</p>
        <p>添加页面    Shift+Ctrl+P</p>
        <p>进行页面设置    Alt+Ctrl+P</p>
        <p>新建、保存、关闭文件等文件相关操作的快捷键：   9</p>
        <p>新建文件    Ctrl+N</p>
        <p>打开文件    Ctrl+O</p>
        <p>关闭文件    Ctrl+W</p>
        <p>保存文件    Ctrl+S</p>
        <p>置入文件    Ctrl+D</p>
        <p>打印文件    Ctrl+P</p>
        <p>退出程序    Ctrl+Q</p>
        <p>存储全部    Shift+Ctrl+Alt+S</p>
        <p>关闭全部   Shift+Ctrl+Alt+w</p>
        <p>文本格式设置相关快捷键：   15</p>
        <p>放大字号    Ctrl+Shift+></p>
        <p>缩小字号    Ctrl+Shift+<</p>
        <p>减小行距    Alt+↑</p>
        <p>加大行距    Alt+↓</p>
        <p>减少字距    Alt+Ctrl+←</p>
        <p>加大字距    Alt+Ctrl+→</p>
        <p>为字符设置删除线    Shift+Ctrl+/</p>
        <p>将字符设置为上标    Shift+Ctrl+=</p>
        <p>将字符设置为下标    Shift+Ctrl+Alt+=</p>
        <p>为字符设置下划线    Shift+Ctrl+U</p>
        <p>打开“定位符”对话框    Shift+Ctrl+T</p>
        <p>将文本左对齐    Shift+Ctrl+L</p>
        <p>以将文本居中对齐    Shift+Ctrl+C</p>
        <p>以将文本强制双齐    Shift+Ctrl+F</p>
        <p>将文本创建为轮廓    Shift+Ctrl+O</p>
        <p>“表选项”   Shift+Ctrl+Alt+B</p>
        <p>“单元格选项”   Ctrl+Alt+B</p>
        <p>“插入表”   Shift+Ctrl+Alt+T</p>
        <p>删除列    Shift+Backspace</p>
        <p>删除行    Ctrl+BackSpace</p>
        <p>选择整个表    Ctrl+Alt+A</p>
        <p>选择单元格    Ctrl+/</p>
        <p>选择列    Ctrl+Alt+3</p>
        <p>选择行    Ctrl+3</p>
        <p>群组、叠放等相关操作的快捷键：   12</p>
        <p>群组对象    Ctrl+G</p>
        <p>取消对象群组    Shift+Ctrl+G</p>
        <p>锁定对象    Ctrl+L</p>
        <p>取消锁定对象    Alt+Ctrl+L</p>
        <p>对象后移一层    Ctrl+[</p>
        <p>对象前移一层    Ctrl+]</p>
        <p>对象置为底层    Shift+Ctrl+[</p>
        <p>对象置为顶层    Shift+Ctrl+]</p>
        <p>“移动”   Shift+Ctrl+M</p>
        <p>创建复合路径    Ctrl+8</p>
        <p>再次变化对象    Ctrl+Alt+3</p>
        <p>再次变换序列    Ctrl+Alt+4</p>
        <p>复制    Ctrl+C</p>
        <p>粘贴    Ctrl+V</p>
        <p>剪切    Ctrl+X</p>
        <p>全选    Ctrl+A</p>
        <p>粘贴时不包含格式    Shift+Ctrl+V</p>
        <p>直接复制    Shift+Ctrl+Alt+D</p>
        <p>还原    Ctrl+Z</p>
        <p>重做    Shift+Ctrl+Z</p>
        <p>“查找/更改”   Ctrl+F</p>
        <p>“多重复制”    Ctrl+Alt+U</p>
        <p>将对象贴入图形或框架内部    Ctrl+Alt+V</p>
        <p>“拼写检查”   Ctrl+I</p>
        <p>文章编辑器    Ctrl+Y</p>
    </div>
</div>
</body>
</html>