<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="id.html" class="nav-item">ID</a></li>
        <li class="active"><a href="keyshot.html" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>选择材质    shift+左键</p>
        <p>赋材质    shift+右键</p>
        <p>镜头缩放    alt+中键</p>
        <p>旋转模型    左键</p>
        <p>移动模型    中键</p>
        <p>加载模型    CTRL + I</p>
        <p>打开    CTRL + E</p>
        <p>打开背景图片    CTRL + B</p>
        <p>打开材质库      M</p>
        <p>保存视角       P</p>
        <p>打开热键显示    K</p>
        <p>时实显示控制     shift + P</p>
        <p>显示头信息      H</p>
        <p>满屏模式       F</p>
        <p>环境贴图旋转      CTRL + 鼠标左键</p>
        <p>环境贴图重置      CTRL + R</p>
        <p>显示所有模型      CTRL + U</p>
        <p>视角伸缩    &nb</p>
        <p>模型水平旋转    shift+alt+中键</p>
        <p>模型自由式旋转     shift+alt+ctrl+中键</p>
        <p>模型比例缩放    shift+alt+右键</p>
        <p>模型水平移动     shift+alt+左键</p>
        <p>模型垂直移动     shift+alt+ctrl+左键</p>
    </div>
</div>
</body>
</html>