<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li class="active"><a href="maya.html" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>完成当前操作   Enter</p>
        <p>终止当前操作   　~</p>
        <p>插入工具编辑模式   Insert</p>
        <p>移动工具    W</p>
        <p>旋转工具    E</p>
        <p>缩放工具　  R</p>
        <p>非固定排布工具   Y</p>
        <p>显示操作杆工具   T</p>
        <p>选择工具，(切换到)成分图标菜单   Shift + Q</p>
        <p>选择工具，(切换到)多边形选择图标菜单   Alt + Q</p>
        <p>选择工具，(切换到)成分图标菜单   Q</p>
        <p>增大操纵杆显示尺寸    =</p>
        <p>减少操纵杆显示尺寸    -</p>
        <p>设置关键帧    S</p>
        <p>插入关键帧模式(动画曲线编辑)    I</p>
        <p>存储旋转通道的关键帧    Shift + E</p>
        <p>存储转换通道的关键帧    Shift + W</p>
        <p>存储缩放通道的关键帧    Shift + R</p>
        <p>建立新的场景    Ctrl + N</p>
        <p>打开场景    Ctrl + O</p>
        <p>存储场景    Ctrl + S</p>
        <p>桌面文件管理(IPX版)    1</p>
        <p>向上移动一个象素    Alt + ↑</p>
        <p>向下移动一个象素    Alt + ↓</p>
        <p>向左移动一个象素    Alt + ←</p>
        <p>向右移动一个象素    Alt + →</p>
        <p>弹出属性编辑窗/显示通道栏    Ctrl + A</p>
        <p>满屏显示所有物体(在激活的视图)    A</p>
        <p>满屏显示被选目标    F</p>
        <p>在所有视图中满屏显示被选目标    Shift + F</p>
        <p>在所有视图中满屏显示所有对象    Shift + A</p>
        <p>设置键盘的中心集中于命令行   ‘</p>
        <p>设置键盘中心于数字输入行    Alt + ‘</p>
        <p>快速切换单一视图和多视图模式    空格键</p>
        <p>在时间轴上前进一帧    Alt + 。</p>
        <p>在时间轴上后退一帧   Alt + ，</p>
        <p>前进到下一关键帧   .</p>
        <p>后退到上一关键帧   ,</p>
        <p>播放按钮(打开/关闭)    Alt + V</p>
        <p>回到最小帧    Alt + Shift + V</p>
        <p>激活模拟时间滑块   K</p>
        <p>切换物体/成分编辑模式   F8</p>
        <p>选择多边形顶点   F9</p>
        <p>选择多边形的边    F10</p>
        <p>选择多边形的面    F11</p>
        <p>选择多边形的UVs    F12</p>
        <p>选择下一个中间物体    Ctrl + I</p>
        <p>选择多边形的顶点和面    Ctrl + F9</p>
        <p>弹出快捷菜单   空格键</p>
        <p>快捷菜单显示类型    Alt + M</p>
        <p>低质量显示   1</p>
        <p>中等质量显示   2</p>
        <p>高质量显示    3</p>
        <p>线框显示模式   4</p>
        <p>实体显示模式   5</p>
        <p>实体和材质显示模式    6</p>
        <p>灯光显示模式    7</p>
        <p>设置显示质量    D</p>
        <p>重做视图的改变    ]</p>
        <p>撤消视图的改变    [</p>
        <p>旋转手柄附着状态    Alt + S</p>
        <p>进到当前层级的上一层级   ↑</p>
        <p>退到当前层级的下一层级   ↓</p>
        <p>进到当前层级的左侧层级   ←</p>
        <p>进到当前层级的右侧层级   →</p>
        <p>显示/关闭主菜单   Ctrl + M</p>
        <p>显示动画菜单   F2</p>
        <p>显示建模菜单   F3</p>
        <p>显示动力学菜单   F4</p>
        <p>显示渲染菜单   F5</p>
        <p>转换菜单栏(标记菜单)    H</p>
        <p>显示激活的线框   Alt + A</p>
        <p>色彩反馈   Alt + C</p>
        <p>切换雕刻笔作用方式   u</p>
        <p>修改雕刻笔参考值   o</p>
        <p>修改笔触影响力范围    b</p>
        <p>隐藏所选对象    Ctrl + H</p>
        <p>显示上一次隐藏的对象    Ctrl + Shift + H</p>
        <p>调整最大偏移量    M</p>
        <p>修改值的大小   N</p>
        <p>吸附到曲线 　 C</p>
        <p>拾取色彩模式   /</p>
        <p>吸附到网格   X</p>
        <p>吸附到点    V</p>
        <p>旋转视图   Alt + 鼠标左键</p>
        <p>移动视图   Alt + 鼠标中键</p>
        <p>缩放视图   Alt + 鼠标右键</p>
        <p>框选放大对象   Alt + Ctrl + 鼠标右键</p>
        <p>框选缩小对象   Alt + Ctrl + 鼠标中键</p>
        <p>取消操作   z</p>
        <p>重做   Shift + Z</p>
        <p>重复上一次的操作   G</p>
        <p>重复鼠标位置的命令   Shift + G</p>
        <p>复制   Ctrl + D</p>
        <p>复制被选对象的转换   Shift + D</p>
        <p>群组   Ctrl + G</p>
        <p>制定父子关系  p</p>
        <p>取消被选物体的父子关系   Shift + P</p>
    </div>
</div>
</body>
</html>