<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li class="active"><a href="pr.html" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>全选     ctrl+a</p>
        <p>拷贝     ctrl+c</p>
        <p>粘贴     ctrl+v</p>
        <p>将拷贝的剪辑适合粘贴到其它剪辑中    ctrl+shift+v</p>
        <p>将拷贝的剪辑中的某一属性粘贴到其它剪辑中    ctrl+alt+v</p>
        <p>时间单位缩放    + -</p>
        <p>全部素材显示    \</p>
        <p>移动剪辑工具    V</p>
        <p>剪切 、多层剪切     c</p>
        <p>剪切掉出入点工具     n</p>
        <p>时间单位放大镜工具    alt</p>
        <p>缩小    z</p>
        <p>平移观看时间线     h</p>
        <p>播放或停止     空格键</p>
        <p>倒放     j</p>
        <p>持续时间     ctrl+r</p>
        <p>速度     ctrl+shift+r</p>
        <p>鼠标可实时找到某一剪辑     按住shift在导航器中移动</p>
        <p>选择并移动、虚拟剪接、单层全部位移、多层位移     m</p>
        <p>到全部剪接的开头与结尾      home end</p>
        <p>时间线到每一个剪接的开头与结尾     page up page down或是ctrl+shift+左右键</p>
        <p>修整模式可在监视器中实时修整剪辑的出入点并带涟漪模式     ctrl+t</p>
        <p>向前向后一帧     左右键</p>
        <p>向前向后五帧     shift+左右键</p>
        <p>多重选择     ctrl+点击片断</p>
        <p>带标示百分量的视、音频减弱工具     按住ctrl+shift+alt</p>
        <p>视、音频锁定变为暂时解锁     按住ctrl+alt移动</p>
        <p>解锁的视、音频剪辑后出现链式图标，点击鼠标重新编组锁定视、音频    shift+alt</p>
        <p>以五帧的变量改变剪辑的出入点但剪辑长度不变     ctrl+shift+alt+左右键</p>
        <p>涟漪模式删除剪辑     alt+退格键</p>
        <p>在剪辑层前后出现代箭头的E在监视器中出现涟漪模式的外划帧     alt</p>
        <p>隐藏 转场之类的    tab</p>
        <p>打开剪辑     t</p>
        <p>设出入点     i o</p>
        <p>到出入点     q w</p>
        <p>清除出入点     d f g</p>
        <p>选中剪辑     ctrl+alt+(0-9)</p>
        <p>寻找标记点     ctrl+左右键或ctrl+(0-9)</p>
        <p>清除选中剪辑全部标记点     ctrl+shift+alt+c</p>
        <p>在ab轨中将时间线拖到两层之间    ctrl+d键出现默认转场（淡出淡入）</p>
        <p>监视器     ctrl+tab</p>
        <p>将剪辑以涟漪模式插入timeline轨道    ，</p>
        <p>将剪辑覆盖插入timeline轨道</p>
        <p>字幕快捷键    f9</p>
        <p>全选     ctrl+a</p>
        <p>在插入光标前后一个一个字选择     shift+左右键</p>
        <p>向上下一行一行选择     shift+上下键</p>
        <p>行距一个单位调整     alt+上下键</p>
        <p>字距五个单位调整     shift+alt+左右键</p>
        <p>字距一个单位调整     alt+左右键</p>
        <p>字距五个单位调整     shift+alt+上下键</p>
        <p>字体以小单位数量缩放     ctrl+alt+左右键</p>
        <p>字体以大单位数量缩放     ctrl+shift+alt+左右键</p>
        <p>白背景    w</p>
        <p>黑背景    b</p>
        <p>导入    f3</p>
        <p>采集 与 批量采集     f5 f6</p>
        <p>输出影片     f8</p>
    </div>
</div>
</body>
</html>