<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li class="active"><a href="proe.html" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>重命名   br</p>
        <p>切减总目录   cc</p>
        <p>偏移基准面   do</p>
        <p>实体总目录   fc</p>
        <p>测量分析    ii</p>
        <p>加胶总目录   pa</p>
        <p>中曲线拔模   tc</p>
        <p>曲面圆角   ui</p>
        <p>删除进程数据    be</p>
        <p>切减拉伸    ce</p>
        <p>基准轴总目录    dx</p>
        <p>阵列       fp</p>
        <p>特征分析      im</p>
        <p>偏移       tf</p>
        <p>高级曲面     ua</p>
        <p>退出       qu</p>
        <p>切减旋转       cr</p>
        <p>两面建轴       dt</p>
        <p>删除        dz</p>
        <p>倒圆角目录     ro</p>
        <p>曲面片        tp</p>
        <p>边界曲面       uj</p>
        <p>视图       vv</p>
        <p>切减扫描       cs</p>
        <p>曲线总目录      de</p>
        <p>删除阵列        fd</p>
        <p>图层总目录      ll</p>
        <p>高级倒圆角      ra</p>
        <p>曲面合并       um</p>
        <p>切减面组       cu</p>
        <p>草绘曲线       dk</p>
        <p>恢复           fr</p>
        <p>模型关系       rl</p>
        <p>曲面总目录     uu</p>
        <p>曲面修剪       ut</p>
        <p>环境总目录     en</p>
        <p>切减高级总目录    ca</p>
        <p>投影曲线       dn</p>
        <p>重定义        fv</p>
        <p>实体总目录      po</p>
        <p>拉伸曲面       ue</p>
        <p>曲面延拓      ux</p>
        <p>隐藏面        ed</p>
        <p>倒角       cg</p>
        <p>基准点总目录       dg</p>
        <p>插入模式      fn</p>
        <p>拉伸加胶      pe</p>
        <p>抽壳         sh</p>
        <p>旋转曲面      ur</p>
        <p>曲面拔模      uk</p>
        <p>隐藏点    ep</p>
        <p>复制总目录     co</p>
        <p>曲线+面    dh</p>
        <p>镜像几何     fm</p>
        <p>旋转加胶     pr</p>
        <p>扭曲总目录   tw</p>
        <p>扫描曲面     us</p>
        <p>截面总目录   xz</p>
        <p>隐藏轴      ea</p>
        <p>坐标系总目录      dy</p>
        <p>扫描加胶       pw</p>
        <p>中平面拔模     td</p>
        <p>曲面偏移       uo</p>
        <p>设置总目录     zz</p>
        <p>隐藏坐标系     ec-</p>
        <p>基准面总目录     da</p>
        <p>孔总目录        hh -</p>
        <p>面组加胶        pu -</p>
        <p>替换          tr -</p>
        <p>曲面复制        uc -</p>
        <p>设置名称        zn -</p>
    </div>
</div>
</body>
</html>