<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="__CSS__/hotkeys.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li class="active"><a href="rhino.html" class="nav-item">rhino</a></li>
        <li><a href="{$url}" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>设定为线框模式   Ctrl+Alt+W</p>
        <p>设定为着色模式   Ctrl+Alt+S</p>
        <p>设定为渲染模式   Ctrl+Alt+R</p>
        <p>设定为半透明模示   Ctrl+Alt+G</p>
        <p>设定为Ｘ光框模式   Ctrl+Alt+X</p>
        <p>最大化Top视图   Ctrl+F1</p>
        <p>最大化Front视图   Ctrl+F2</p>
        <p>最大化Right视图   Ctrl+F3</p>
        <p>最大化Perspective视图   Ctrl+F4</p>
        <p>最大化当前视图   Ctrl+M</p>
        <p>切换视图   Ctrl+Tab</p>
        <p>框选缩放   Ctrl+W</p>
        <p>缩放至最大范围(当前视图)   Ctrl+Shift+E</p>
        <p>缩放至最大范围(全部视图)   Ctrl+Alt+E</p>
        <p>复原视图改变   Home</p>
        <p>重做视图改变   End</p>
        <p>开启控制点   F10</p>
        <p>关闭控制点   F11</p>
        <p>选择全部物体  Ctrl+A</p>
        <p>复制   Ctrl+C</p>
        <p>剪切   Ctrl+X</p>
        <p>粘贴   Ctrl+V</p>
        <p>结合   Ctrl+J</p>
        <p>修剪   Ctrl+T</p>
        <p>分割   Ctrl+Shift+S</p>
        <p>复原   Ctrl+Z</p>
        <p>重做   Ctrl+Y</p>
        <p>群组   Ctrl+G</p>
        <p>解散群组   Ctrl+Shift+G</p>
        <p>定义图块   Ctrl+B</p>
        <p>插入图块   Ctrl+I</p>
        <p>隐藏   Ctrl+H</p>
        <p>显示   Ctrl+Alt+H</p>
        <p>显示选取的物体   Ctrl+Shift+H</p>
        <p>锁定   Ctrl+L</p>
        <p>解除锁定   Ctrl+Alt+L</p>
        <p>解除锁定选取的物体   Ctrl+Shift+L</p>
        <p>新建   Ctrl+N</p>
        <p>打开   Ctrl+O</p>
        <p>插入   Ctrl+I</p>
        <p>保存   Ctrl+S</p>
        <p>打印   Ctrl+P</p>
        <p>帮助   F1</p>
        <p>指令历史   F2</p>
        <p>物体属性   F3</p>
        <p>显示/隐藏摄像机   F6</p>
        <p>显示/隐藏网格   F7</p>
        <p>开启/关闭正交模式   F8</p>
        <p>开启/关闭锁定格点   F9</p>
        <p>以三维数字化仪取点   F12</p>
        <p>取消选择，或中止操作   Esc</p>
        <p>代替回车，或重复上次操作   Space</p>
    </div>
</div>
</body>
</html>