<!DOCTYPE html>
<html  lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Resource-type" content="Document" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<title>嘿设汇-一大波设计尸即将来临</title>
<link rel="stylesheet" href="css/style.css?v=1.0.0">

</head>

<body>
<div class="header-top">
    <ul class="list-nav">
        <li><a href="{$url}" class="nav-item">3Dmax</a></li>
        <li><a href="{$url}" class="nav-item">AE</a></li>
        <li><a href="{$url}" class="nav-item">AI</a></li>
        <li><a href="{$url}" class="nav-item">CAD</a></li>
        <li><a href="{$url}" class="nav-item">CDR</a></li>
        <li><a href="{$url}" class="nav-item">DW</a></li>
        <li><a href="{$url}" class="nav-item">Flash</a></li>
        <li><a href="{$url}" class="nav-item">ID</a></li>
        <li><a href="{$url}" class="nav-item">keyshot</a></li>
        <li><a href="{$url}" class="nav-item">maya</a></li>
        <li><a href="{$url}" class="nav-item">PR</a></li>
        <li><a href="{$url}" class="nav-item">proE</a></li>
        <li><a href="{$url}" class="nav-item">PS</a></li>
        <li><a href="{$url}" class="nav-item">rhino</a></li>
        <li class="active"><a href="su.html" class="nav-item">SU</a></li>
    </ul>
</div>

<div class="container">
    <div class="box-body">
        <p>相机焦距   Alt+V</p>
        <p>环视工具   Alt+L</p>
        <p>视图旋转工具    鼠标中键</p>
        <p>视图平移工具    鼠标中键</p>
        <p>平移视图     Shift+Middle Botton</p>
        <p>透视/轴测切换     V</p>
        <p>相机位置工具     Alt+C</p>
        <p>当前视图和上一个视图切换    F9键</p>
        <p>后视图   F6键</p>
        <p>底视图   F7键</p>
        <p>前视图   F3键</p>
        <p>透视或轴测视点   F8键</p>
        <p>左视图   F4键</p>
        <p>右视图   F5键</p>
        <p>顶视图   F2键</p>
        <p>漫游工具    W</p>
        <p>缩放工具    Alt+Z</p>
        <p>全屏显示工具    Shift+ Z</p>
        <p>窗口放大工具    Z</p>
        <p>圆弧工具    A</p>
        <p>画圆工具    C</p>
        <p>不规则线段工具     Alt+F</p>
        <p>线段工具    L</p>
        <p>多边形工具     Alt+B</p>
        <p>矩形工具    B</p>
        <p>多边形    Alt+B</p>
        <p>关闭组/组件   Esc键</p>
        <p>删除辅助线    Ctrl+Q</p>
        <p>隐藏辅助线    Alt+Q</p>
        <p>显示所有辅助线    Shift+Q</p>
        <p>复制   Ctrl+C</p>
        <p>剪切   Ctrl+X</p>
        <p>清除选区    Ctrl+T</p>
        <p>删除选择的物体    Delete键</p>
        <p>翻转表面     Shift+F</p>
        <p>炸开组     Shift+G</p>
        <p>炸开组件    Shift+G</p>
        <p>隐藏选择的物体    H</p>
        <p>布尔运算模型交线    Alt+I</p>
        <p>锁定群组与组件    K</p>
        <p>定义为组件   O</p>
        <p>定义为组   G</p>
        <p>粘贴   Ctrl+V</p>
        <p>恢复后悔    Ctrl+Y</p>
        <p>全选   Ctrl+A</p>
        <p>后悔   Ctrl+Z</p>
        <p>显示所有物体    Shift+A</p>
        <p>显示最后隐藏的物体    Shift+H</p>
        <p>显示隐藏物体中选择的物体   Ctrl+H</p>
        <p>将全部群组与组件解锁   Alt+K</p>
        <p>将选择的群组与组件解锁    Shift+K</p>
        <p>导出二维图形图像   Ctrl+2</p>
        <p>导出三维模型   Ctrl+3</p>
        <p>导出动画    Ctrl+4</p>
        <p>导出剖面    Ctrl+1</p>
        <p>新建文件    Ctrl+N</p>
        <p>打开文件    Ctrl+O</p>
        <p>打印    Ctrl+P Ctrl+R</p>
        <p>保存    Ctrl+S</p>
        <p>返回上次保存状态    ＝键</p>
        <p>命名保存    Ctrl+Shift+S</p>
        <p>坐标系工具    Y</p>
        <p>标注尺寸工具     Alt+T</p>
        <p>橡皮擦工具    E</p>
        <p>路径跟随工具     D</p>
        <p>移动工具    M</p>
        <p>平行偏移复制工具    F</p>
        <p>油漆桶工具    X</p>
        <p>量角器工具    Alt+P</p>
        <p>推拉工具    U</p>
        <p>旋转工具    R</p>
        <p>边线变向工具    Ctrl+F</p>
        <p>地形拉伸工具    Alt+M</p>
        <p>缩放工具    S</p>
        <p>剖面工具    P</p>
        <p>选择工具    Space空格键</p>
        <p>测量工具    Q</p>
        <p>文字标注工具    T</p>
        <p>坐标系显示切换    Alt+Y</p>
        <p>以隐掉组件外其它模型方式单独编辑组件   I</p>
        <p>以隐掉关联组件方式单独编辑组件    J</p>
        <p>隐藏的物体以网格方式显示    Alt+H</p>
        <p>页面图标显示切换    Home键</p>
        <p>深度线显示   Shift+3</p>
        <p>边线显示与隐藏    Shift+1</p>
        <p>结束点显示    Shift+5</p>
        <p>边线出头显示    Shift+4</p>
        <p>显示地面的切换命令    Alt+G</p>
        <p>消隐线框显示模式   Alt+2</p>
        <p>边线抖动显示    Shift+6</p>
        <p>单色显示模式    Alt+5</p>
        <p>边线加粗显示    Shift+2</p>
        <p>着色显示模式    Alt+3</p>
        <p>贴图显示模式    Alt+4</p>
        <p>显示天空的切换   Shift+Alt+S</p>
        <p>阴影状态渲染表面的切换    Ctrl+Alt+S</p>
        <p>透明材质透明显示的切换    Ctrl+Alt+X</p>
        <p>线框显示    Alt+1</p>
        <p>还原坐标系    Shift+Y</p>
        <p>剖切显示切换    ;</p>
        <p>剖切图标显示切换   ‘</p>
        <p>阴影显示切换   Alt+S</p>
        <p>添加页面    Alt+A</p>
        <p>删除页面    Alt+D</p>
        <p>下一个页面    PageDown键</p>
        <p>播放动画    Alt+Space（空格键）</p>
        <p>上一个页面    PageUp键</p>
        <p>动画设置    Shift+T</p>
        <p>更新页面    Alt+U</p>
        <p>所有模型半透明显示    Alt+`</p>
        <p>组件浏览器   Alt+O</p>
        <p>显示模式及边线显示方式设置   Shift+`</p>
        <p>实体参数信息   F11键</p>
        <p>隐藏对话框   `</p>
        <p>图层浏览器    Shift+E</p>
        <p>材质浏览器    Alt+ X</p>
        <p>材质编辑器    Shift+X</p>
        <p>场景信息设置   F10键</p>
        <p>组件管理器    Shift+O</p>
        <p>页面属性     Shift+P</p>
        <p>系统属性设置    F12键</p>
        <p>阴影参数    Shift+S</p>
        <p>柔化表面    Shift+0</p>
    </div>
</div>

</body>
</html>