<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$university_name | default='大学'}报名列表</h2>
        <input type="hidden" name="university_id" id="oid" value="{$university_id | default=0}"/>
    </div>
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <if condition="($university_id gt 0) ">
                    <button id="addphoto" class="btn" url="{:U('photo_add')}">新 增</button>
                </if>
                <button class="btn ajax-post" target-form="ids" url="{:U("overseas/enroll_set_status",array("status"=>1))}">恢复正常</button>
            </div>
        </div>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入手机号或姓名">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('overseas/enroll')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">报名大学</th>
                <th class="">学生名字</th>
                <th class="">学生电话</th>
                <th class="">学生qq</th>
                <th class="">学生学历</th>
                <th class="">留学目的</th>
                <th class="">报名专业</th>
                <th class="">创建时间</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.university}</td>
                        <td>{$vo.student_name}</td>
                        <td>{$vo.student_phone_num}</td>
                        <td>{$vo.student_qq}</td>
                        <td>{$vo.student_education}</td>
                        <td>{$vo.study_abroad_purpose}</td>
                        <td>{$vo.apply_major}</td>
                        </td>
                        <td><span>{$vo.create_time|time_format}</span></td>
                        <td><if condition="($vo.status eq 1) "> 正常
                            <else /> 已处理
                        </if>
                        </td>
                        <td>
                            <a href="{:U('Overseas/enroll_set_status?status=-1&id='.$vo['id'])}" class="ajax-get confirm">设为已处理</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            //搜索功能
            $("#search").click(function(){
                var url = $(this).attr('url');
                var status = $("#sch-sort-txt").attr("data");
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if(status != ''){
                    query += 'status=' + status + "&" + query;
                }
                if( url.indexOf('?')>0 ){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                window.location.href = url;
            });

            $("#addphoto").click(function(){
                var url = $(this).attr('url');

                var query  = '';
                var uid = {$university_id | default=0};
                if(uid > 0){
                    query += 'university_id=' + uid + "&university_name=" + '{$university_name}';
                }
                if( url.indexOf('?')>0 ){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                window.location.href = url;
            });

            $("#editphoto").click(function(){
                var url = $(this).attr('url');

                var query  = '';
                var uid = {$university_id | default=0};
                if(uid > 0){
                    query += 'university_id=' + uid + "&university_name=" + '{$university_name}';
                }
                if( url.indexOf('?')>0 ){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                window.location.href = url;
            });

            /* 状态搜索子菜单 */
            $(".search-form").find(".drop-down").hover(function(){
                $("#sub-sch-menu").removeClass("hidden");
            },function(){
                $("#sub-sch-menu").addClass("hidden");
            });
            $("#sub-sch-menu li").find("a").each(function(){
                $(this).click(function(){
                    var text = $(this).text();
                    $("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
                    $("#sub-sch-menu").addClass("hidden");
                })
            });

            //只有一个模型时，点击新增
            $('.document_add').click(function(){
                var url = $(this).attr('url');
                if(url != undefined && url != ''){
                    window.location.href = url;
                }
            });

        })
        //导航高亮
        highlight_subnav("{:U('Overseas/major')}");
    </script>
</block>