<!DOCTYPE html>
<html  style="overflow-x: hidden;">
<head>
    <php>
        $oneplus_seo_meta = get_seo_meta($vars,$seo);
    </php>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <!--<link type="text/css" href="__CSS__/v2content/topcontentv2.9.css" rel="stylesheet">-->
    <link type="text/css" href="__CSS__/v2content/topcontentv2.9.min.css" rel="stylesheet">
    <title>{:C('WEB_SITE_TITLE')}</title>
</head>
<body data-id="{$articleId}" data-loaded="false">
    <div class="headlines-box wrapper">
        <div class="headlines-head">
            <div class="info-title">
                <h2>{$top_content_info.title}</h2>
            </div>
            <div class="info-time">
                <img src="{$logo_pic}">
                <span>{$source_name}</span>
                <span>{$top_content_info.create_time|date='m-d H:i',###}</span>
            </div>
            <div style="height:2px;width: 100%; border-top: 1px #e8e9ea solid;border-radius:0px;margin-left:-8px;padding-right: 16px">
            </div>
        </div>
        <div class="headlines-body">
            <p>{$top_content_info.content}</p>
        </div>
        <div style="height: 20px;background-color: #E3E3E3;"></div>

        <!--评论内容-->
        <div class="comment-list-box">
            <div class="list-header">
                <span>评论(</span>
                <span id="comment-counts">0</span>
                <span>)</span>
            </div>
            <ul class="list-main" id="comment-list-ul" data-index="1" data-page-count="0"></ul>
            <div class="loading-more-tips">
                <div class="loadingMoreResultTipsMain">
                    <i class="loading-img"></i>
                    <span>正在加载…</span>
                </div>
                <a class="loadError loadCommentAgain" href="javascript:void(0)">加载失败，点击重新加载</a>
            </div>
            <div class="no-comment-info">
                暂无评论
            </div>
        </div>
    </div>
    <!--下载条-->
    <div id="downloadCon">
        <img src="__IMG__/v2content/d.png" class="allDownImg" />
        <a href="http://www.hisihi.com/download.php" class="btnElement sshow">立即下载</a>
    </div>
</body>
<script>
    window.hisihiUrlObj={
        link_url:'http://{$Think.server.HTTP_HOST}/api.php?s=/',
        api_url:'__API_URL__',
        img_url:'__IMG__',
        js: "__JS__"+'/topcontent',
    };

    window.onload=function() {
        document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
    };
</script>
<!--<script type="text/javascript" data-main="__JS__/topcontent/v2.9/config"  src="__JS__/sharecommon/require.js" ></script>-->
<script type="text/javascript" data-main="__JS__/topcontent/v2.9/topcontent-2.9.3.js" src="__JS__/sharecommon/require.js"></script>
</html>