<!DOCTYPE html>
<html  style="overflow-x: hidden;">
<head>
	<php>
		$oneplus_seo_meta = get_seo_meta($vars,$seo);
	</php>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Resource-type" content="Document" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<link type="text/css" href="__CSS__/v2content/topcontentv2.7.css" rel="stylesheet"/>
	<title>{:C('WEB_SITE_TITLE')}</title>
</head>
<body data-id="{$articleId}" data-loaded="false">
<div class="result-tips"><p></p></div>
<div class="headlines-box">
	<div class="headlines-body">
		<p>{$top_content_info.content}</p>
	</div>
	<div class="bottom-voteCon" data-id="{$articleId}">
		<div id="voteResult"></div>
		<div class="vote-item leftItem">
			<div class="icon-container">
				<span class="icon-thumb_up icon-thumb icon-font-a"></span>
				<span class="num">123</span>
			</div>
		</div>
		<div class="vote-item rightItem">
			<div class="icon-container">
				<span class="icon-thumb_down icon-thumb icon-font-a"></span>
				<span class="num">12313</span>
			</div>
		</div>
	</div>
	<div style="height: 20px;background-color: #E3E3E3;"></div>

	<!--评论内容-->
	<div class="comment-list-box">
		<div class="list-header">
			<span>评论(</span>
			<span id="comment-counts">0</span>
			<span>)</span>
		</div>
		<ul class="list-main" id="comment-list-ul" data-index="1" data-page-count="0"></ul>
		<div class="loading-more-tips">
			<div class="loadingMoreResultTipsMain">
				<i class="loading-img"></i>
				<span>正在加载…</span>
			</div>
			<a class="loadError loadCommentAgain" href="javascript:void(0)">加载失败，点击重新加载</a>
		</div>
		<div class="no-comment-info">
			评论信息暂无
		</div>
	</div>
</div>

<!--评论框-->
<div class="bottom-comment">
	<div class="comment-left-box">
		<input type="text" placeholder="写评论…" id="comment-input" disabled>
	</div>
	<div class="comment-right-box">
		<div class="comment-right-item comment-bubble btn">
			<div class="comment-red-bubble">0</div>
			<span class="icon-star_replay icon-font"></span>
		</div>
		<div class="comment-right-item comment-collect">
			<span class="icon-star_border icon-font"></span>
		</div>
		<div class="comment-right-item comment-share btn">
			<span class="icon-open icon-font"></span>
		</div>
	</div>
</div>

<!--模态窗口-->
<div class="model-box">
	<div class="model-box-item comment-box">
		<div class="write-comment-box">
			<div class="write-header">
				<div class="header-middle-box">
					<div id="middle-box">写评论</div>
				</div>
				<div class="no-middle btn" id="left-box">取消</div>
				<div class="no-middle" id="right-box">发表</div>
			</div>
			<div class="write-main">
				<textarea id="comment-area"></textarea>
			</div>
		</div>
	</div>
	<div class="model-box-item login-tips-box">
		<div class="login-header">
			请先登录后再发表评论
		</div>
		<div class="login-main">
			<div id="cancle-login">
				<span class="btn">取消</span>
			</div>
			<div class="btn" id="do-login">去登录</div>
		</div>
	</div>
</div>

</body>

<script>
	window.hisihiUrlObj={
		link_url:'http://{$Think.server.HTTP_HOST}/',
		img_url:'__IMG__',
		js: "__JS__"+'/topcontent',
	};
	window.hisihiUrlObj.link_url='http://{$Think.server.HTTP_HOST}/hisihi-cms/';
	window.hisihiUrlObj.server_url=window.hisihiUrlObj.link_url+'api.php?s=/';
	window.onload=function() {
		document.documentElement.style.webkitTouchCallout = 'none'; //禁止长按事件
	};
	var aLink=document.getElementsByTagName("a");
	for(var i=0; i<aLink.length; i++){
		aLink[i].href = "javascript:void(0);";
		aLink[i].setAttribute("disabled", "disabled");
	}
</script>
<script type="text/javascript" data-main="__JS__/topcontent/v2.7/config"  src="__JS__/sharecommon/require.js" ></script>
</html>