<!DOCTYPE html>
<html>
<head>
	<php>
		$oneplus_seo_meta = get_seo_meta($vars,$seo);
	</php>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Resource-type" content="Document" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<title>{:C('WEB_SITE_TITLE')}</title>
	<link type="text/css" href="__CSS__/v2content/v2content.css" rel="stylesheet"/>
</head>
<body>
<div class="headlines-box">
	<div class="headlines-body">
		<p>{$top_content_info.content}</p>
	</div>
	<div class="headlines-more" data-type="新闻" data-loading="false">
		<div class="moreItem" ></div>
		<div class="moreItem"></div>
		<div class="moreItem"></div>
		<div class="moreItem"></div>
		<div class="moreItem"></div>
	</div>
	<div id="loadingTip" class="loadingResultTips">
		<div class="loadingImg active"></div>
	</div>
</div>
<!--<div class="headlines-fix">
	<img src="__IMG__/icon.png" alt="" class="fix-img">
	<a href="#" class="fix-btn">立即下载</a>
	<div class="fix-body">
		<p class="fix-body-title">嘿设汇
                <span class="fix-star">
                    <img src="__IMG__/star.png" alt="">
                    <img src="__IMG__/star.png" alt="">
                    <img src="__IMG__/star.png" alt="">
                    <img src="__IMG__/star.png" alt="">
                    <img src="__IMG__/star.png" alt="">
                </span>
		</p>
		<p class="fix-body-txt">设计师必备 百万设计师都在用</p>
	</div>
</div>-->
<script>
	var aLink=document.getElementsByTagName("a");
	for(var i=0; i<aLink.length; i++){
		aLink[i].href = "javascript:void(0);";
		aLink[i].setAttribute("disabled", "disabled");
	}
	window.hisihiUrlObj={
		server_url:'http://{$Think.server.HTTP_HOST}/hisihi-cms/api.php?s=/forum',
		img_url:'__IMG__'
	};
</script>
<script src="__JS__/v2content/zepto.min.js"></script>
<script src="__JS__/forum/hisihi_news_common.js"></script>
<script src="__JS__/v2content/main.js"></script>
</body>
</html>