<!DOCTYPE html>
<html  style="overflow-x: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link type="text/css" href="__CSS__/university/home.css" rel="stylesheet">
    <title>大学主页</title>
</head>
<body>
<div class="main-item introduce">
    <div class="head-txt border-bottom">
        <div class="center-content">简介</div>
    </div>
    <div class="introduce-txt">
        <div class="center-content">
            <p>斯坦福大学（Stanford University），全名小利兰·斯坦福大学（Leland Stanford Junior University），简称斯坦福（Stanford），位于美国加州旧金山湾区南部的帕拉阿图市（Palo Alto），临近世界著名高科技园区硅谷，是世界著名私立研究型大学[1]  。斯坦福占地8180英亩（约33平方公里），是美国面积第六大的大学[2]  。</p>
        </div>
    </div>
</div>
<div class="main-item nums">
    <ul>
        <li>
            <div class="nums-name">SIA推荐指数</div>
            <div class="nums-val">100%</div>
        </li>
        <li>
            <div class="nums-name">SIA学生录取率</div>
            <div  class="nums-val">100%</div>
        </li>
        <li>
            <div class="nums-name">申请难度</div>
            <div  class="nums-val">难</div>
        </li>
        <li>
            <div class="nums-name">学费</div>
            <div  class="nums-val">￥425000</div>
        </li>
        <div style="clear:both;"></div>
    </ul>
    <ul>
        <li>
            <div class="nums-name">托福、雅思</div>
            <div  class="nums-val">7.0 92</div>
        </li>
        <li>
            <div class="nums-name">本科生比率</div>
            <div v>67%</div>
        </li>
        <li>
            <div class="nums-name">奖学金</div>
            <div  class="nums-val">80000</div>
        </li>
        <li>
            <div class="nums-name">申请截止日期</div>
            <div  class="nums-val">2月20日</div>
        </li>
        <div style="clear:both;"></div>
    </ul>
</div>
<div class="main-item majors">
    <div class="majors-item">
        <div class="head-txt">
            <div class="center-content">本科专业</div>
        </div>
        <ul class="center-content">
            <li>工业设计</li>
            <li>看设计</li>
            <li>吧啦吧啦设计</li>
            <li>工业设计</li>
            <li>可看设计</li>
            <li>吧啦吧啦设计</li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div class="majors-item">
        <div class="head-txt">
            <div class="center-content">硕士专业</div>
        </div>
        <ul class="center-content">
            <li>工业设计</li>
            <li>看设计</li>
            <li>吧啦吧啦设计</li>
            <li>工业设计</li>
            <li>可看设计</li>
            <li>吧啦吧啦设计</li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div class="majors-item">
        <div class="head-txt">
            <div class="center-content">申请要求</div>
        </div>
        <div class="content-txt center-content">
            <p>
                斯坦福大学（Stanford University），全名小利兰·斯坦福大学（Leland Stanford Junior University），简称斯坦福（Stanford），位于美国加州旧金山湾区南部的帕拉阿图市（Palo Alto），临近世界著
            </p>
            <div class="center-content">
            </div>
        </div>
    </div>
    <div class="majors-item">
        <div class="head-txt">
            <div class="center-content">学校环境</div>
        </div>
        <div class="content-txt center-content">
            <p>
                斯坦福大学（Stanford University），全名小利兰·斯坦福大学（Leland Stanford Junior University），简称斯坦福（Stanford），位于美国加州旧金山湾区南部的帕拉阿图市（Palo Alto），临近世界著
            </p>
            <div class="center-content">
            </div>
        </div>
    </div>
</body>