@activeColor:#ff5a00;
.border-bottom(@c:#e6e6e6){
  border-bottom:1px solid @c;
}
body{
  margin: 0;
  background: #F2F2F2;
  max-width: 100%;
  // .abs-all-zero();
  overflow: auto;
}


.font-icon{
  display: inline-block;
}
.center-content {
  width: 90%;
  margin: 0 auto;
}
body{
  .main-item{
    margin:15px auto 0 auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-bottom: 8px;
    .center-content {
      width: 90%;
      margin: 0 auto;
    }
   .head-txt{
      font-size: 18px;
      color:#212121;
      @h:50px;
      .size(100%,@h);
      line-height: @h;
    }
    .border-bottom{
      .border-bottom();
    }

    /*基本信息*/
    &.introduce{
      .center-content{
        height: 100%;
      }
      .introduce-txt{
         margin-top: 15px;
          p{
            line-height: 25px;
            box-sizing: border-box;
            font-size: 14px;
          }
      }
    }

    /*指数*/
    &.nums{
      ul{
        .border-bottom(#CCCCCC);
        padding: 15px 0;
        li{
          float: left;
          .size(24%,auto);
          box-sizing: border-box;
          border-left:1px solid #CCCCCC;
          text-align: center;
          &:first-child{
            border:none;
          }
          &:last-of-type{
            width:28%;
          }
          .nums-name{
            font-size: 12px;
            color: #B9B9B9;
            @h:27px;
            height: @h;
            line-height: @h;
          }
          .nums-val{
            color: #212121;
            font-size: 16px;
            height: 25px;
          }
        }
        &:last-child{
          border:none;
        }
      }
    }

    &.majors{
      .majors-item{
        .border-bottom();
        ul{ 
          
          padding-bottom: 20px;
          margin-top: 5px;
          li{
            display: inline-block;
            background-color: #FF5A00;
            color: white;
            .border-radius(2px);
            height: 32px;
            line-height: 32px;
            margin-bottom: 10px;
            font-size: 14px;
            margin-right: 5px;
            padding:0 15px; 
            letter-spacing: 1px;
          }
        }
      }
    }

    &.environment{
      margin-top: 0;
      .content-txt{
        p{
          color: #808080;
          line-height: 25px;
          margin-top: 0;
          font-size: 14px;
        }
      }
    }

  }
  .nodata{
    position: fixed;
    .size(108px,60px);
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -54px;
    display: none;
    p{
      font-size: 16px;
      color: #757070;
    }
  }
}