* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.result-tips {
  position: fixed;
  width: 200px;
  height: auto;
  min-height: 50px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -100px;
  margin-top: -35px;
  top: 40%;
  left: 50%;
  z-index: 1001;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips p {
  color: white;
  font-size: 15px;
  text-align: center;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 555;
  text-align: center;
  display: none;
}
#loading-data .loding-img {
  width: 40;
  height: 40px;
  display: inline-block;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  background: #F2F2F2;
  max-width: 100%;
  overflow: auto;
}
.font-icon {
  display: inline-block;
}
.center-content {
  width: 90%;
  margin: 0 auto;
}
body .main-item {
  margin: 15px auto 0 auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding-bottom: 8px;
  /*基本信息*/
  /*指数*/
}
body .main-item .center-content {
  width: 90%;
  margin: 0 auto;
}
body .main-item .head-txt {
  font-size: 18px;
  color: #212121;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
body .main-item .border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
body .main-item.introduce .center-content {
  height: 100%;
}
body .main-item.introduce .introduce-txt {
  margin-top: 15px;
}
body .main-item.introduce .introduce-txt p {
  line-height: 25px;
  box-sizing: border-box;
  font-size: 14px;
}
body .main-item.nums ul {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0;
}
body .main-item.nums ul li {
  float: left;
  width: 24%;
  height: auto;
  box-sizing: border-box;
  border-left: 1px solid #CCCCCC;
  text-align: center;
}
body .main-item.nums ul li:first-child {
  border: none;
}
body .main-item.nums ul li:last-of-type {
  width: 28%;
}
body .main-item.nums ul li .nums-name {
  font-size: 12px;
  color: #B9B9B9;
  height: 27px;
  line-height: 27px;
}
body .main-item.nums ul li .nums-val {
  color: #212121;
  font-size: 16px;
  height: 25px;
}
body .main-item.nums ul:last-child {
  border: none;
}
body .main-item.majors .majors-item {
  border-bottom: 1px solid #e6e6e6;
}
body .main-item.majors .majors-item ul {
  padding-bottom: 20px;
  margin-top: 5px;
}
body .main-item.majors .majors-item ul li {
  display: inline-block;
  background-color: #FF5A00;
  color: white;
  border-radius: 2px;
  background-clip: padding-box;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-right: 5px;
  padding: 0 15px;
  letter-spacing: 1px;
}
body .main-item.environment {
  margin-top: 0;
}
body .main-item.environment .content-txt p {
  color: #808080;
  line-height: 25px;
  margin-top: 0;
  font-size: 14px;
}
