<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>抵扣券下线提醒列表</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <button class="btn ajax-post" target-form="ids" url='{:U("rebate/refresh_buy_end_time", array("day"=>3))}'>延期3天</button>
                <button class="btn ajax-post" target-form="ids" url='{:U("rebate/refresh_buy_end_time", array("day"=>7))}'>延期7天</button>
                <button class="btn ajax-post" target-form="ids" url='{:U("rebate/refresh_buy_end_time", array("day"=>30))}'>延期30天</button>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">抵扣券名称</th>
                <th class="">抵扣券金额</th>
                <th class="">抵扣金额</th>
                <th class="">购买截止时间</th>
                <th class="">有效期</th>
                <th class="">状态</th>
                <!--<th class="">操作</th>-->
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.value}</td>
                        <td>{$vo.rebate_value}</td>
                        <td><span>{$vo.buy_end_time|time_format}</span></td>
                        <td><span>{$vo.use_start_time|time_format} - {$vo.use_end_time|time_format}</span></td>
                        <td><if condition="($vo.status eq 1) "> 正常
                            <else /> 已删除
                        </if>
                        </td>
                        <!--<td>
                            <a href="{:U('Rebate/edit?id='.$vo['id'])}">编辑</a>
                            <a href="{:U('Rebate/set_status?id='.$vo['id'])}" class="ajax-get confirm">删除</a>
                        </td>-->
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Rebate/refresh')}");
    </script>
</block>