<extend name="Public/base" />

<block name="body">
    <style type="text/css" rel="stylesheet">
        .main-content-box{
            height: 100%;
            width: 90%;
            position: relative;
        }
        .main-content-left-box{
            width: 270px;
            position: absolute;
            top:0;
            bottom: 0;
            overflow-x:hidden;
            overflow-y:auto;
            opacity: 0;
        }
        .main-content-right-box{
            margin-left: 275px;
            overflow: hidden;
            opacity: 0;
        }

        #entry_content{
            overflow: hidden;
            border:none;
            width: 100%;
            min-height: 500px;
        }
        .modal-box{
            position: fixed;
            display: none;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,.6);
            z-index: 10000;
        }
        .modal-main-box{

            position: absolute;
            top:50%;
            left: 50%;
            width: 164px;
            height: 20px;
            margin-top: -10px;
            margin-left: -82px;;
        }
        .loading-bubble-box span {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-left: 5px;
            border-radius: 100%;
        }
        .loading-bubble-box span:nth-of-type(1) {
            margin-left: 0;
            background-color: #FC4040;
        }
        .loading-bubble-box span:nth-of-type(2) {
            background-color: #30B4E4;
        }
        .loading-bubble-box span:nth-of-type(3) {
            background-color: #98C800;
        }
        .loading-bubble-box span:nth-of-type(4) {
            background-color: #FCB830;
        }
        .loading-bubble-box.active {
            display: inline-block;
        }
        .loading-bubble-box.active span {
            animation: 0.8s loading-bubble linear infinite alternate;
        }
        .loading-bubble-box.active span:nth-of-type(1) {
            animation-delay: -1.2s;
        }
        .loading-bubble-box.active span:nth-of-type(2) {
            animation-delay: -0.8s;
        }
        .loading-bubble-box.active span:nth-of-type(3) {
            animation-delay: -0.4s;
        }
        .loading-bubble-box.active span:nth-of-type(4) {
            animation-delay: 0s;
        }
        .loading-bubble-box label {
            color: #aaaaaa;
            margin-left: 10px;
            vertical-align: 2px;
        }
        @keyframes loading-bubble {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        #save-info{
            margin: 25px;
        }
    </style>
    <h2>词条--{$entry.name}</h2>
    <input type="hidden" name="cid" id="cid" value="{$info.id}"/>
    <input type="hidden" name="entry_id" id="entry_id" value="{$entry.id}"/>
    <div class="main-content-box">
        <div class="main-content-left-box">
            <ul id="tree" class="ztree"></ul>
        </div>
        <div class="main-content-right-box">

            <!--编辑器-->
            <iframe id="entry_content" style="width: 100%;" src=""></iframe>
            <input type="button" class="btn submit-btn ajax-post no-refresh" value="保存" id="save-info">
        </div>
    </div>
    <div class="modal-box">
        <div class="modal-main-box">
            <span class="loading-bubble-box"><span></span><span></span><span></span><span></span><label>数据加载中…</label></span>
        </div>
    </div>
    <link rel="stylesheet" href="__STATIC__/zTree/css/metroStyle/metroStyle.css" type="text/css">
    <script>
        var setting = {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false,
                showIcon: false,
                dblClickExpand: dblClickExpand
            },
            edit: {
                enable: true,
                editNameSelectAll: true,
                showRemoveBtn: showRemoveBtn,
                showRenameBtn: showRenameBtn
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeDrag: beforeDrag,
                beforeEditName: beforeEditName,
                beforeRemove: beforeRemove,
                beforeRename: beforeRename,
                onRemove: onRemove,
                onRename: onRename,
                onClick: onClick
            }
        };

        var zNodes =[
            { id:1, pId:0, name:"新增目录", open:true},{$catalogue_str}
        ];
        var log, className = "dark";

        function dblClickExpand(treeId, treeNode) {
            return treeNode.level > 0;
        }

        function beforeDrag(treeId, treeNodes) {
            return false;
        }
        function beforeEditName(treeId, treeNode) {
            className = (className === "dark" ? "":"dark");
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.selectNode(treeNode);
            return true;
        }
        function beforeRemove(treeId, treeNode) {
            className = (className === "dark" ? "":"dark");
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.selectNode(treeNode);
            return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
        }
        function onRemove(e, treeId, treeNode) {
            var entry_id = $("#entry_id").val();
            $.ajax({
                type: "POST",
                url: "{:U('Encyclopedia/catalogue_delete')}",
                data: "entry_id=" + entry_id + "&catalogue_id=" + treeNode.catalogue_id ,
                success: function(msg){

                }
            });
        }
        function beforeRename(treeId, treeNode, newName, isCancel) {
            className = (className === "dark" ? "":"dark");
            if (newName.length > 12) {
                alert("最大长度为12.");
                var zTree = $.fn.zTree.getZTreeObj("tree");
                setTimeout(function(){zTree.editName(treeNode)}, 10);
                return false;
            }
            if (newName.length == 0) {
                alert("节点名称不能为空.");
                var zTree = $.fn.zTree.getZTreeObj("tree");
                setTimeout(function(){zTree.editName(treeNode)}, 10);
                return false;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Encyclopedia/edit_catalogue_name')}",
                data: "name=" + newName + "&catalogue_id=" + treeNode.catalogue_id ,
                success: function(msg){
                    if(msg['status'] > 0){
                        return true;
                    }else {
                        alert("修改目录名称失败");
                        var zTree = $.fn.zTree.getZTreeObj("tree");
                        setTimeout(function(){zTree.editName(treeNode)}, 10);
                        return false;
                    }
                }
            });
            return true;
        }
        function onRename(e, treeId, treeNode, isCancel) {

        }

        function onClick(e, treeId, treeNode, isCancel) {
            var entry_id = $("#entry_id").val();
            ctrlModal(true);
            $('.main-content-right-box').css('opacity','0');
            $("#entry_content").attr("src", "{:U('Encyclopedia/content_add')}"
                    + "&catalogue_id=" + treeNode.catalogue_id + "&entry_id=" + entry_id);
        }

        function showRemoveBtn(treeId, treeNode) {
            return treeNode.pId > 0;
        }
        function showRenameBtn(treeId, treeNode) {
            return treeNode.pId > 0;
        }
        function showLog(str) {
            if (!log) log = $("#log");
            log.append("<li class='"+className+"'>"+str+"</li>");
            if(log.children("li").length > 8) {
                log.get(0).removeChild(log.children("li")[0]);
            }
        }
        function getTime() {
            var now= new Date(),
                    h=now.getHours(),
                    m=now.getMinutes(),
                    s=now.getSeconds(),
                    ms=now.getMilliseconds();
            return (h+":"+m+":"+s+ " " +ms);
        }

        var newCount = 1;
        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || treeNode.pId > 1 || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                    + "' title='添加' onfocus='this.blur();'></span>";
            sObj.after(addStr);

            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                var new_node_name = "new node" + (newCount++);
                var entry_id = $("#entry_id").val();
                var pid = 0;
                if(treeNode.catalogue_id){
                    pid = treeNode.catalogue_id;
                }
                $.ajax({
                    type: "POST",
                    url: "{:U('Encyclopedia/catalogue_update')}",
                    data: "name=" + new_node_name + "&pid=" + pid + '&entry_id=' + entry_id,
                    success: function(msg){
                        if(msg['status'] > 0){
                            var zTree = $.fn.zTree.getZTreeObj("tree");
                            zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name: new_node_name, catalogue_id: msg['catalogue_id']});
                        }else {
                            alert("新增目录失败");
                        }
                        return false;
                    }
                });
                return false;
            });
        };
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
        function selectAll() {
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.setting.edit.editNameSelectAll =  $("#selectAll").attr("checked");
        }

        $(document).ready(function(){
            $.fn.zTree.init($("#tree"), setting, zNodes);

            $('.main-content-box').css('height',$('#main').height());

            var treeObj = $.fn.zTree.getZTreeObj("tree");
            var nodes = treeObj.getNodes();
            if(nodes[0].children.length > 0){
                var first_child = nodes[0].children[0];
                var entry_id = $("#entry_id").val();
                $("#entry_content").attr("src", "{:U('Encyclopedia/content_add')}"
                        + "&catalogue_id=" + first_child.catalogue_id + "&entry_id=" + entry_id);
            }

            $("#entry_content").load(function () {
                var mainheight = $(this).contents().find("body").height() + 30;
                $(this).height(mainheight);
                $('.main-content-right-box').css('opacity','1');
                ctrlModal(false);
            });

            //保存
            $('#save-info').click(function(){
                document.getElementById('entry_content').contentWindow.setTextAreaData();
            });

        });

        window.setTimeout(function(){
            $('.main-content-left-box').css('opacity','1');
        },1000);

        function ctrlModal(flag){
            var $targetBox=$('.modal-box'),
                    $loadingBox=$('.loading-bubble-box');
            if(flag) {
                $targetBox.fadeIn(100);
                $loadingBox.addClass('active');
            }else{
                $targetBox.hide();
                $loadingBox.removeClass('active');
            }
        };
        window.urlObj={
            js:'__JS__',
            apiUrl:'__API_URL__'
        };
    </script>
    <script type="text/javascript" src="__STATIC__/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="__STATIC__/zTree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="__STATIC__/zTree/js/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="__JS__/catalogue/tokeninfo.js"></script>

</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Encyclopedia/item')}");
    </script>
</block>