<extend name="Public/base" />
<block name="body">
    <div class="main-title cf">
        <h2>添加分类</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('entry_catagory_update')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="cid" id="cid" value="{$cid|default=''}"/>
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <notempty name="pcatagory">
                        <volist name="pcatagory" id="vo">
                            <p class="text input-large" style="height: 30px;width: 100%;border: 0;background-color: lightgrey;">{$vo.name}</p>
                            <div>
                                <notempty name="catagory">
                                    <volist name="catagory" id="co">
                                        <eq name="vo['id']" value="$co['pid']">
                                            <input type="checkbox" name="category_id[]" value="{$co.id}" pid="{$co.pid}" <eq name="co['checked']" value="1">checked</eq> >{$co.name}</input>
                                        </eq>
                                    </volist>
                                </notempty>
                            </div>
                        </volist>
                        <else/>
                        <div  class="text-center"> aOh! 暂时还没有内容!</div>
                    </notempty>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('Encyclopedia/item')}');
</script>

