<extend name="Public/base" />
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <link type="text/css" href="__CSS__/entry_add.css" rel="stylesheet">
    <div class="main-title cf">
        <h2>延伸阅读</h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <button class="btn document_add  document_add_in" url="{:U('category_add')}&entry_id={$entry_id}" onclick="showEntryLinkModule()">新增站内链接</button>
                <a class="btn document_add" href="{:U('entry_link_edit')}&entry_id={$entry_id}">新增外链</a>
                <button class="btn ajax-post confirm" target-form="ids" url='{:U("encyclopedia/entry_link_delete")}&entry_id={$entry_id}'>删 除</button>
            </div>
        </div>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">名称</th>
                <th class="">链接</th>
                <th class="">创建时间</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.link}</td>
                        <td><span>{$vo.create_time|time_format}</span></td>
                        <td><if condition="($vo.status eq 1) "> 正常
                            <else /> 已删除
                        </if>
                        </td>
                        <td>
                            <eq name="vo['link_id']" value="0">
                                <a href="{:U('encyclopedia/entry_link_edit?id='.$vo['id'])}" class=" confirm">编辑</a>
                            </eq>
                            <a href="{:U('encyclopedia/entry_link_delete?id='.$vo['id'])}&entry_id={$entry_id}" class="ajax-get confirm">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
    <div class="entry-link-module">
        <div class="module-main">
            <div class="head">
                <div class="select-box">
                    <select></select>
                </div>
                <div class="input-box">
                    <input type="text" class="text" id="relevant_entry_input" name="relevant_entry">
                </div>
                <div class="btn-box">
                    <a href="javascript:void(0)" class="search-btn">搜索</a>
                </div>
            </div>
            <div class="entry-link-main">
                <ul class="entry-link-ul data-ul"></ul>
            </div>
            <div class="add-link-btn">确定添加</div>
        </div>
    </div>
    <script type="application/javascript">
        $(function(){
            var url = "{:U('Encyclopedia/getArticleTypeList')}";
            var url2 = "{:U('Encyclopedia/searchArticle')}";
            var url3 = "{:U('Encyclopedia/ajaxAddLink')}";

            window.showEntryLinkModule=function(){
                $('.entry-link-module').fadeIn(50);
            }

            fillInType();
            function fillInType(){
                $.post(url,null,function(result){
                    if(result && result.data){
                        var data=result.data,
                            len=data.length,
                            str='',
                            item;
                        data.splice(0,0,{id:0,title:'全部'});
                        for(var i=0;i<len;i++){
                            item=data[i];
                            str+='<option value="'+item.id+'">'+item.title+'</option>';
                        }
                        $('.select-box select').html(str);
                    }
                });
            }

           var $d=$(document);
           $d.on('click',function(e){
               var event=e || window.event,
                   target=event.srcElement || event.target,
                   $target=$(target);
               if($target.closest('.module-main').length==0 && !$target.hasClass('document_add_in')){
                   $('.entry-link-module').hide();
               }
           });

           $d.on('click','.search-btn',function(){
               var keyword=$('#relevant_entry_input').val(),
                   type=$('.select-box select option:selected').val();
               $.post(url2,{name:keyword,type:type},function(result){
                   var str = '';
                   if(result && result.data) {
                       var len = result.data.length,
                               str = '',
                               item;
                       for (var i = 0; i < len; i++) {
                            item=result.data[i];
                            str+='<li data-id="'+item.id+'" data-url="'+item.content_url+'"><p>'+item.content_name+'</p><i class="check"></i></li>';
                       }
                       str = str==''?'<p class="nodata">结果为空</p>':str;
                   }else{
                        str='<p class="nodata">结果为空</p>';
                   }
                   $('.entry-link-ul').html(str);
               });
           });

           $d.on('click','.entry-link-ul li',function(){
               $(this).toggleClass('selected');
           });

           $d.on('click','.add-link-btn',function(){
               var arr=[],paraData;
               $('.entry-link-ul li.selected').each(function(){
                   arr.push({
                            id:$(this).attr('data-id'),
                            title:$(this).find('p').text(),
                            url:$(this).attr('data-url'),
                   });
               });
               if(arr.length==0){
                   return;
               }
               paraData={
                 entry_id:'{$entry_id}',
                 data:JSON.stringify(arr)
               };
               $.post(url3,paraData,function(result){
                   if(result && result.status==1){
                       $('.entry-link-module').hide();
                       location.reload();
                   }else{
                       alert('添加失败，请重试！');
                   }
               });
           });

           $('.search-btn').trigger('click');

        });
    </script>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('Encyclopedia/item')}');



</script>

