<extend name="Public/base"/>
<block name="body">
    <!-- 标题 -->
    <div class="main-title">
        <h2>
            词条列表
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <a class="btn document_add" href="{:U('entry_add')}">新增词条</a>
                <button class="btn ajax-post confirm" target-form="ids" url='{:U("encyclopedia/entry_delete")}'>删 除</button>
            </div>
        </div>

        <div class="search-form fr cf">
            <div class="sleft">
                <div id="drop-down1" class="drop-down" style="width: 100px;border-right: 1px solid lightgrey;">
                    <span id="sch-sort-txt" class="sort-txt" style="width: 65px;" data="{$cur_category1['id']|default=0}">{$cur_category1['name']|default='一级分类'}</span>
                    <i class="arrow arrow-down"></i>
                    <ul id="sub-sch-menu1" class="nav-list hidden">
                        <notempty name="first_level_list">
                            <volist name="first_level_list" id="vo">
                                <li><a href="javascript:;" value="{$vo.id}" style="width: 80px;">{$vo.name}</a></li>
                            </volist>
                            <else/>
                            <li><a href="javascript:;" value="0" style="width: 80px;">暂无</a></li>
                        </notempty>
                    </ul>
                </div>
                <div id="drop-down2" class="drop-down" style="width: 100px;">
                    <span id="sch-sort-txt2" class="sort-txt" style="width: 65px;" data="{$cur_category2['id']|default=0}">{$cur_category2['name']|default='二级分类'}</span>
                    <i class="arrow arrow-down"></i>
                    <ul id="sub-sch-menu2" class="nav-list hidden">
                        <notempty name="second_level_list">
                            <volist name="second_level_list" id="vo">
                                <li><a href="javascript:;" value="{$vo.id}" style="width: 80px;">{$vo.name}</a></li>
                            </volist>
                            <else/>
                            <li><a href="javascript:;" value="0" style="width: 80px;">暂无</a></li>
                        </notempty>
                    </ul>
                </div>
                <input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输词条名">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('encyclopedia/item')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">名称</th>
                <th class="">排序</th>
                <th class="">创建时间</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.sort}</td>
                        <td><span>{$vo.create_time|time_format}</span></td>
                        <td><if condition="($vo.status eq 1) "> 正常
                            <else /> 已删除
                        </if>
                        </td>
                        <td>
                            <a href="{:U('encyclopedia/entry_add?id='.$vo['id'])}" >编辑基本信息</a>
                            <a href="{:U('encyclopedia/catalogue_add?id='.$vo['id'])}" >编辑目录</a>
                            <a href="{:U('encyclopedia/entry_catagory_add?id='.$vo['id'])}" >添加分类</a>
                            <a href="{:U('encyclopedia/entry_link_add?id='.$vo['id'])}" >添加延伸阅读</a>
                            <a href="{:U('encyclopedia/entry_delete?id='.$vo['id'])}" class="ajax-get confirm">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>

</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Encyclopedia/item')}");

        $('.document_add').click(function(){
            var url = $(this).attr('url');
            if(url != undefined && url != ''){
                window.location.href = url;
            }
        });
    </script>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //搜索功能
            $("#search").click(function(){
                var url = $(this).attr('url');
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');

                var cid = $("#sch-sort-txt2").attr("data");
                if(!cid){
                    cid = 0;
                }
                var pid = $("#sch-sort-txt").attr("data");
                if(!pid){
                    pid = 0;
                }
                url = url + "&cid=" + cid + "&pid=" + pid + "&" + query;
                window.location.href = url;
            });

            /* 状态搜索子菜单 */
            $(".search-form").find("#drop-down1").hover(function(){
                $("#sub-sch-menu1").removeClass("hidden");
            },function(){
                $("#sub-sch-menu1").addClass("hidden");
            });
            /* 状态搜索子菜单 */
            $(".search-form").find("#drop-down2").hover(function(){
                $("#sub-sch-menu2").removeClass("hidden");
            },function(){
                $("#sub-sch-menu2").addClass("hidden");
            });
            $("#sub-sch-menu1 li").find("a").each(function(){
                $(this).click(function(){
                    var text = $(this).text();
                    $("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
                    $("#sub-sch-menu1").addClass("hidden");
                    var pid = $(this).attr("value");
                    $.ajax({
                        type: "POST",
                        url: "{:U('Encyclopedia/getSecondCategory')}",
                        data: "pid=" + pid ,
                        success: function(msg){
                            if(msg['status'] > 0){
                                if(msg['data']){
                                    var category2 = [];
                                    for(var i in msg['data']){
                                        category2.push("<li><a href='javascript:;' value='" + msg['data'][i]['id']
                                                + "' style='width: 80px;'>" + msg['data'][i]['name'] + "</a></li>");
                                    }
                                    $("#sub-sch-menu2").html(category2.join(''));
                                    $("#sub-sch-menu2").removeClass("hidden");
                                }else{
                                    $("#sub-sch-menu2").html('<li><a href="javascript:;" value="0" style="width: 80px;">暂无</a></li>');
                                    $("#sub-sch-menu2").removeClass("hidden");
                                }
                            }
                        }
                    });
                });
            });

            $("#sub-sch-menu2").delegate('a', 'click', function(){
                var text = $(this).text();
                $("#sch-sort-txt2").text(text).attr("data",$(this).attr("value"));
                $("#sub-sch-menu2").addClass("hidden");

                var url = $("#search").attr('url');
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if(query){
                    var cid = $("#sch-sort-txt2").attr("data");
                    if(!cid){
                        cid = 0;
                    }
                    var pid = $("#sch-sort-txt").attr("data");
                    if(!pid){
                        pid = 0;
                    }
                    url = url + "&cid=" + cid + "&pid=" + pid + "&" + query;
                    window.location.href = url;
                }
            });
        })
    </script>
</block>
