<extend name="Public/base" />
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>新增Banner</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="cid" id="cid" value=""/>
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <div class="form-item cf">
                        <label class="item-label">展示位置</label>
                        <input type="radio" value="1" name="show_pos" checked/>资讯流 &nbsp;&nbsp;
                        <input type="radio" value="0" name="show_pos" />机构列表 &nbsp;&nbsp;
                        <input type="radio" value="2" name="show_pos" />社区
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">选择跳转类型</label>
                        <div class="controls">
                            <select name="jump_type" id="jump_type">
                                <option value="1" selected>网址</option>
                                <option value="2" >帖子</option>
                                <option value="3" >视频</option>
                                <option value="4" >机构主页</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">跳转目标<span class="check-tips">（网址类型填写完整url，其他类型填写目标ID）</span></label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="url" value="">
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">封面图</label>
                        <div class="controls">
                            <input type="file" id="upload_company_picture">
                            <input type="hidden" name="picture" id="cover_id_company"/>
                            <div class="upload-img-box">
                                <notempty name="data[$field['name']]">
                                    <div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/></div>
                                </notempty>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //上传图片
                            /* 初始化上传插件 */
                            $("#upload_company_picture").uploadify({
                                "height"          : 30,
                                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                                "fileObjName"     : "download",
                                "buttonText"      : "上传图片",
                                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                "width"           : 120,
                                'removeTimeout'	  : 1,
                                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                                "onUploadSuccess" : uploadPictureCompany,
                                'onFallback' : function() {
                                    alert('未检测到兼容版本的Flash.');
                                }
                            });
                            function uploadPictureCompany(file, data){
                                var data = $.parseJSON(data);
                                var src = '';
                                if(data.status){
                                    $("#cover_id_company").val(data.id);
                                    src = data.url ||  data.path
                                    $("#cover_id_company").parent().find('.upload-img-box').html(
                                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                    );
                                } else {
                                    updateAlert(data.info);
                                    setTimeout(function(){
                                        $('#top-alert').find('button').click();
                                        $(that).removeClass('disabled').prop('disabled',false);
                                    },1500);
                                }
                            }
                        </script>
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" onclick="setAdvantage();" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('/admin/article')}');
</script>
