<extend name="Public/base"/>

<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>
		资讯流内容列表
		</h2>
	</div>

	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
            <button class="btn ajax-post" target-form="ids" url="{:U("informationflow/setContentStatus",array("status"=>1))}">启 用</button>
			<button class="btn ajax-post confirm" target-form="ids" url="{:U("informationflow/setContentStatus",array("status"=>-1))}">删 除</button>
			<!--<button id="addfrontpage" class="btn" >添加分类</button>-->
		</div>
	</div>

	<!--<div id="category" style="display:none;position: fixed;top: 30%;left: 40%;width: 400px;background: white;border: 1px solid grey;">
		<p style="height: 30px;border-bottom: 1px solid lightgray;">请选择头条类别
			<span id="category_close" style="height: 30px;width: 30px;float: right;text-align: center;">X</span>
		</p>
		<div style="height: 30px;">
			<volist name="_config_type" id="data">
				&nbsp;&nbsp;<input class="categories" type="checkbox" value="{$data['id']}" name="categories[]">{$data.title}&nbsp;&nbsp;
			</volist>
		</div>
		<div style="height: 35px;">
			<button id="add2frontpage" class="btn" style="float: right;">提交</button>
		</div>
	</div>-->

	<!-- 数据表格 -->
	<div class="data-table table-striped">
		<table class="">
			<thead>
			<tr>
				<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
				<th class="">ID</th>
				<th class="">内容类别</th>
				<th class="">内容ID</th>
				<th class="">内容标题</th>
				<th class="">配置类型</th>
				<th class="">创建时间</th>
				<th class="">状态</th>
				<th class="">操作</th>
			</tr>
			</thead>
			<tbody>
			<notempty name="_list">
				<volist name="_list" id="vo">
					<tr>
						<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
						<td>{$vo.id}</td>
						<td>{$vo.content_type}</td>
						<td>{$vo.content_id}</td>
						<td>{$vo.content_name}</td>
						<td>{$vo.config_type}</td>
						<td><span>{$vo.create_time|time_format}</span></td>
						<td><if condition="($vo.status eq 1) "> 正常
							<else /> 删除
						</if>
						</td>
						<td>
							<a href="{:U('informationFlow/setContentStatus?status=1&id='.$vo['id'])}" class="ajax-get confirm">启用</a>
							<a href="{:U('informationFlow/setContentStatus?status=-1&id='.$vo['id'])}" class="ajax-get confirm">删除</a>
							<a href="{:U('informationFlow/setConfigType?id='.$vo['id'])}" >设置类型</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
			</notempty>
			</tbody>
		</table>
	</div>
	<div class="page">
		{$_page}
	</div>
</div>

</block>
<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var status = $("#sch-sort-txt").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
		if(status != ''){
			query += 'status=' + status + "&" + query;
        }
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

	//只有一个模型时，点击新增
	$('.document_add').click(function(){
		var url = $(this).attr('url');
		if(url != undefined && url != ''){
			window.location.href = url;
		}
	});

	$('#addfrontpage').click(function(){
		$('#category').show();
	})

	$('#category_close').click(function(){
		$('#category').hide();
	})

	$('#add2frontpage').click(function(){
		var ids = $('.ids:checked');
		var param1 = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param1 = str.join(',');
		}
		var categories = $('.categories:checked');
		var param2 = '';
		if(categories.length > 0){
			var str = new Array();
			categories.each(function(){
				str.push($(this).val());
			});
			param2 = str.join(',');
		}

		window.location.href = '{:U("Article/addToFrontPage")}' + '&ids=' + param1 + '&categories=' + param2;

	});

})
</script>
</block>
