<extend name="Public/base"/>

<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>
		首页推荐列表
		</h2>
	</div>

	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
            <button class="btn ajax-post" target-form="ids" url="{:U("informationflow/setContentStatus",array("status"=>1))}">启 用</button>
			<button class="btn ajax-post confirm" target-form="ids" url="{:U("informationflow/setContentStatus",array("status"=>-1))}">删 除</button>
			<button id="showConfigType" class="btn" >按头条分类显示</button>
			<button id="showadvs" class="btn" >广告列表</button>
			<button id="sortbytime" class="btn" >按时间排序</button>
			<input type="hidden" id="type" name="type" value="{$type | default=0}"/>
			<input type="hidden" id="content_type" name="content_type" value="{$content_type | default=0}"/>
		</div>
	</div>

	<div id="category" style="display:none;position: fixed;top: 30%;left: 40%;width: 250px;background: white;border: 1px solid grey;">
		<p style="height: 30px;border-bottom: 1px solid lightgray;">
			<span style="height: 30px;float: left;text-align: center;">请输入排序值(从大到小排序)</span>
			<span id="category_close" style="height: 30px;width: 30px;float: right;text-align: center;">X</span>
		</p>
		<div style="height: 30px;">
			<input style="width: 240px;" type="text" id="sort" name="sort" value=""/>
		</div>
		<div style="height: 35px;margin-top: 30px;">
			<button id="addSort" onclick="setSortValue();"  url="{:U("informationflow/setContentSort")}" class="btn ajax-get confirm" style="float: right;">提交</button>
		</div>
	</div>

	<div id="config_type" style="display:none;position: fixed;top: 30%;left: 40%;width: 400px;background: white;border: 1px solid grey;">
		<p style="height: 30px;border-bottom: 1px solid lightgray;">选择头条类别
			<span id="config_close" style="height: 30px;width: 30px;float: right;text-align: center;">X</span>
		</p>
		<div style="height: 30px;">
			<volist name="config_type" id="data">
				&nbsp;&nbsp;<input class="config_type" type="radio" value="{$data['id']}" name="config_type">{$data.title}&nbsp;&nbsp;
			</volist>
		</div>
		<!--<div style="height: 35px;">
			<button id="showByConfigType" class="btn" style="float: right;">提交</button>
		</div>-->
	</div>

	<!-- 数据表格 -->
	<div class="data-table table-striped">
		<table class="">
			<thead>
			<tr>
				<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
				<!--<th class="">ID</th>
				<th class="">内容类别</th>-->
				<th class="">内容ID</th>
				<th class="">内容标题</th>
				<th class="">分类</th>
				<th class="">排序</th>
				<th class="">创建时间</th>
				<th class="">状态</th>
				<th class="">操作</th>
			</tr>
			</thead>
			<tbody>
			<notempty name="_list">
				<volist name="_list" id="vo">
					<tr>
						<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
						<!--<td>{$vo.id}</td>
						<td>{$vo.content_type}</td>-->
						<td>{$vo.content_id}</td>
						<td>{$vo.content_name}</td>
						<td>{$vo.config_type}</td>
						<td>{$vo.sort}</td>
						<td><span>{$vo.create_time|time_format}</span></td>
						<td><if condition="($vo.status eq 1) "> 正常
							<else /> 删除
						</if>
						</td>
						<td>
							<!--<a href="{:U('informationFlow/setContentStatus?status=1&id='.$vo['id'])}" class="ajax-get confirm">启用</a>-->
							<a href="{:U('informationFlow/setContentStatus?status=-1&id='.$vo['id'])}" class="ajax-get confirm">删除</a>
							<a href="{:U('informationFlow/setConfigType?id='.$vo['id'])}" >分类</a>
							<a id="{$vo['content_id']}" class="setSort"  href="javascript:void(0)">排序</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
			</notempty>
			</tbody>
		</table>
	</div>
	<div class="page">
		{$_page}
	</div>
</div>

</block>
<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var status = $("#sch-sort-txt").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
		if(status != ''){
			query += 'status=' + status + "&" + query;
        }
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

	//只有一个模型时，点击新增
	$('.document_add').click(function(){
		var url = $(this).attr('url');
		if(url != undefined && url != ''){
			window.location.href = url;
		}
	});

	$('.setSort').click(function(){
		var id = $(this).attr('id');
		var url = "{:U("informationFlow/setContentSort")}";
		$('#addSort').attr('url',url + '&content_id=' + id);
		$('#category').toggle();
	})

	$('#category_close').click(function(){
		$('#category').hide();
	})

	$('#add2frontpage').click(function(){
		var ids = $('.ids:checked');
		var param1 = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param1 = str.join(',');
		}
		var categories = $('.categories:checked');
		var param2 = '';
		if(categories.length > 0){
			var str = new Array();
			categories.each(function(){
				str.push($(this).val());
			});
			param2 = str.join(',');
		}

		window.location.href = '{:U("informationFlow/content")}' + '&config_type=' + param2;

	});


	$('#showConfigType').click(function(){
		$('#config_type').toggle();
	});

	$('#config_close').click(function(){
		$('#config_type').hide();
	})

	$('#showByConfigType').click(function(){
		var categories = $('.config_type:checked');
		var param2 = '';
		if(categories.length > 0){
			var str = new Array();
			categories.each(function(){
				str.push($(this).val());
			});
			param2 = str.join(',');
		}

		window.location.href = '{:U("informationFlow/content")}' + '&config_type=' + param2;
	});

	$('.config_type').change(function(){
		var categories = $('.config_type:checked');
		var param2 = '';
		if(categories.length > 0){
			var str = new Array();
			categories.each(function(){
				str.push($(this).val());
			});
			param2 = str.join(',');
		}

		window.location.href = '{:U("informationFlow/content")}' + '&config_type=' + param2;
	});

	$('#showadvs').click(function(){
		window.location.href = '{:U("informationFlow/content")}' + '&config_type=1&content_type=3';
	})

	$('#sortbytime').click(function(){
		var url = '{:U("informationFlow/content")}';
		if($('#type').val() > 0){
			url += '&config_type=' + $('#type').val();
		}
		if($('#content_type').val() > 0){
			url += '&content_type=' + $('#content_type').val();
		}
		window.location.href = url + '&sort=time';
	})

})

function setSortValue(){
	var url = $('#addSort').attr('url');
	if($('#type').val() > 0){
		url += '&config_type=' + $('#type').val();
	}
	if($('#content_type').val() > 0){
		url += '&content_type=' + $('#content_type').val();
	}
	$('#addSort').attr('url', url + '&sort=' + $('#sort').val());
}
</script>
</block>
