<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="__CSS__/teacher/home.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/photoswipe/default-skin/photoswipeunion.min.css" rel="stylesheet" type="text/css">
    <title>老师详情</title>
</head>
<body data-id="{$topicId}">
<div class="wrapper">
    <!--老师详情-->
    <div class="content-box info">
        <div class="info-left"></div>
        <div class="info-right">
            <ul>
                <li><span id="name">徐领导</span></li>
                <li><span id="title">平面设计师，高级讲师</span></li>
            </ul>
        </div>
    </div>
    <!--老师标签-->
    <div class="content-box tag">
        <div class="tag-left"></div>
        <div class="tag-right"></div>
    </div>
    <!--老师数字-->
    <div class="content-box number">
        <ul>
            <li id="student"></li>
            <li id="year"></li>
            <li id="job"></li>
        </ul>
    </div>
    <!--简介-->
    <div class="content-box  introduction">
        <div class="head">
            <p>简介</p>
        </div>
        <div class="detail">宇多田ヒカル、NEW ALBUM発売决定!! 大ヒットシングル「Flavor Of Life」「Beautiful World」「Kiss & Cry」はもちろん、最新シングル「HEART STATION」、CMが绝賛OA中の「Stay Gold」や、あの「ぼくはくま」までも収录!! 収录曲「Prisoner Of Love」は、フジテレビ系木
            曜ドラマ『ラスト?フレンズ』(出演: 长泽まさみ、上野树里、瑛太、水川あさみ、锦戸亮 他)主题歌に决定!!</div>
    </div>
    <!--学生作品-->
    <div class="content-box picture">
        <div class="head">
            <p>学生作品</p>
            <span class="right-arrow"></span>
        </div>
    </div>
    <!--学生就业信息-->
    <div class="content-box employee">
        <div class="head">
            <p>学生就业信息</p>
        </div>
        <div class="employee-box">
            <div class="student-left"></div>
            <div class="student-right">
                <ul>
                    <li><span ="student-name">张飞</span></li>
                    <li><span class="left">就职公司：</span><span class="right">阿里巴巴</span></li>
                    <li><span class="left">职位：</span><span class="right">淘宝客服</span></li>
                    <li><span class="left">薪资：</span><span class="right">8000+</span></li>
                </ul>
                <ul>
                    <li><span class="student-name">张飞</span></li>
                    <li><span class="left">就职公司：</span><span class="right">阿里巴巴</span></li>
                    <li><span class="left">职位：</span><span class="right">淘宝客服</span></li>
                    <li><span class="left">薪资：</span><span class="right">8000+</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--结束-->
<div class="nodata">
    <p>暂无老师信息</p>
</div>
</body>
<script>
    window.hisihiUrlObj={
        link_url:'http://{$Think.server.HTTP_HOST}/api.php',
        img_url:'__IMG__',
        js: "__JS__",
        api_url:'__API_URL__'
    };
</script>
<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/teacher/config"></script>
<!--<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/forum/detail/detail-2.9.7.min"></script>-->
</html>