<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="__CSS__/teacher/home.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/photoswipe/default-skin/photoswipeunion.min.css" rel="stylesheet" type="text/css">
    <title>老师详情</title>
</head>
<body data-id="{$topicId}">
<div class="wrapper">
    <!--老师详情-->
    <div class="content-box info"></div>
    <!--老师标签-->
    <div class="content-box tag"></div>
    <!--老师数字-->
    <div class="number"></div>
    <!--简介-->
    <div class="introduction"></div>
    <!--学生作品-->
    <div class="picture"></div>
    <!--学生就业信息-->
    <div class="content-box employee"></div>
    <!--学生就业信息结束-->
</div>
<!--结束-->
<div class="nodata">
    <p>暂无老师信息</p>
</div>
</body>
<script>
    window.hisihiUrlObj={
        api_url_php:'http://{$Think.server.HTTP_HOST}/api.php?s=',
        img_url:'__IMG__',
        js: "__JS__",
        api_url:'__API_URL__'
    };
</script>
<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/teacher/config"></script>
<!--<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/forum/detail/detail-2.9.7.min"></script>-->
</html>