* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.result-tips {
  position: fixed;
  width: 200px;
  height: auto;
  min-height: 50px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -100px;
  margin-top: -35px;
  top: 40%;
  left: 50%;
  z-index: 1001;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips .result-tips p {
  color: white;
  font-size: 15px;
  text-align: center;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 555;
  text-align: center;
  display: none;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
.nodata {
  display: none;
  text-align: center;
}
.nodata p {
  font-size: 16px;
  color: #757070;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}
.promotion-box {
  opacity: 0;
  background-color: white;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 15px;
  min-height: 230px;
}
.promotion-box .img-box {
  width: 100%;
  text-align: center;
}
.promotion-box .img-box img {
  max-width: 100%;
}
.promotion-box .content-box {
  margin: 0 13px 0 10px;
}
.promotion-box .content-box p {
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.course-box {
  opacity: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  min-height: 90px;
}
.course-box .header {
  height: 40px;
  font-size: 16px;
  color: #212121;
  border-bottom: 1px solid #CCC;
  padding-left: 10px;
  line-height: 40px;
  font-weight: bold;
}
.course-box .list li {
  width: auto;
  height: 110px;
  border-bottom: 1px solid #ccc;
}
.course-box .list li .item-main {
  height: 100%;
  margin: 5px 13px 5px 10px;
}
.course-box .list li .item-main > div {
  float: left;
  height: 100%;
}
.course-box .list li .item-main .main-content {
  width: 100%;
  height: 100%;
}
.course-box .list li .item-main .main-content .middle {
  height: 100%;
  margin: 0 80px 0 135px;
}
.course-box .list li .item-main .main-content .middle p {
  margin: 5px 0;
}
.course-box .list li .item-main .main-content .middle .title-info {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 17px;
  height: 30px;
  line-height: 35px;
  color: #333333;
}
.course-box .list li .item-main .main-content .middle .money-info {
  color: #FA4535;
  font-size: 20px;
  font-family: Arial, Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.course-box .list li .item-main .main-content .middle .time-info {
  color: #8E8E8E;
}
.course-box .list li .item-main .left {
  width: 120px;
  margin-left: -100%;
}
.course-box .list li .item-main .left .img-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.course-box .list li .item-main .left .img-box img {
  width: 100%;
  height: 85px;
  margin: 11px 20px 0 0;
}
.course-box .list li .item-main .right {
  position: relative;
  width: 80px;
  margin-left: -80px;
}
.course-box .list li .item-main .right .coupon-money,
.course-box .list li .item-main .right .coupon-state {
  width: 100%;
  height: 35px;
  background-color: #F9A825;
  color: white;
  text-align: center;
  line-height: 35px;
}
.course-box .list li .item-main .right .coupon-money {
  margin-top: 15px;
}
.course-box .list li .item-main .right .coupon-money span {
  font-size: 20px;
}
.course-box .list li .item-main .right .coupon-money span:first-child {
  font-size: 12px;
}
.course-box .list li .item-main .right .coupon-state {
  font-size: 14px;
}
.course-box .list li .item-main .right .coupon-state p {
  text-align: center;
  margin: 0;
}
.course-box .list li .item-main .right .coupon-state p:last-child {
  display: none;
}
.course-box .list li .item-main .right .seperation {
  background: url(../../images/promotion/sprite.png);
  height: 6px;
  background-position: -20px 0;
}
.course-box .list li .item-main .right.unused .coupon-money,
.course-box .list li .item-main .right.unused .coupon-state {
  background-color: #cccccc;
}
.course-box .list li .item-main .right.unused .coupon-state p:first-child {
  display: none;
}
.course-box .list li .item-main .right.unused .coupon-state p:last-child {
  display: block;
}
.course-box .list li .item-main .right.unused .seperation {
  background-position: -96px 0;
}
/*ģ̬����*/
.model-box {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.model-box .btns-main {
  height: 43px;
}
.model-box .btns-main > div {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: #007AFF;
  text-align: center;
  line-height: 43px;
}
.model-box .btns-main > div:nth-child(1) {
  border-right: 1px solid #ccc;
}
.model-box .btns-main > div:nth-child(1) div {
  display: block;
  width: 100%;
  height: 100%;
}
.model-box .login-tips-box {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -47px;
  margin-left: -140px;
  width: 280px;
  height: 94px;
  background-color: white;
  border-radius: 9px;
  background-clip: padding-box;
}
.model-box .login-tips-box * {
  font-size: 16px;
}
.model-box .login-tips-box .login-header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #000;
}
@media screen and (max-width: 320px) {
  .course-box .list li .item-main {
    margin: 0 13px 0 10px;
  }
  .course-box .list li .item-main .main-content .middle {
    height: 100%;
    margin: 0 80px 0 100px;
  }
  .course-box .list li .item-main .main-content .middle .title-info {
    margin-top: 12px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
  }
  .course-box .list li .item-main .main-content .middle .money-info {
    font-size: 16px;
  }
  .course-box .list li .item-main .main-content .middle .time-info {
    font-size: 12px;
  }
  .course-box .list li .item-main .left {
    width: 100px;
  }
  .course-box .list li .item-main .left .img-box img {
    margin: 20px 20px 0 0;
    width: 90px;
    height: 65px;
  }
  .course-box .list li .item-main .right .right-main {
    transform: scale(0.9);
  }
}
@media screen and (min-width: 750px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
}
