* {
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.result-tips {
  position: fixed;
  width: 200px;
  height: auto;
  min-height: 50px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -100px;
  margin-top: -35px;
  top: 40%;
  left: 50%;
  z-index: 1001;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips .result-tips p {
  color: white;
  font-size: 15px;
  text-align: center;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 5555;
  text-align: center;
  display: none;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
.nodata {
  display: none;
  text-align: center;
}
.nodata p {
  font-size: 16px;
  color: #757070;
  text-align: center;
}
#downloadCon {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  max-height: 113px;
}
#downloadCon img {
  max-width: 100%;
}
#downloadCon a {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
  z-index: 10001;
}
/*IScroll的样式*/
.scroller {
  position: relative;
}
.pull-down,
.pull-up {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
}
.pull-down .pull-tips-main,
.pull-up .pull-tips-main {
  width: 120px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 9px;
  opacity: 0;
}
.pull-down .pull-tips-main .loading,
.pull-up .pull-tips-main .loading {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: sloading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.pull-down .pull-tips-main .t-label,
.pull-up .pull-tips-main .t-label {
  float: left;
  line-height: 25px;
  margin-left: 10px;
}
.pull-down .pull-tips-main .icon,
.pull-up .pull-tips-main .icon {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  background: url('http://pic.hisihi.com/2016-06-13/1465811180777234.png') 0 0 no-repeat;
  background-size: 25px 25px;
}
.pull-down {
  top: -50px;
}
.pull-down.loading {
  position: relative;
  top: 0;
}
.pull-up {
  bottom: -40px;
}
.pull-up.loading {
  bottom: 0;
}
@-webkit-keyframes sloading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.sshow {
  animation: sshow 200ms ease-in-out;
  animation-fill-mode: forwards;
}
.shide {
  animation: shide 400ms ease-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes sshow {
  from {
    display: block;
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes shide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}
@media screen and (min-width: 750px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
  #downloadCon {
    width: 700px;
    left: 50%;
    margin-left: -350px;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.promotion-box {
  opacity: 0;
  background-color: white;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 15px;
  min-height: 230px;
}
.promotion-box .img-box {
  width: 100%;
  text-align: center;
}
.promotion-box .img-box img {
  max-width: 100%;
}
.promotion-box .content-box {
  margin: 0 13px 0 10px;
}
.promotion-box .content-box p {
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.course-box {
  opacity: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  min-height: 90px;
}
.course-box .header {
  height: 40px;
  font-size: 16px;
  color: #212121;
  border-bottom: 1px solid #CCC;
  padding-left: 10px;
  line-height: 40px;
  font-weight: bold;
}
.course-box .list li {
  width: auto;
  height: 110px;
  border-bottom: 1px solid #ccc;
}
.course-box .list li .item-main {
  height: 100%;
  margin: 5px 13px 5px 10px;
}
.course-box .list li .item-main > div {
  float: left;
  height: 100%;
}
.course-box .list li .item-main .main-content {
  width: 100%;
  height: 100%;
}
.course-box .list li .item-main .main-content .middle {
  height: 100%;
  margin: 0 80px 0 135px;
}
.course-box .list li .item-main .main-content .middle p {
  margin: 5px 0;
}
.course-box .list li .item-main .main-content .middle .title-info {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 17px;
  height: 30px;
  line-height: 35px;
  color: #333333;
}
.course-box .list li .item-main .main-content .middle .money-info {
  color: #FA4535;
  font-size: 20px;
  font-family: Arial, Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.course-box .list li .item-main .main-content .middle .money-info .noprice {
  font-size: 16px;
}
.course-box .list li .item-main .main-content .middle .time-info {
  color: #8E8E8E;
}
.course-box .list li .item-main .left {
  width: 120px;
  margin-left: -100%;
}
.course-box .list li .item-main .left .img-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.course-box .list li .item-main .left .img-box img {
  width: 100%;
  height: 85px;
  margin: 11px 20px 0 0;
}
.course-box .list li .item-main .right {
  position: relative;
  width: 80px;
  margin-left: -80px;
}
.course-box .list li .item-main .right .coupon-money,
.course-box .list li .item-main .right .coupon-state {
  width: 100%;
  height: 35px;
  background-color: #F9A825;
  color: white;
  text-align: center;
  line-height: 35px;
}
.course-box .list li .item-main .right .coupon-money {
  margin-top: 15px;
}
.course-box .list li .item-main .right .coupon-money span {
  font-size: 20px;
}
.course-box .list li .item-main .right .coupon-money span:first-child {
  font-size: 12px;
}
.course-box .list li .item-main .right .coupon-state {
  font-size: 14px;
}
.course-box .list li .item-main .right .coupon-state p {
  text-align: center;
  margin: 0;
  display: none;
}
.course-box .list li .item-main .right .seperation {
  background: url(../../images/promotion/sprite.png);
  height: 6px;
  background-position: -20px 0;
}
.course-box .list li .item-main .right.un-take-in .coupon-state p:first-child {
  display: block;
}
.course-box .list li .item-main .right.unused .coupon-money,
.course-box .list li .item-main .right.unused .coupon-state {
  background-color: #cccccc;
}
.course-box .list li .item-main .right.unused .coupon-state p:nth-child(2) {
  display: block;
}
.course-box .list li .item-main .right.unused .seperation {
  background-position: -96px 0;
}
.course-box .list li .item-main .right.used .coupon-money,
.course-box .list li .item-main .right.used .coupon-state {
  background-color: #cccccc;
}
.course-box .list li .item-main .right.used .coupon-state p:last-child {
  display: block;
}
.course-box .list li .item-main .right.used .seperation {
  background-position: -96px 0;
}
/*ģ̬����*/
.model-box {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 10000;
}
.model-box img {
  max-width: 80%;
  position: absolute;
  bottom: 10px;
  left: 10%;
}
#downloadCon {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
}
#downloadCon img {
  max-width: 100%;
}
#downloadCon a {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
  z-index: 10001;
}
@media screen and (max-width: 320px) {
  .course-box .list li .item-main {
    margin: 0 13px 0 10px;
  }
  .course-box .list li .item-main .main-content .middle {
    height: 100%;
    margin: 0 80px 0 100px;
  }
  .course-box .list li .item-main .main-content .middle .title-info {
    margin-top: 12px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
  }
  .course-box .list li .item-main .main-content .middle .money-info .noprice {
    font-size: 14px;
  }
  .course-box .list li .item-main .main-content .middle .time-info {
    font-size: 12px;
  }
  .course-box .list li .item-main .left {
    width: 100px;
  }
  .course-box .list li .item-main .left .img-box img {
    margin: 20px 20px 0 0;
    width: 65px;
    height: 65px;
  }
  .course-box .list li .item-main .right .right-main {
    transform: scale(0.9);
  }
}
