body{
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}
@padding-l:14px;
@padding-r:13px;
.promotion-box{
  opacity: 0;
  background-color: white;
  margin-bottom:10px;
  min-height:230px;
  .img-box{
    width: 100%;
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  .content-box{
    margin: 0 @padding-l 0 @padding-l;
    padding:12px 0 18px 0 ;
    p{
      margin: 0;
      color: #808080;
      font-size: 12px;
      line-height: 24px;
    }
  }
}
.course-box{
  opacity: 0;
  background-color: white;
  min-height: 90px;
  .header {
    height: 40px;
    font-size: 14px;
    color: #212121;
    border-bottom: 1px solid #CCC;
    margin-left: @padding-l;
    line-height: 40px;
  }
  .list{
    li{
      @w-l:66px;
      @w-r:80px;
      .size(auto,90px);
      &:last-child{
        .item-main{
          border: none;
        }
      }
      .item-main{
        height: 100%;
        margin: 0px 0 0 @padding-l;
        padding-right: @padding-l;
        border-bottom: 1px solid #ccc;
        >div{
          float: left;
          height: 100%;
        }
        .main-content{
          width: 100%;
          height: 100%;
          .middle {
            height: 100%;
            margin: 0 @w-r 0 @w-l+16;
            padding-top: 12px;
            box-sizing: border-box;
            p {
              margin: 0;
            }
            .title-info {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              font-size: 14px;
              color: #212121;
              &.hasCoupon{
                margin-right: @padding-l;
              }
            }
            .money-info {
              color: #FA4535;
              font-size: 20px;
              font-family: Arial, Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
              margin: 2px 0;
              .noprice{
                font-size: 16px;
              }
            }
            .time-info {
              color: #8E8E8E;
              font-size: 11px;
            }
          }
        }
        .left{
          width:@w-l + 10px;
          margin-left: -100%;
          .img-box{
            .size(100%);
            margin: 0 auto;
            padding:12px 10px 0 0;
            img {
              .size(@w-l,@w-l);
            }
          }
        }
        .right {
          position: relative;
          width: @w-r;
          @post-h:33px;
          margin-left: -@w-r;
            .coupon-money, .coupon-state {
              .size(100%, @post-h);
              background-color: #F9A825;
              color: white;
              text-align: center;
              line-height: @post-h;
              position: relative;
            }
            .coupon-money {
              margin-top: 9px;
              span {
                font-size: 20px;
                &:first-child {
                  font-size: 12px;
                }
              }
            }
            .coupon-state {
              font-size: 14px;
              p {
                text-align: center;
                margin: 0;

                //&:last-child {
                  display: none;
                //}
              }
            }
            .seperation {
              background: url(../../images/promotion/sprite.png);
              height: 6px;
              background-position: -20px 0;
            }
            .postmark{
              position: absolute;
              .size(42px,@post-h);
              left: 50%;
              top:0;
              margin-left: -21px;
              background: url("../../images/teaching-course/sprite3.png");
              background-size:258px 68px;
              background-position: -217px 0;
              display: none;
            }
            &.un-take-in{
              .coupon-state {
                p {
                  &:first-child {
                    display: block;
                  }
                }
              }
            }
            &.unused {
              .coupon-money, .coupon-state {
                background-color: #F9A825;
              }
              .postmark{
                display: block;
              }
              .coupon-state {
                p {
                  &:nth-child(2){
                    display: block;
                    span {
                      background-color: #FA4535;
                      .border-radius(15px);
                      color: white;
                      .size(75%, 23px);
                      line-height: 23px;
                      text-align: center;
                      margin: 4px 10px;
                      font-size: 12px;
                      float: left;
                    }
                  }
                }
              }
              .seperation {
                //background-position: -20px 0;
              }
            }

            &.used{
              .coupon-money, .coupon-state {
                background-color: #cccccc;
              }

              .coupon-state {
                p {
                  &:last-child {
                    display: block;
                  }
                }
              }
              .seperation {
                background-position: -96px 0;
              }
            }

        }
      }
    }
  }
}

/*Ä£Ì¬´°¿Ú*/
.model-box{
  background-color:rgba(0,0,0,.8);
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
  .btns-main{
    @hh:43px;
    height: @hh;
    >div{
      width: 50%;
      box-sizing: border-box;
      float: left;
      color: #007AFF;
      text-align: center;
      line-height:@hh;
      &:nth-child(1){
        border-right:1px solid #ccc;
        div{
          display: block;
          .size(100%,100%);
        }
      }
    }
  }
  .login-tips-box{
    position: absolute;
    top: 35%;
    left: 50%;
    @h:47px;
    @w:140px;
    margin-top: -@h;
    margin-left: -@w;
    .size(2*@w,2*@h);
    background-color: white;
    .border-radius(9px);
    *{
      font-size: 16px;
    }
    .login-header{
      height: 50px;
      border-bottom:1px solid #ccc;
      text-align: center;
      line-height: 50px;
      color: #000;
    }
  }

}


@media screen and(max-width: 320px) {
  .course-box {
    .list {
      li {
        .item-main {
          @w-l: 100px;
          @w-r: 80px;
          //.size(auto, 90px);
          margin: 0 @padding-r 0 @padding-l;
          .main-content {
            .middle {
              height: 100%;
              margin: 0 @w-r 0 @w-l;
              .title-info {
                margin-top: 12px;
                margin-right:14px;
                height: 26px;
                line-height: 26px;
                font-size: 12px;
              }
              .money-info {
                .noprice {
                  font-size: 14px;
                }
              }
              .time-info {
                font-size: 12px;
              }
            }
          }
          .left {
            width: @w-l;
            .img-box {
              img {
                margin: 20px 20px 0 0;
                .size(65px, 65px);
              }
            }
          }
          .right {
            .right-main {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 750px){
  .wrapper{
    width: 700px;
    margin: 0 auto;
  }
}