body{
  padding: 0;
  margin: 0;
  background-color: RGB(242, 242, 242);
}
#downloadCon-new{
  top: 0;
  background-color: #9E9A98;
  opacity: 1;
  position: fixed;
  .size(100%,56px);
  > img {
    .size(42px, 42px);
    position: absolute;
    left: 20px;
    top: 9px;
  }
  .words{
    margin-left: 71px;
    padding-top: 9px;
    color: white;
    .title{
      label{
        font-size: 16px;
      }
      .stars{
        margin-left: 5px;
        img{
          .size(10px,10px);
          display: inline-block;
        }
      }
    }
    p{
      margin: 1px 0;
      font-size: 12px;
      color:rgb(211,211,211);
    }
  }
  #download{
    .size(80px,32px);
    position: absolute;
    top:50%;
    margin-top: -16px;
    right: 12px;
    display:block;
    text-decoration: none;
    background-color: #FF5A00;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    line-height: 32px;
    z-index: 10001;
  }
}
#wrapper {
  padding-top: 56px;
  overflow-x: hidden;
  display: none;
}
.sprite-bg{
  background: url(../../images/orgbasicinfo/2.9.5/sprite.png);
  background-size: 306px 65px;
}
@fcolor:rgb(21,21,21);

.play-btn{
  .sprite-bg;
  .size(34px,33px);
  display: inline-block;
  background-position: -118px -32px;
}

.filter{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img{
    .size(100%,100%);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
  }
}

.logo-box{
  .size(100%,150px);
  position: relative;
  padding-top: 45px;
  padding-bottom: 15px;
  border-bottom: 1px solid RGB(222, 222, 222);
  background-color: rgba(255,255,255,0.8);

  .logo-main-info{
    .logo-main-box {
      height: 50%;
      width: 80px;
      margin: 0 auto;
      position: relative;
      //background-color: #fff;
      text-align: center;
      #logo {
        .size(65px, 65px);
        border-radius:10px;
        border:1px solid #ccc;
      }
      .v-cert{
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        .size(18px,18px);
        display: none;

      }
    }
    .name-main-box{
      text-align: center;
      margin-top: 6px;
      i{
        .play-btn;
        display: none;
      }
      label {
        vertical-align: 10px;
        color: @fcolor;
        font-size: 14px;
      }
      .cert-box{
        vertical-align: 7px;
        margin-left: 5px;
        img{
          .size(18px,18px);
          margin-right: 5px;
        }
      }
    }
    .user-number-box{
      text-align: center;
      span{
        i{
          .sprite-bg;
          .size(14px,9px);
          display: inline-block;
          background-position: -227px -32px;
          margin-right: 4px;
        }
        &:last-child {
          margin-left: 14px;
          i{
            .size(10px,11px);
            background-position: -227px -9px;
          }
        }

        label{
          color: @fcolor;
          font-size: 11px;
          vertical-align: 1px;
        }
      }
    }
  }
}
.main-item{
  background-color: #fff;
  margin:12px 8px;
  border-radius:4px;
  padding-left:8px;
  padding-right: 8px;
  .basic-header{
    height: 40px;
    font-size: 14px;
    color: #212121;
    line-height: 40px;
  }
  .main-content-item{
    //display: none;
  }
}
.news-box{
  position: relative;
  height: 63px;
  padding:12px 8px 14px 8px;
  display: none;
  .left-item{
    .size(63px,65px);
    position: absolute;
    left:0;
    top: 12px;
    left: 8px;
    .sprite-bg;
    background-position: -243px 0;
    p{
      margin: 0;
      &:first-child {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      text-align: center;
      font-family:serif;
      font-size: 25px;
    }
  }
  .right-item{
    margin-left:70px;
    height: 100%;
    width: 100%;
    display: table;
    >div{
      display: table-cell;
      vertical-align: middle;
      a{
        display: block;
        color:@fcolor;
        p{
          .txt-ellipsis-p(1);
          margin: 7px 0;
          font-size: 13px;
        }
      }
    }
  }
}

.sing-in-box{
  height: 25px;
  position: relative;
  padding-bottom: 15px;
  overflow: hidden;
  display: none;
  .left-item{
    position: absolute;
    .size(91px,auto);
    font-size: 14px;
    color: @fcolor;
    padding-top: 7px;
    i{
      display: inline-block;
      .size(36px,22px);
      .sprite-bg;
      background-position: -117px -2px;
      vertical-align: -3px;
      margin-left: 1px;
    }
    label{
      &:nth-child(3){
        vertical-align: 1px;
      }
    }
  }
  .right-item{
    margin-left:97px;
    @h:28px;
    @margin-top: 5px;
    height:@h;
    overflow: hidden;
    .sing-in-detail-box {
      p {
        font-size: 13px;
        .txt-ellipsis-p(1);
        margin:0;
        height: 40px;
        line-height: 41px;
        span{
          &:nth-child(1){
            color: #FF5A00;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.coupon-box{
  margin:12px 8px;
  overflow-x: auto;
  overflow-y: hidden;

  ul{
    white-space: nowrap;
    height: 80px;
    li{
      .sprite-bg;
      .size(95px,70px);
      display: inline-block;
      margin-right: 5px;
      color: #fff;
      padding:0 8px;
      .coupon-header{
        height: 30px;
        line-height: 30px;
        font-size: 15px;
      }
      .coupon-bottom{
        height: 40px;
        p{
          font-size: 12px;
          margin: 2px 0;
          white-space:normal;
          .txt-ellipsis-p(2);
        }
      }
    }
  }
}

.basic-info-box {
  .basic-header {
    width: 150%;
  }
  .introduce {
    .basic-header {
      border-bottom: 1px solid #F3F3F3;
    }
    .my-introduce {
      font-size: 14px;
      color:#212121;
      margin: 14px 0;
    }
  }
  .location {
    .basic-header {
      border-top: 1px solid #F3F3F3;
    }
    .my-location {
      color: #000;
      margin: 8px 0 14px 0;
      font-size: 14px;
    }
  }
  .advance-tags {
    .basic-header {
      border-top: 1px solid #F3F3F3;
    }
    .my-tags{
      li {
        display: inline-block;
        padding: 8px;
        height: 15px;
        line-height: 100%;
        margin: 0 12px 12px 0;
        border:1px solid #ff5a00;
        border-radius: 3px;
        font-size: 14px;
        color: #ff5a00;
      }
    }
  }
  .pics-box{
    .basic-header {
      border-top: 1px solid #F3F3F3;
    }
    .pics-number{
      color: #808080;
      margin-left: 2px;
    }
    .pics-preview-box{
      overflow-x: auto;
      ul{
        margin: 10px 0 14px 0;
        white-space: nowrap;
        li{
          display: inline-block;
          .size(90px,90px);
          margin-right: 4px;
            position: relative;
            .p-btn{
              position: absolute;
              .size(32px,32px);
              top:50%;
              left: 50%;
              margin-top:-16px;
              margin-left:-16px;
              border-radius: 16px;
              background-color:#B2B2B2;
              .icon-play{
                display: inline-block;
                color: white;
                font-size: 20px;
                line-height: 32px;
                margin-left:8px;
              }
          }
          img{
            .size(100%,100%);
          }
        }
      }
    }
  }
}

/*视频*/
.modal{
  position: fixed;
  z-index: 8889;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  background: rgba(255, 255, 255, 1);
  &.video-modal{
    background: rgba(72, 72, 72,1);
  }
  &.show{
    animation: showmodal 150ms linear;
    animation-fill-mode: forwards;
    display: block;
  }
  &.hide{
    display: none;
  }
  @keyframes showmodal {
    0%{
      opacity: 1;
      transform: scale(.1);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  .video-main {
    position: absolute;
    .size(80%,50%);
    top: 20%;
    left: 10%;
    //border: 1px solid rgba(255, 255, 255, 0.15);
    #video-player {
      .size(100%, 100%);
    }
    .video-player-btn {
      .size(30px, 36px);
      position: absolute;
      bottom: 0px;
      right: 0px;
      background: rgba(0, 0, 0, 1);
    }
  }

  .pic-main{
    .size(100%,100%);
    text-align: center;
    display: table;
    .filter{
      opacity: 0.8;
    }
    .view-pics-box{
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 30%;
        border-top:1px solid rgba(204,204,204,.7);
        border-bottom:1px solid rgba(204,204,204,.7);
        vertical-align:100px;
      }
    }
  }
  .pics-nav{
    .size(100%,40px);
    background-color: #000;
    text-align: center;
    padding-top: 10px;
    span {
      display: inline-block;
      border-radius: 15px;
      color: #fff;
      text-align: center;
      line-height: 30px;
    }
  }
}


.slider-container{
  min-height: 135px;
  position:relative;
  .slider-main {
    .slider-item {
      height: 100%;
      display: inline-block;
      vertical-align:top;
    }
  }
  .default-nav{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 5%;
    .nav-main {
      text-align: center;
      span {
        display: inline-block;
        .size(4px, 4px);
        border-radius:2px;
        margin-left: 5px;
        background-color: #fff;
        &:first-child {
          margin-left: 0;
        }
        &.now {
          background-color: #FEBD00;
        }
      }
    }
  }
}



/*��Ӧʽ��ʽ*/
@media screen and (min-width: 750px) {
  #wrapper,
  #downloadCon {
    width: 560px;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {

}


@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?k4ibku');
  src:    url('fonts/icomoon.eot?k4ibku#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?k4ibku') format('truetype'),
  url('fonts/icomoon.woff?k4ibku') format('woff'),
  url('fonts/icomoon.svg?k4ibku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e052";
}
