<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="__CSS__/encyclopedia/home.css" rel="stylesheet" type="text/css">
    <title>百科详情</title>
</head>
<body>
    <!--百科大纲-->
    <div class="head hide" id="head"></div>
    <!--百科目录-->
    <div class="index hide">
        <div class="catalog-left">
            <div class="catalog-left-main">
                <div class="catalog-left-cnotent">目录</div>
            </div>
        </div>
        <div class="catalog-right"></div></div>
    <!--百科简介-->
    <div class="content hide"></div>
    <!--延伸阅读-->
    <div class="read-about hide"></div>
    <!--<div class="top-btn"><a href="#head"></a></div>-->
</body>
<script>
    window.hisihiUrlObj={
        api_url_php:'http://{$Think.server.HTTP_HOST}/api.php?s=',
        img_url:'__IMG__',
        js: "__JS__",
        api_url:'__API_URL__'
    };
</script>
<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/encyclopedia/config"></script>
</html>