<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="__CSS__/encyclopedia/home.css" rel="stylesheet" type="text/css">
    <title>设计百科</title>
</head>
<body>
    <!--百科大纲-->
    <div class="head">
        <div class="head-main-title">草莓慕斯蛋糕</div>
        <div class="head-detail">平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面平面</div>
        <ul class="head-tag">
            <li class="head-title">相关词条：</li>
            <li class="head-title-tag"><span>包装</span></li>
            <li class="head-title-tag"><span>VI</span></li>
            <li class="head-title-tag"><span>UI设计</span></li>
            <li class="head-title-tag"><span>平面动画设计</span></li>
            <li class="head-title-tag"><span>3Dmax玛雅动画设计</span></li>
            <li class="head-title-tag"><span>UI设计</span></li>
            <li class="head-title-tag"><span>包装</span></li>
            <li class="head-title-tag"><span>VI</span></li>
            <li class="head-title-tag"><span>UI设计</span></li>
            <li class="head-title-tag"><span>平面动画设计</span></li>
            <li class="head-title-tag"><span>3Dmax玛雅动画设计</span></li>
            <li class="head-title-tag"><span>UI设计</span></li>
            <li class="head-title-tag"><span>包装</span></li>
            <li class="head-title-tag"><span>VI</span></li>
            <li class="head-title-tag"><span>UI设计</span></li>
            <li class="head-title-tag"><span>平面动画设计</span></li>
            <li class="head-title-tag"><span>3Dmax玛雅动画设计</span></li>
            <li class="head-title-tag"><span>UI设计</span></li>
        </ul>
    </div>
    <!--百科目录-->
    <div class="index"></div>
    <!--百科简介-->
    <div class="content">
        <!--一级目录-->
        <div class="content-head">简介</div>
        <p class="content-info">内容</p>
        <!--二级目录-->
        <div class="content-head"></div>
        <div class="content-info">正文内容</div>
    </div>
</body>
<script>
    window.hisihiUrlObj={
        api_url_php:'http://{$Think.server.HTTP_HOST}/api.php?s=',
        img_url:'__IMG__',
        js: "__JS__",
        api_url:'__API_URL__'
    };
</script>
<script type="application/javascript" src="__JS__/sharecommon/require.js" data-main="__JS__/encyclopedia/config"></script>
</html>