<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>抵扣券订单列表</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <!--<button class="btn ajax-post" target-form="ids" url="{:U("rebate/set_status",array("status"=>1))}">取消删除</button>-->
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">订单编号</th>
                <th class="">用户名</th>
                <th class="">手机号</th>
                <th class="">优惠课程</th>
                <th class="">应付金额</th>
                <th class="">抵扣金额</th>
                <th class="">订单状态</th>
                <th class="">状态</th>
                <th class="">下单时间</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.order_sn}</td>
                        <td>{$vo.nickname}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.course_name}</td>
                        <td>{$vo.yf_money}</td>
                        <td>{$vo.dk_money}</td>
                        <td><if condition="($vo.order_status eq 0) "> 待付款
                            <elseif condition="($vo.order_status eq 1) "/> 已付款
                            <elseif condition="($vo.order_status eq 2) "/> 已使用
                            <elseif condition="($vo.order_status eq 3) "/> 已评价
                            <else /> 未知状态
                            </if>
                        </td>
                        <td>{$vo.status}</td>
                        <td><span>{$vo.create_time|time_format}</span></td>
                        <td>
                            <a href="{:U('Order/detail?id='.$vo['id'])}">订单详情</a>
                            <a href="{:U('Order/confirm_enroll?id='.$vo['id'])}">确认报名</a>
                            <a href="{:U('Order/confirm_gift_package?id='.$vo['id'])}">确认礼包</a>
                            <a href="{:U('Order/set_status?id='.$vo['id'])}" class="ajax-get confirm">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            //只有一个模型时，点击新增
            $('.document_add').click(function(){
                var url = $(this).attr('url');
                if(url != undefined && url != ''){
                    window.location.href = url;
                }
            });

        })
        //导航高亮
        highlight_subnav("{:U('Order/index')}");
    </script>
</block>