<extend name="Public/base" />
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>设置内容类别</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('setconfigupdate')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="cid" id="cid" value="{$cid}"/>
                <input type="hidden" name="article_id" id="article_id" value="{$article_id}"/>
                <!-- 基础 -->
                <div class="form-item cf">
                    <label class="item-label">内容类别</label>
                    <div class="controls">
                        <notempty name="_config_type">
                            <select class="text input-large" name="config_type" style="height: 30px;width: 400px;">
                                <volist name="_config_type" id="vo">
                                    <option value="{$vo.id}" >{$vo.name}</option>
                                </volist>
                            </select>
                            <else/>
                            <div  class="text-center"> aOh! 暂时还没有内容!</div>
                        </notempty>
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" onclick="setAdvantage();" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('/admin/article')}');
</script>
