* {
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.result-tips {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 1001;
  width: 160px;
  height: auto;
  min-height: 34px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -80px;
  margin-top: -35px;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips p {
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 5555;
  text-align: center;
  display: none;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
.nodata {
  display: none;
  text-align: center;
}
.nodata p {
  font-size: 16px;
  color: #757070;
  text-align: center;
}
.noscroll {
  height: 100%;
  overflow: hidden;
}
#downloadCon {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  max-height: 113px;
}
#downloadCon img {
  max-width: 100%;
}
#downloadCon a {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
  z-index: 10001;
}
#downloadCon-new {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 56px;
}
#downloadCon-new > img {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 12px;
  top: 7px;
  margin-right: 2px;
}
#downloadCon-new .words {
  margin-left: 63px;
  padding-top: 9px;
  color: white;
}
#downloadCon-new .words .title label {
  font-size: 16px;
}
#downloadCon-new .words .title .stars {
  margin-left: 5px;
}
#downloadCon-new .words .title .stars img {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
}
#downloadCon-new .words p {
  margin: 1px 0;
  font-size: 12px;
  color: #d3d3d3;
}
#downloadCon-new #download {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
  z-index: 10001;
}
/*IScroll的样式*/
.scroller {
  position: relative;
}
.pull-down,
.pull-up {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
}
.pull-down .pull-tips-main,
.pull-up .pull-tips-main {
  width: 120px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 9px;
  opacity: 0;
}
.pull-down .pull-tips-main .loading,
.pull-up .pull-tips-main .loading {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: sloading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.pull-down .pull-tips-main .t-label,
.pull-up .pull-tips-main .t-label {
  float: left;
  line-height: 25px;
  margin-left: 10px;
}
.pull-down .pull-tips-main .icon,
.pull-up .pull-tips-main .icon {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  background: url('http://pic.hisihi.com/2016-06-13/1465811180777234.png') 0 0 no-repeat;
  background-size: 25px 25px;
}
.pull-down {
  top: -50px;
}
.pull-down.loading {
  position: relative;
  top: 0;
}
.pull-up {
  bottom: -40px;
}
.pull-up.loading {
  bottom: 0;
}
@-webkit-keyframes sloading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.sshow {
  animation: sshow 200ms ease-in-out;
  animation-fill-mode: forwards;
}
.shide {
  animation: shide 400ms ease-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes sshow {
  from {
    display: block;
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes shide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}
@media screen and (min-width: 750px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
  #downloadCon,
  #downloadCon-new {
    width: 700px;
    left: 50%;
    margin-left: -350px;
  }
}
body {
  margin: 0;
  background: #FFFFFF;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
* {
  -webkit-user-select: none;
  /*�����ֻ����������û�ѡ������ */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "����", "����", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 40px;
  margin-left: -50px;
  margin-top: -20px;
  top: 50%;
  left: 50%;
  z-index: 555;
  text-align: center;
  display: none;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
/*����ҳ��*/
#work-detail-panel {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
  box-sizing: border-box;
}
#work-detail-panel #detail-main {
  overflow: hidden;
  margin: 0 0 40px 0;
  opacity: 0;
  position: relative;
}
#work-detail-panel #detail-main .touchSlider {
  width: 90%;
  height: 95%;
  margin: 0 auto;
}
#work-detail-panel #detail-main .touchSlider.app {
  margin: 2.5% auto;
}
#work-detail-panel #detail-main .touchSlider ul {
  height: 100%;
  white-space: nowrap;
  width: 100%;
}
#work-detail-panel #detail-main .touchSlider ul li {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
#work-detail-panel #detail-main .touchSlider ul li a {
  position: relative;
  display: block;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px #ADA8A8;
}
#work-detail-panel #detail-main .touchSlider ul li a img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
#work-detail-panel #detail-main .touchSlider ul li a img.nocover {
  max-width: 70%;
}
#work-detail-panel #detail-main #currentPage {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
#work-detail-panel #detail-main #currentPage ul {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}
#work-detail-panel #detail-main #currentPage ul li {
  float: left;
  width: 6px;
  height: 6px;
  list-style: none;
  background-color: #ccc;
  margin: 0 4px;
  border-radius: 6px;
}
#work-detail-panel #detail-main #currentPage ul li.active {
  background-color: white;
}
#work-detail-panel .detail-bottom-btns {
  display: none;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
}
#work-detail-panel .detail-bottom-btns.share-page-btns {
  width: 100%;
  height: 80px;
}
#work-detail-panel .detail-bottom-btns.share-page-btns .color-block {
  width: 185px;
  height: 45px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
}
#work-detail-panel .detail-bottom-btns.share-page-btns .color-block.down {
  background-color: #FF8638;
}
#work-detail-panel .detail-bottom-btns.share-page-btns .color-block span {
  color: white;
  font-size: 28px;
  display: inline-block;
  float: left;
}
#work-detail-panel .detail-bottom-btns.share-page-btns .color-block span:first-child {
  margin-left: 30px;
  line-height: 45px;
}
#work-detail-panel .detail-bottom-btns.share-page-btns .color-block span.label {
  font-size: 18px;
  margin-left: 6px;
  line-height: 50px;
}
#work-detail-panel .detail-bottom-btns.web-page-btns {
  width: 100%;
  height: 95px;
}
#work-detail-panel .detail-bottom-btns.web-page-btns > div {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item {
  float: left;
  width: 30%;
  text-align: center;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn {
  width: 53px;
  height: 73px;
  margin: 14px auto;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn .color-block {
  width: 53px;
  height: 53px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn .color-block.down {
  background-color: #FF8638;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn .color-block.link {
  margin: 0 3%;
  background-color: #039be5;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn .color-block.share {
  margin: 0 3%;
  background-color: #23a438;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn .color-block span {
  color: white;
  font-size: 26px;
  display: inline-block;
  line-height: 53px;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item .btn .label {
  margin-top: 5px;
  font-size: 13px;
  color: #838383;
}
#work-detail-panel .detail-bottom-btns.web-page-btns .item:nth-child(2) {
  margin-left: 3%;
  margin-right: 3%;
}
/*ģ̬����*/
.model-box {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.model-box .btns-main {
  height: 43px;
}
.model-box .btns-main > div {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: #007AFF;
  text-align: center;
  line-height: 43px;
}
.model-box .btns-main > div:nth-child(1) {
  border-right: 1px solid #ccc;
}
.model-box .btns-main > div:nth-child(1) div {
  display: block;
  width: 100%;
  height: 100%;
}
.model-box .email-box {
  position: absolute;
  background-color: #fff;
  top: 45%;
  left: 50%;
  width: 280px;
  height: 150px;
  border-radius: 9px;
  background-clip: padding-box;
  margin-top: -75px;
  margin-left: -140px;
}
.model-box .email-box .email-box-item {
  width: 88%;
  height: 43px;
  margin: 5px auto;
  line-height: 43px;
  text-align: center;
}
.model-box .email-box .email-box-item input {
  -webkit-user-select: text;
  /*�����ֻ����������û�ѡ������ */
  -moz-user-select: text;
  display: block;
  width: 100%;
  height: 35px;
  margin: 12px auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  background-clip: padding-box;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.model-box .email-box .email-box-item:last-child {
  width: 100%;
  border-top: 1px solid #ccc;
}
.model-box .email-box .email-box-item:first-child {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.model-box .email-box .email-box-item .btns-main div {
  color: #808080;
}
.model-box .email-box .email-box-item .btns-main div.abled {
  color: #000;
}
.model-box .login-tips-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -47px;
  margin-left: -140px;
  width: 280px;
  height: 94px;
  background-color: white;
  border-radius: 9px;
  background-clip: padding-box;
  display: none;
}
.model-box .login-tips-box * {
  font-size: 16px;
}
.model-box .login-tips-box .login-header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #000;
}
.imgzoom_pack {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 88888;
}
.imgzoom_pack .imgzoom_x {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 888888;
  cursor: pointer;
}
.imgzoom_pack .imgzoom_x span {
  display: inline-block;
  color: #fff;
  font-size: 35px;
}
.imgzoom_pack .imgzoom_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.imgzoom_pack .imgzoom_img img {
  width: 100%;
  position: absolute;
  top: 50%;
}
/*������*/
#downloadCon {
  display: none;
  width: 100%;
  height: atuo;
  position: absolute;
  z-index: 1000;
  top: 0;
  background-color: #9E9A98;
  opacity: 0;
}
#downloadCon .allDownImg {
  max-width: 100%;
  margin-bottom: 0;
}
#downloadCon span {
  position: absolute;
  right: 12px;
  display: inline-block;
  width: 21%;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 14px;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
/*��Ӧʽ��ʽ*/
@media screen and (min-width: 750px) {
  body {
    width: 560px;
    height: auto;
    margin: 0 auto;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?ysxw6v');
  src: url('fonts/icomoon.eot?ysxw6v#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?ysxw6v') format('truetype'), url('fonts/icomoon.woff?ysxw6v') format('woff'), url('fonts/icomoon.svg?ysxw6v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-link:before {
  content: "\e005";
}
.icon-search:before {
  content: "\e036";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-download:before {
  content: "\e069";
}
.icon-open:before {
  content: "\e128";
}
