body {
  margin: 0;
  background: #FFFFFF;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
* {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
}
img {
  max-width: 100%;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 555;
  text-align: center;
  display: none;
}
#loading-data .loding-img {
  width: 40;
  height: 40px;
  display: inline-block;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
/*详情页面*/
#work-detail-panel {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
  box-sizing: border-box;
}
#work-detail-panel #detail-main {
  overflow: hidden;
  margin: 0 0 40px 0;
  opacity: 0;
  position: relative;
}
#work-detail-panel #detail-main .touchSlider {
  width: 90%;
  height: 95%;
  margin: 0 auto;
}
#work-detail-panel #detail-main .touchSlider ul {
  height: 100%;
  white-space: nowrap;
  width: 100%;
}
#work-detail-panel #detail-main .touchSlider ul li {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
#work-detail-panel #detail-main .touchSlider ul li a {
  position: relative;
  display: block;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px #ADA8A8;
}
#work-detail-panel #detail-main .touchSlider ul li a img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#work-detail-panel #detail-main .touchSlider ul li a img.nocover {
  max-width: 70%;
}
#work-detail-panel #detail-main #currentPage {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}
#work-detail-panel #detail-main #currentPage ul {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}
#work-detail-panel #detail-main #currentPage ul li {
  float: left;
  width: 12px;
  height: 12px;
  list-style: none;
  background-color: #ccc;
  margin: 0 10px;
  border-radius: 12px;
}
#work-detail-panel #detail-main #currentPage ul li.active {
  background-color: white;
}
#work-detail-panel .detail-bottom-btns {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: white;
  position: absolute;
  bottom: 0;
}
#work-detail-panel .detail-bottom-btns .color-block {
  width: 185px;
  height: 45px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
}
#work-detail-panel .detail-bottom-btns .color-block.down {
  background-color: #FF8638;
}
#work-detail-panel .detail-bottom-btns .color-block span {
  color: white;
  font-size: 28px;
  display: inline-block;
  float: left;
}
#work-detail-panel .detail-bottom-btns .color-block span:first-child {
  margin-left: 30px;
  line-height: 45px;
}
#work-detail-panel .detail-bottom-btns .color-block span.label {
  font-size: 18px;
  margin-left: 6px;
  line-height: 50px;
}
/*模态窗口*/
.model-box {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.model-box .btns-main {
  height: 43px;
}
.model-box .btns-main > div {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: #007AFF;
  text-align: center;
  line-height: 43px;
}
.model-box .btns-main > div:nth-child(1) {
  border-right: 1px solid #ccc;
}
.model-box .btns-main > div:nth-child(1) div {
  display: block;
  width: 100%;
  height: 100%;
}
.model-box .email-box {
  position: absolute;
  background-color: #fff;
  top: 45%;
  left: 50%;
  width: 280px;
  height: 150px;
  border-radius: 9px;
  background-clip: padding-box;
  margin-top: -75px;
  margin-left: -140px;
}
.model-box .email-box .email-box-item {
  width: 88%;
  height: 43px;
  margin: 5px auto;
  line-height: 43px;
  text-align: center;
}
.model-box .email-box .email-box-item input {
  -webkit-user-select: text;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: text;
  display: block;
  width: 100%;
  height: 35px;
  margin: 12px auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  background-clip: padding-box;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.model-box .email-box .email-box-item:last-child {
  width: 100%;
  border-top: 1px solid #ccc;
}
.model-box .email-box .email-box-item:first-child {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.model-box .email-box .email-box-item .btns-main div {
  color: #808080;
}
.model-box .email-box .email-box-item .btns-main div.abled {
  color: #000;
}
.model-box .login-tips-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -47px;
  margin-left: -140px;
  width: 280px;
  height: 94px;
  background-color: white;
  border-radius: 9px;
  background-clip: padding-box;
  display: none;
}
.model-box .login-tips-box * {
  font-size: 16px;
}
.model-box .login-tips-box .login-header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #000;
}
.result-tips {
  position: fixed;
  width: 200px;
  height: auto;
  min-height: 50px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -100px;
  margin-top: -35px;
  top: 40%;
  left: 50%;
  z-index: 1001;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips p {
  color: white;
  font-size: 15px;
  text-align: center;
}
/*下载条*/
#downloadCon {
  width: 100%;
  height: atuo;
  position: absolute;
  z-index: 1000;
  top: 0;
  background-color: #9E9A98;
  opacity: 0;
}
#downloadCon .allDownImg {
  max-width: 100%;
  margin-bottom: 0;
}
#downloadCon a {
  position: absolute;
  right: 12px;
  display: inline-block;
  width: 21%;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 14px;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
/*响应式样式*/
@media screen and (min-width: 750px) {
  body {
    width: 560px;
    height: auto;
    margin: 0 auto;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?a9rbl0');
  src: url('fonts/icomoon.eot?a9rbl0#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?a9rbl0') format('truetype'), url('fonts/icomoon.woff?a9rbl0') format('woff'), url('fonts/icomoon.svg?a9rbl0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-link:before {
  content: "\e005";
}
.icon-search:before {
  content: "\e036";
}
.icon-download:before {
  content: "\e069";
}
.icon-open:before {
  content: "\e128";
}
.icon-spinner8:before {
  content: "\e900";
}
