* {
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Microsoft Yahei", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.btn:active {
  transform: scale(0.8);
}
.font-icon {
  display: inline-block;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.result-tips {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 1001;
  width: 160px;
  height: auto;
  min-height: 34px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -80px;
  margin-top: -35px;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  display: none;
}
.result-tips p {
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 5555;
  text-align: center;
  display: none;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
.nodata {
  display: none;
  text-align: center;
}
.nodata p {
  font-size: 16px;
  color: #757070;
  text-align: center;
}
.noscroll {
  height: 100%;
  overflow: hidden;
}
#downloadCon {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  max-height: 113px;
}
#downloadCon img {
  max-width: 100%;
}
#downloadCon a {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  background-color: #FF5A00;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
  z-index: 10001;
}
#downloadCon-new {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 56px;
}
#downloadCon-new > img {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 12px;
  top: 7px;
  margin-right: 2px;
}
#downloadCon-new .words {
  margin-left: 63px;
  padding-top: 9px;
  color: white;
}
#downloadCon-new .words .title label {
  font-size: 16px;
}
#downloadCon-new .words .title .stars {
  margin-left: 5px;
}
#downloadCon-new .words .title .stars img {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
}
#downloadCon-new .words p {
  margin: 1px 0;
  font-size: 12px;
  color: #d3d3d3;
}
#downloadCon-new #download {
  width: 80px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 12px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 2px;
  line-height: 32px;
  z-index: 10001;
}
/*IScroll的样式*/
.scroller {
  position: relative;
}
.pull-down,
.pull-up {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
}
.pull-down .pull-tips-main,
.pull-up .pull-tips-main {
  width: 120px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 9px;
  opacity: 0;
}
.pull-down .pull-tips-main .loading,
.pull-up .pull-tips-main .loading {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: sloading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.pull-down .pull-tips-main .t-label,
.pull-up .pull-tips-main .t-label {
  float: left;
  line-height: 25px;
  margin-left: 10px;
}
.pull-down .pull-tips-main .icon,
.pull-up .pull-tips-main .icon {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  background: url('http://pic.hisihi.com/2016-06-13/1465811180777234.png') 0 0 no-repeat;
  background-size: 25px 25px;
}
.pull-down {
  top: -50px;
}
.pull-down.loading {
  position: relative;
  top: 0;
}
.pull-up {
  bottom: -40px;
}
.pull-up.loading {
  bottom: 0;
}
@-webkit-keyframes sloading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.sshow {
  animation: sshow 200ms ease-in-out;
  animation-fill-mode: forwards;
}
.shide {
  animation: shide 400ms ease-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes sshow {
  from {
    display: block;
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes shide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}
@media screen and (min-width: 750px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
  #downloadCon,
  #downloadCon-new {
    width: 700px;
    left: 50%;
    margin-left: -350px;
  }
}
@media screen and (max-width: 320px) {
  #downloadCon-new > img {
    left: 10px;
  }
  #downloadCon-new .words {
    margin-left: 61px;
  }
  #downloadCon-new #download {
    width: 74px;
    height: 30px;
    margin-top: -13px;
    font-size: 13px;
    right: 10px;
    line-height: 30px;
  }
}
::-webkit-search-cancel-button {
  display: none;
}
body {
  margin: 0;
  background: #FFFFFF;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
.font-icon {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 40px;
  margin-left: -50px;
  margin-top: -20px;
  top: 50%;
  left: 50%;
  z-index: 555;
  text-align: center;
  display: none;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
#loading-data.active {
  display: block;
}
#loading-data.active .loding-img {
  animation: turning 1s linear infinite;
}
.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
}
.header .nav-tabs-bar .nav-bar {
  width: 100%;
  height: 40px;
  background-color: #212121;
  color: white;
}
.header .nav-tabs-bar .nav-bar > div {
  float: left;
  text-align: center;
}
.header .nav-tabs-bar .nav-bar > div > span {
  line-height: 40px;
  display: inline-block;
}
.header .nav-tabs-bar .nav-bar .nav-bar-title {
  width: 100%;
}
.header .nav-tabs-bar .nav-bar .nav-bar-title .nav-bar-middle {
  line-height: 40px;
  font-size: 18px;
  opacity: 0;
}
.header .nav-tabs-bar .nav-bar .nav-bar-left {
  width: 40px;
  margin-left: -100%;
}
.header .nav-tabs-bar .nav-bar .nav-bar-left > span {
  font-size: 35px;
}
.header .nav-tabs-bar .nav-bar .nav-bar-right {
  width: 40px;
  margin-left: -40px;
}
.header .nav-tabs-bar .nav-bar .nav-bar-right > span {
  font-size: 21px;
}
.header .nav-tabs-bar #tabs-bar {
  opacity: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  border-bottom: 10px solid #E0E0E0;
}
.header .nav-tabs-bar #tabs-bar ul {
  height: 100%;
  white-space: nowrap;
  width: 100%;
}
.header .nav-tabs-bar #tabs-bar ul li {
  color: #212121;
  height: 42px;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  line-height: 40px;
}
.header .nav-tabs-bar #tabs-bar ul li:first-child {
  margin-left: 14px;
}
.header .nav-tabs-bar #tabs-bar ul li:last-child {
  margin-right: 14px;
}
.header .nav-tabs-bar #tabs-bar ul li.active {
  color: #ff5a00;
}
.header .nav-tabs-bar #tabs-bar ul .line {
  width: 25%;
  height: 2px;
  background-color: #CC6B2C;
  position: absolute;
  left: 0;
  top: 40px;
  display: block;
}
.header .nav-tabs-bar #tabs-bar .line {
  position: absolute;
  left: 14px;
  top: 40px;
  display: inline-block;
  height: 2px;
  width: 98px;
  background-color: #ff5a00;
}
.header .nav-tabs-bar #tabs-bar .cover-scrollbar {
  height: 8px;
  width: 100%;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 8888888;
}
.header #search-bar {
  display: none;
  position: absolute;
  height: 48px;
  background-color: #E3E3E3;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;
}
.header #search-bar .search-box {
  margin-right: 120px;
  height: 100%;
}
.header #search-bar .search-box .search-box-bg {
  position: relative;
  width: 100%;
  height: 28px;
  background-color: #fff;
  border-radius: 13px;
  background-clip: padding-box;
}
.header #search-bar .search-box .search-box-bg .font-icon {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  color: #BDBDBD;
  text-align: center;
  line-height: 24px;
  margin-top: 3px;
  margin-left: 5px;
  border-radius: 13px;
  background-clip: padding-box;
}
.header #search-bar .search-box .search-box-bg #search-txt {
  display: block;
  border: none;
  margin-left: 28px;
  height: 100%;
  width: 80%;
  outline: none;
  color: #212121;
  box-sizing: border-box;
  -webkit-user-select: text;
  font-size: 14px;
}
.header #search-bar .search-box .search-box-bg #search-txt:focus {
  outline: 0;
  box-shadow: none;
}
.header #search-bar .search-btns {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 100%;
}
.header #search-bar .search-btns > div {
  line-height: 48px;
  display: inline-block;
  width: 35%;
  margin-right: 10px;
  text-align: center;
  color: #929292;
}
.header #search-bar .search-btns > div.active {
  color: #000;
}
#main-content {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
#main-content .wrapper {
  height: 100%;
  background-color: #fff;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  float: left;
}
#main-content .wrapper .lists-ul {
  width: 90%;
  margin: 80px auto 140px auto;
  padding-top: 25px;
  box-sizing: border-box;
  padding-bottom: 90px;
}
#main-content .wrapper .lists-ul > ul {
  border-top: 1px solid #E6E6E6;
}
#main-content .wrapper .lists-ul > ul:first-child {
  border: none;
}
#main-content .wrapper .lists-ul > ul li {
  float: left;
  margin: 12px 0;
  width: 30%;
  min-height: 130px;
  overflow: hidden;
}
#main-content .wrapper .lists-ul > ul li .img-box img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
#main-content .wrapper .lists-ul > ul li:nth-child(3n-1) {
  margin-left: 5%;
  margin-right: 5%;
}
#main-content .wrapper .lists-ul > ul li.border {
  border-bottom: 1px;
}
#main-content .wrapper .lists-ul > ul li.marginTop {
  margin-top: 20px;
}
#main-content .wrapper .lists-ul > ul li .title {
  color: #525252;
  margin-top: 5px;
  font-size: 12px;
  overflow: hidden;
}
#main-content .wrapper .lists-ul .no-works {
  margin-top: 30px;
  color: #808080;
  font-size: 14px;
  text-align: center;
}
#main-content .wrapper#list-wrapper-search .lists-ul {
  margin-top: 17px;
  padding-bottom: 60px;
  padding-top: 2px;
}
#main-content .wrapper#list-wrapper-search .pullUp {
  bottom: 0;
}
#main-content .scroller .up_down {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
  display: none;
}
#main-content .scroller .pull-down {
  top: -20px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
  display: none;
}
#main-content .scroller .pull-up {
  bottom: 30px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  position: absolute;
  width: 100%;
  display: none;
}
#main-content .scroller .font-icon {
  display: inline-block;
  font-size: 16px;
  width: 18px;
  height: 18px;
  color: #D1D1D1;
}
#main-content .scroller .font-icon.icon-arrow-up.flip {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#main-content .scroller .font-icon.icon-arrow-down.flip {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#main-content .scroller .font-icon.loading {
  margin-right: 3px;
  background: url(../../images/topcontent/loading2.svg);
  -webkit-animation: loading 1s steps(12, end) infinite;
}
@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
#main-content .scroller .label-tips {
  vertical-align: 2px;
  color: #D1D1D1;
}
#main-content #all-scroll-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main-content #search-result-panel {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}
#main-content #search-result-panel .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#main-content #search-result-panel .pull-down {
  top: -40px;
}
#main-content #search-result-panel .pull-up {
  bottom: 10px;
}
/*����ҳ��*/
#work-detail-panel {
  display: none;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #E3E3E3;
}
#work-detail-panel #detail-main {
  overflow: hidden;
  margin: 40px 0;
  opacity: 1;
  position: relative;
}
#work-detail-panel #detail-main .touchSlider {
  width: 90%;
  height: 95%;
  margin: 0 auto;
}
#work-detail-panel #detail-main .touchSlider ul {
  height: 100%;
  white-space: nowrap;
  width: 100%;
}
#work-detail-panel #detail-main .touchSlider ul li {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
#work-detail-panel #detail-main .touchSlider ul li a {
  position: relative;
  display: block;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px #ADA8A8;
  background-color: #fff;
}
#work-detail-panel #detail-main .touchSlider ul li a img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
#work-detail-panel #detail-main .touchSlider ul li a img.nocover {
  max-width: 70%;
}
#work-detail-panel #detail-main #currentPage {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}
#work-detail-panel #detail-main #currentPage ul {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}
#work-detail-panel #detail-main #currentPage ul li {
  float: left;
  width: 6px;
  height: 6px;
  list-style: none;
  background-color: #ccc;
  margin: 0 4px;
  border-radius: 100%;
}
#work-detail-panel #detail-main #currentPage ul li.active {
  background-color: white;
}
#work-detail-panel #detail-main .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#work-detail-panel #detail-main .filter * {
  width: 100%;
  height: 100%;
}
#work-detail-panel #detail-main .filter img {
  -webkit-filter: blur(50px);
  -moz-filter: blur(10px);
  /* Chrome, Opera */
  -ms-filter: blur(10px);
  filter: blur(50px);
  z-index: 1;
}
#work-detail-panel #detail-main .filter .filterUp {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
#work-detail-panel .detail-bottom-btns {
  width: 100%;
  height: 95px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
}
#work-detail-panel .detail-bottom-btns > div {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
#work-detail-panel .detail-bottom-btns .item {
  float: left;
  width: 30%;
  text-align: center;
}
#work-detail-panel .detail-bottom-btns .item .btn {
  width: 53px;
  height: 73px;
  margin: 14px auto;
}
#work-detail-panel .detail-bottom-btns .item .btn .color-block {
  width: 53px;
  height: 53px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-clip: padding-box;
}
#work-detail-panel .detail-bottom-btns .item .btn .color-block.down {
  background-color: #FF8638;
}
#work-detail-panel .detail-bottom-btns .item .btn .color-block.link {
  margin: 0 3%;
  background-color: #039be5;
}
#work-detail-panel .detail-bottom-btns .item .btn .color-block.share {
  margin: 0 3%;
  background-color: #23a438;
}
#work-detail-panel .detail-bottom-btns .item .btn .color-block span {
  color: white;
  font-size: 26px;
  display: inline-block;
  line-height: 53px;
}
#work-detail-panel .detail-bottom-btns .item .btn .label {
  margin-top: 5px;
  font-size: 13px;
  color: #838383;
}
#work-detail-panel .detail-bottom-btns .item:nth-child(2) {
  margin-left: 3%;
  margin-right: 3%;
}
/*ģ̬����*/
.model-box {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.model-box .btns-main {
  height: 43px;
}
.model-box .btns-main > div {
  width: 50%;
  box-sizing: border-box;
  float: left;
  color: #007AFF;
  text-align: center;
  line-height: 43px;
}
.model-box .btns-main > div:nth-child(1) {
  border-right: 1px solid #ccc;
}
.model-box .btns-main > div:nth-child(1) div {
  display: block;
  width: 100%;
  height: 100%;
}
.model-box .email-box {
  position: absolute;
  background-color: #fff;
  top: 45%;
  left: 50%;
  width: 280px;
  height: 150px;
  border-radius: 9px;
  background-clip: padding-box;
  margin-top: -75px;
  margin-left: -140px;
}
.model-box .email-box .email-box-item {
  width: 88%;
  height: 43px;
  margin: 5px auto;
  line-height: 43px;
  text-align: center;
}
.model-box .email-box .email-box-item input {
  -webkit-user-select: text;
  /*�����ֻ����������û�ѡ������ */
  -moz-user-select: text;
  display: block;
  width: 100%;
  height: 35px;
  margin: 12px auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  background-clip: padding-box;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.model-box .email-box .email-box-item:last-child {
  width: 100%;
  border-top: 1px solid #ccc;
}
.model-box .email-box .email-box-item:first-child {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.model-box .email-box .email-box-item .btns-main div {
  color: #808080;
}
.model-box .email-box .email-box-item .btns-main div.abled {
  color: #000;
}
.model-box .login-tips-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -47px;
  margin-left: -140px;
  width: 280px;
  height: 94px;
  background-color: white;
  border-radius: 9px;
  background-clip: padding-box;
  display: none;
}
.model-box .login-tips-box * {
  font-size: 16px;
}
.model-box .login-tips-box .login-header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #000;
}
.imgzoom_pack {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 88888;
}
.imgzoom_pack .imgzoom_x {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 888888;
  cursor: pointer;
}
.imgzoom_pack .imgzoom_x span {
  display: inline-block;
  color: #fff;
  font-size: 35px;
}
.imgzoom_pack .imgzoom_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.imgzoom_pack .imgzoom_img img {
  width: 100%;
  position: absolute;
  top: 50%;
  box-shadow: 0 2px 5px rgba(33, 33, 33, 0.35);
}
@keyframes turning {
  to {
    transform: rotate(360deg);
  }
}
/*��Ӧʽ��ʽ*/
@media screen and (min-width: 750px) {
  body {
    width: 560px;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .header #search-bar .search-box {
    margin-right: 95px;
  }
  .header #search-bar .search-box .search-box-bg #search-txt {
    margin-left: 30px;
  }
  .header #search-bar .search-btns {
    width: 95px;
    height: 100%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?3uv8if');
  src: url('fonts/icomoon.eot?3uv8if#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?3uv8if') format('truetype'), url('fonts/icomoon.woff?3uv8if') format('woff'), url('fonts/icomoon.svg?3uv8if#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-link:before {
  content: "\e005";
}
.icon-search:before {
  content: "\e036";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-download:before {
  content: "\e069";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-open:before {
  content: "\e128";
}
.icon-spinner3:before {
  content: "\e901";
}
