<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>嘿设汇-云作业</title>

    <!--  CSS -->
    <link href="__CSS__/hiworks_style.css?v=1.0.0" rel="stylesheet">

</head>

<body>
    <!-- /.container-fluid -->

    <nav class="nav-logo">
        <p>嘿设汇-云作业</p>
    </nav>

    <div class="nav-options">
        <div class="container">
            <volist name="children_cates" id="cat">
               <a id="cate" class="{$cat.class}" href="{:U('index/',array('cate'=>$cat['id']))}">
                   {$cat.title}
               </a>
            </volist>
        </div>
    </div>

    <div class="box-body">
        <div class="container">
            <ul class="list-picture">
                <volist name="list" id="data">
                    <li>
                        <div class="list-item">
                            <div class="list-top">
                                <a class="fancybox" rel="fancybox-button" href="http://pic.yupoo.com/hiskyido/EyztrgXd/medish.jpg">
                                    <span class="top-title" title="{$data.title|op_t}">{$data.title|op_t}</span>
                                </a>
                            </div>
                            <a href="#" class="item-title">{$data.title|op_t}</a>
                            <div class="item-foot">
                                <p class="foot-left">大小:{$data.size|op_t}</p>
                                <a href="/hiworks_list.php/file/download/id/{$data['id']}" class="foot-right"><i class="fa fa-cloud-download"></i>下载</a>
                            </div>
                        </div>
                    </li>
                </volist>
            </ul>
            <nav style="text-align: right">
                <article:page cate="$category['id']" listrow="12"/>
            </nav>
        </div>
    </div>

    <footer class="footer">
        <p>Copyright©2015-2016 www.hisihi.com All Rights Reserved. 武汉迅牛科技有限公司</p>
        <p>鄂ICP备15003238号</p>
    </footer>

    <!-- jQuery -->
    <script src="__JS__/jquery.js?v=1.11.1"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__JS__/bootstrap.min.js?v=3.3.4"></script>

    <!-- fancyBox -->
    <link rel="stylesheet" href="__JS__/fancyBox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="__JS__/fancyBox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="__JS__/fancyBox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="__JS__/fancyBox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="__JS__/fancyBox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <script>
    $(document).ready(function() {
        $(".fancybox").fancybox({
            prevEffect      : 'none',
            nextEffect      : 'none',
            closeBtn        : false,
            helpers     : {
                title   : { type : 'inside' },
                buttons : {}
            }
        });
    });
    </script>
</body>

</html>
