<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>嘿设汇-云作业</title>

    <!--  CSS -->
    <link href="__CSS__/hiworks_style.css?v=1.0.0" rel="stylesheet">

</head>

<body>

<nav class="nav-header">
    <div class="container">
        <img  class="nav-logo" src="__IMG__/logo.png" alt="">
        <div class="nav-list-box">
            <ul class="nav-list">
                <volist name="category" id="cat">
                        <if condition="$current eq $cat.id "><li class="active">
                            <else /> <li>
                        </if>
                        <a id="cate" class="nav-list-item" href="{:U('index/',array('cate'=>$cat['id']))}">
                            {$cat.title}
                        </a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
</nav>
<!-- /.nav-header -->

<div class="nav-body">
    <div class="container">
        <ul class="nav-item">
            <volist name="children_cates" id="cat">
                <if condition="$subCurrent eq $cat.id "><li class="active">
                    <else /> <li>
                </if>
                    <a href="{:U('index/',array('cate'=>$cat['id'], 'sub'=>1, 'base'=>$current))}">{$cat.title}</a>
                </li>
            </volist>
        </ul>
    </div>
</div>
<!-- /.nav-body -->


<div class="box-body">
    <div class="container">
        <ul class="list-picture">
            <volist name="list" id="data">
                <li>
                    <a href="/hiworks_list.php/file/download/id/{$data['id']}" class="list-item">
                        <img src="{$data.pic_url|default='http://hisihi-other.oss-cn-qingdao.aliyuncs.com/hotkeys/hiwork_placeholder.jpg'}" alt="">
                        <p class="list-item-txt">{$data.title|op_t}</p>
                        <span class="list-icon-box"></span>
                        <span class="list-item-icon"></span>
                    </a>
                </li>
            </volist>
        </ul>
        <!-- /.list-picture -->

        <div class="nav-pag">
            <article:page cate="$detail_cate" listrow="12"/>
        </div>
    </div>
</div>

<input id="downloadId" type="hidden" value="{$download|default=0}">

<footer class="footer">
    <p>Copyright©2015-2016 www.hisihi.com All Rights Reserved. 武汉迅牛科技有限公司</p>
    <p>鄂ICP备15003238号</p>
</footer>
<!-- /.footer -->

<!-- jQuery -->
<script src="__JS__/jquery.js?v=1.11.1"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__JS__/bootstrap.min.js?v=3.3.4"></script>
<script>
    var downloadId = document.getElementById('downloadId').value;
    if(downloadId!=0){
        window.location = "http://hisihi.com/hiworks_list.php/file/download/id/"+downloadId;
    }
</script>
</body>

</html>
