<div class="header">
 
	<div class="navbar-content">

		<div class="nav nav-right">
 
			<div class="nav-item nav-user" id="orgLogoAndName">
				<div class="nav-img user-img">
					<img id="headerLogo" src="__IMG__/lessonCover.png" alt="">
				</div>
				<p class="user-name" id="headOrgName"></p>
			</div>
			<!-- /.nav-item -->

			<div class="nav-item" id="headerLoginOut">
				<a href="#" class="nav-link"><span class="icon icon-close"></span>退出登录</a>
			</div>
			<!-- /.nav-item -->

		</div>
		<!-- /.nav nav-right -->

	</div>
	<!-- /.navbar-content -->
</div>


<!-- /.header -->
