<div class="sidemenu">

    <div class="side-logo">
        <img src="__IMG__/logo.png" alt="">
    </div>

    <ul class="side-list">
        <li>
            <a href="#" class="side-item active">
                <span class="icon icon-home"></span>
                <p class="item-txt">首页</p>
            </a>
        </li>
        <li>
            <a href="#" class="side-item">
                <span class="icon icon-information"></span>
                <p class="item-txt">基本信息</p>
            </a>
        </li>
        <li>
            <a href="#" class="side-item">
                <span class="icon icon-teacher"></span>
                <p class="item-txt">我的老师</p>
            </a>
        </li>
        <li>
            <a href="#" class="side-item">
                <span class="icon icon-video"></span>
                <p class="item-txt">视频教程</p>
            </a>
        </li>
        <li>
            <a href="#" class="side-item">
                <span class="icon icon-works"></span>
                <p class="item-txt">学生作品</p>
            </a>
        </li>
        <li>
            <a href="#" class="side-item">
                <span class="icon icon-imac"></span>
                <p class="item-txt">教学环境</p>
            </a>
        </li>
        <li>
            <a href="#" class="side-item">
                <span class="icon icon-medal"></span>
                <p class="item-txt">认证管理</p>
            </a>
        </li>
    </ul>

</div>
<!-- /.sidemenu -->