<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>嘿设汇-机构</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Resource-type" content="Document" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	
</head>
<body>
	
	<div class="sidemenu">
		
		<div class="side-logo">
			<img src="images/logo.png" alt="">
		</div>

	</div>
	<!-- /.sidemenu -->

	<div class="wrapper">

		<div class="header">
			
			<div class="navbar-content">

				<div class="nav nav-right">

					<div class="nav-item nav-user">
						<div class="nav-img user-img">
							<img src="http://pic.yupoo.com/sayhelloto/DuglltE4/small.jpg" alt="">
						</div>
						<p class="user-name">黑社会设计学院</p>
					</div>
					<!-- /.nav-item -->

					<div class="nav-item">
						<a href="#" class="nav-link"><span class="icon icon-close"></span>退出登录</a>
					</div>
					<!-- /.nav-item -->

				</div>
				<!-- /.nav nav-right -->

			</div>
			<!-- /.navbar-content -->

		</div>
		<!-- /.header -->

		<div class="frame-content">
			
		</div>
		<!-- /.frame-content -->

		<div class="footer">
			
		</div>
		<!-- /.footer -->
		
	</div>
	<!-- /.wrapper  -->
	
</body>
</html>
