<div class="sidemenu scroll-bar">

	<div class="user-box">
		{{ image("img/medish.jpg", "alt": "userNameIMG", 'class':'user-img') }}
		<p class="user-name">UserName</p>
	</div>
	<!-- /.user-box -->
	
	<ul class="nav nav-side">
		<li>
			{{ link_to("#", "<i class='fa fa-tachometer'></i>主面板") }}
		</li>
		<!-- active -->
		<li>
			{{ link_to("#", "<i class='fa fa-user-secret'></i>管理员管理") }}
			<ul class="nav nav-deputy">
				<li class="active">
					{{ link_to("#", "管理员列表") }} 
				</li>
				<li>
					{{ link_to("#", "添加管理员") }}
				</li>
			</ul>
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-cogs'></i>系统全局配置") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-file-image-o'></i>图片管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-tags'></i>标签与分类管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-users'></i>用户管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-envelope-o'></i>邮件系统") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-credit-card'></i>支付系统") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-list'></i>订单管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-newspaper-o'></i>资讯管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-building-o'></i>店铺管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-adn'></i>广告管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-comments-o'></i>评论管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-bar-chart'></i>数据报表") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-file-text-o'></i>日志查看") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-bell-o'></i>通知系统") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-weibo'></i>第三方登录管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-share-alt'></i>分享管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-plug'></i>API接口管理") }}
		</li>
		<li>
			{{ link_to("#", "<i class='fa fa-puzzle-piece'></i>插件管理") }}
		</li>
	</ul>

</div>