<extend name="Public/base" />
<block name="body">
    <link href="__CSS__/company/areaselect.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        .form-item{
            margin: 20px 10px;
        }
        .location-info-box{
            position: relative;
            height: 175px;
        }
        #addressProvince,#addressCity{
            width:183px;
            margin-right: 10px;
            margin-bottom: 15px;
        }
    </style>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>添加招聘信息</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('recruitUpdate')}" method="post" class="form-horizontal doc-modal-form">
                <input type="hidden" name="company_id" id="company_id" value="{$company_id}"/>
                <input type="hidden" name="rid" id="rid" value="{$rid}"/>
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <div class="form-item cf">
                        <label class="item-label">职位名称</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="job" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">薪酬</label>
                        <div class="controls">
                            <!--<input type="text" class="text input-large" name="salary" value="">-->
                            <notempty name="_salary">
                                <select class="text input-large" name="salary" style="height: 30px;width: 400px;">
                                    <volist name="_salary" id="vo">
                                        <option value="{$vo.value}" >{$vo.value_explain}</option>
                                    </volist>
                                </select>
                                <else/>
                                <div  class="text-center"> aOh! 暂时还没有内容!</div>
                            </notempty>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">职位要求</label>
                        <div class="controls">
                            <notempty name="requirement">
                                <ul id="requirement_ul" class="dowebok">
                                    <volist name="requirement" id="vo">
                                        <li><input type="checkbox" id="{$vo.id}"  data-labelauty="{$vo.value}"></li>
                                    </volist>
                                </ul>
                                <else/>
                                <div  class="text-center"> aOh! 暂时还没有内容!</div>
                            </notempty>
                            <input type="hidden" class="text input-large" name="requirement" id="advantage" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">标签</label>
                        <div class="controls">
                            <notempty name="marks">
                                <ul id="marks_ul" class="dowebok">
                                    <volist name="marks" id="mvo">
                                        <li><input type="checkbox" id="{$mvo.id}"  data-labelauty="{$mvo.value}"></li>
                                    </volist>
                                </ul>
                                <else/>
                                <div  class="text-center"> aOh! 暂时还没有内容!</div>
                            </notempty>
                            <input type="hidden" class="text input-large" name="marks" id="marks" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">职位描述</label>
                        <div class="controls">
                            <textarea name="description" style="height: 300px;width: 500px;"></textarea>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">岗位要求</label>
                        <div class="controls">
                            <textarea name="skills" style="height: 300px;width: 500px;"></textarea>
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">学历</label>
                        <div class="controls">
                            <!--<input type="text" class="text input-large" name="education" value="">-->
                            <select name="education">
                                <option value="不限">不限</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="硕士及以上学历">硕士及以上学历</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">工作性质</label>
                        <div class="controls">
                            <!--<input type="text" hidden class="text input-large" name="type_of_job" value="">-->
                            <select name="type_of_job">
                                <option value="全职">全职</option>
                                <option value="兼职">兼职</option>
                                <option value="实习">实习</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">工作经验</label>
                        <div class="controls">
                            <!--<input type="text" class="text input-large" name="work_experience" value="">-->
                            <select name="work_experience">
                                <option value="应届毕业生">应届毕业生</option>
                                <option value="3年以下">3年以下</option>
                                <option value="3-5年">3-5年</option>
                                <option value="5-10年">5-10年</option>
                                <option value="10年">10年以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">招聘截止时间</label>
                        <div class="controls">
                            <input type="text" name="end_time" class="text input-large time" value="" placeholder="请选择时间" />
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">工作地址</label>
                        <div class="controls location-info-box">
                            <div>
                                <input class="text input-large" placeholder="请选择省/直辖市" value="" name="location" id="addressProvince"/>
                                <input class="text input-large" placeholder="请选择市/区" value="" name="location" id="addressCity"/>
                            </div>
                            <input type="text" class="text input-large" hidden name="work_city" value="" id="city">
                            <input  class="text input-large" placeholder="详细街道" value="" name="work_location" id="address"/>
                            <span class="basicFormInfoError"></span>
                        </div>
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn ajax-post no-refresh" onclick="setAdvantage();" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<script>
    //导航高亮
    highlight_subnav('{:U('Company/index')}');
</script>
<block name="script">
    <link href="__STATIC__/labelauty/jquery-labelauty.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/labelauty/jquery-labelauty.js"></script>
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <style>
        .dowebok{list-style-type: none;}
        .dowebok li{display: inline-block;}
        .dowebok li{margin: 10px 5px;}
        input.labelauty + label{font:12px "Microsoft Yahei";}
    </style>
    <script>
        $(function() {
            $(':input').labelauty();
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language: "zh-CN",
                minView: 2,
                autoclose: true
            });
            window.setAdvantage = function () {
                var advantage = "";
                $.each($("#requirement_ul li"), function (i, n) {
                    var li = $(this);
                    var span = li.find("span:visible");
                    var input = li.find("input");
                    var classattr = span.attr("class");
                    if (classattr == "labelauty-checked-image") {
                        advantage += (input.attr("id") + "#");
                    }
                });
                advantage = advantage.substring(0, advantage.length - 1);
                $("#advantage").val(advantage);

                var marks = "";
                $.each($("#marks_ul li"), function (i, n) {
                    var li = $(this);
                    var span = li.find("span:visible");
                    var input = li.find("input");
                    var classattr = span.attr("class");
                    if (classattr == "labelauty-checked-image") {
                        marks += (input.attr("id") + "#");
                    }
                });
                marks = marks.substring(0, marks.length - 1);
                $("#marks").val(marks);

                //城市
                $('#city').val($('#addressProvince').val() +' '+ $('#addressCity').val());
            }
        });

        window.urlObj={
            js:'__JS__'
        }
    </script>
    <script type="text/javascript" src="__JS__/require.js" data-main="__JS__/company/config.js"></script>
</block>