/*1590 达特茅斯汁剑*/
body{
  padding: 0;
  margin: 0;
}
.clear {
  clear: both;
}
.user-info {
  width: 100%;
  height: 80px;
  .user-img {
    padding:14px 10px;
    float: left;
    >img {
      .size(50px,50px);
      border-radius: 50px;
    }
  }
  .user-txt {
    float: left;
    .name {
      color: #212121;
      font-size: 14px;
    }
    .type {
      color: #808080;
      font-size: 10px;
    }
  }
}
.wrapper {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  opacity: 1;
  .content {
    padding: 10px 13px 0 10px;
    //帖子详情
    .info-post {
      margin-top: 2px;
      color: #212121;
      font-size: 14px;
      .post-txt {
        margin: 0px;
        .topic-name {
          color: #4A90E2;
        }
      }
    }
    //帖子图片
    .post-img {
      margin-bottom: 2%;
      .img {
        display: inline-block;
        float: left;
        overflow: hidden;
        max-width: 40%;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        > img {
          width: 100%;
          height: 100%;
        }
      }

    }
    //定位
    .location-box {
      position: relative;
      display: inline-block;
      height: 20px;
      background-color: #E5E5E5;
      color: #808080;
      border-radius: 5px;
      margin-top: 14px;
      font-size: 10px;
      img {
        border: 0;
      }
      #location-img {
        float: left;
        border: none;
        background: url("../../images/forum/location.png") no-repeat;
        background-size: 36px*0.3 48px*0.3;
        height: 15px;
        width: 11px;
        margin-left: 5px;
        margin-top: 3px;
      }
      .location {
        float: left;
        line-height: 20px;
        padding-left: 5px;
        padding-right: 7px;
      }
    }
    //点赞区
    .footer {
      //float: left;
      .like-people {

      }
      .like-num {

      }
      .like-btn {

      }
    }
  }
}