/*1590 达特茅斯汁剑*/
body{
  padding: 0;
  margin: 0;
}
p{
  margin: 0px;
}
img {
  border: 0px;
}
.clear {
  clear: both;
}
.user-info {
  width: 100%;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  .user-img {
    float: left;
    padding-right: 10px;
    >img {
      .size(50px,50px);
      border-radius: 50px;
    }
  }
  .user-txt {
    float: left;
    padding-top: 8px;
    .name {
      color: #212121;
      font-size: 14px;
      padding-bottom: 2px;
    }
    .type {
      color: #808080;
      font-size: 10px;
      .time {
        padding-right: 6px;
      }
    }
  }
}
.wrapper {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  opacity: 1;
  .content {
    padding: 10px 14px 0 14px;

    //帖子详情
    .info-post {
      //margin-top: 2px;
      color: #212121;
      font-size: 14px;
      .post-txt {
        padding-bottom: 10px;
        .topic-name {
          color: #4A90E2;
        }
      }
    }

    //帖子图片
    .post-img {
      margin-bottom: 2%;
      //img标签图片有默认高宽，需要清除默认样式
      .img {
        display: inline-block;
        float: left;
        overflow: hidden;
        max-width: 40%;
        margin-right: 4px;
        margin-top: 4px;
        > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    //定位
    .location-box {
      position: relative;
      display: inline-block;
      height: 20px;
      margin-bottom: 7px;
      background-color: #E5E5E5;
      color: #808080;
      border-radius: 5px;
      font-size: 10px;
      #location-img {
        float: left;
        border: none;
        background: url("../../images/forum/location.png") no-repeat;
        background-size: 36px*0.3 48px*0.3;
        height: 15px;
        width: 11px;
        margin-left: 5px;
        margin-top: 3px;
      }
      .location {
        float: left;
        line-height: 20px;
        padding-left: 5px;
        padding-right: 7px;
      }
    }

    //点赞区
    .footer {
      height: 60px;
      width: 100%;
      padding-bottom: 14px;
      .footer-triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #e5e5e5;
        margin-left: 20px;
      }
      .footer-info {
        height: 44px;
        width: 100%;
        background-color: #e5e5e5;
        float: left;
        .circle {
          float: left;
          margin: 7px 5px;
          .size(30px,30px);
          border-radius: 30px;
          background-color: #D8D8D8;
        }
        .like-people {
          .like-img {
            .size(30px,30px);
            border-radius: 30px;
            background-color: #D8D8D8;
          }
        }
        .like-num {
          line-height: 30px;
        }
        .like-btn {
          .size(50px,44px);
          background-color: #D8D8D8;
          float: right;
          line-height: 50px;
          margin-left: 10px;
          .like-btn-img {
            display: inline-block;
            margin-left: 12px;
            background: url("../../images/forum/detail/sprite.png") no-repeat;
            .size(26px,23px);
            background-size: 180px*0.5 72px*0.5;
            background-position: -43px -7px;
          }
        }
      }

    }

    //讨论区
    .discuss {
      width: 100%;
      .discuss-header {
        color: #808080;
        font-size: 13px;
        .discuss-img {
          float: left;
          display: inline-block;
          .size(23px,22px);
          padding-right: 10px;
          background: url("../../images/forum/detail/sprite.png") no-repeat;
          background-size: 180px*0.5 72px*0.5;
          background-position: -7px -7px;
        }
        .discuss-title {
          float: left;
        }
      }
      .teacher {
        .user-left {

        }
      }
      .student {

      }
    }
  }
}


#downloadCon{
  position: fixed;
  bottom: 0;
  z-index: 990;
  img{
    max-width: 100%;
  }
  a {
    .size(80px,32px);
    position: absolute;
    top:50%;
    margin-top: -16px;
    right: 12px;
    display:block;
    text-decoration: none;
    background-color: #FF5A00;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    line-height: 32px;
  }
}